# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules/
*.log
*.gz

*.txt

# Compiled Stuff
public/**/*.html
public/js/armor_data.js
public/js/weapon_data.js
public/js/item_data.js
public/mh2/js/weapon_data.js
public/mh2/js/armor_data.js
