{{> head}}

<script type="text/javascript">
	window.armorData = {
		headgear: [{{#headgear}}{{> armor_data}},{{/headgear}}],
		torso: [{{#torso}}{{> armor_data}},{{/torso}}],
		arms: [{{#arms}}{{> armor_data}},{{/arms}}],
		waist: [{{#waist}}{{> armor_data}},{{/waist}}],
		legs: [{{#legs}}{{> armor_data}},{{/legs}}]
	}
</script>

<div class="armor-filter-buttons">
	<h3>Gender:</h3>
	<input id="armor-gender-a" name="armor-gender" type="radio" value="a" checked/><label for="armor-gender-a">Both</label>
	<input id="armor-gender-f" name="armor-gender" type="radio" value="f"/><label for="armor-gender-f">Female</label>
	<input id="armor-gender-m" name="armor-gender" type="radio" value="m"/><label for="armor-gender-m">Male</label>
</div>

<div class="armor-filter-buttons">
	<h3>Armor Class:</h3>
	<input id="armor-class-a" name="armor-class" type="radio" value="a" checked/><label for="armor-class-a">All</label>
	<input id="armor-class-b" name="armor-class" type="radio" value="b"/><label for="armor-class-b">Blademaster</label>
	<input id="armor-class-g" name="armor-class" type="radio" value="g"/><label for="armor-class-g">Gunner</label>
	<input id="armor-class-e" name="armor-class" type="radio" value="e"/><label for="armor-class-e">Both</label>
</div>

<button id="popup-show" class="base-only">See Skilled Armor Sets</button>

<details>
	<summary><h2>Headgear</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Defense</th>
					<th colspan="4">Resistances</th>
					<th class="mhg">Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#headgear}}
				{{> headgear_row}}
			{{/headgear}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Torso</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th class="mhg">Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#torso}}
				{{> torso_row}}
			{{/torso}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Arms</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th class="mhg">Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#arms}}
				{{> arms_row}}
			{{/arms}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Waist</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th class="mhg">Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#waist}}
				{{> waist_row}}
			{{/waist}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Legs</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th class="mhg">Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#legs}}
				{{> legs_row}}
			{{/legs}}
		</tbody>
	</table>
</details>

<aside id="armor-builder">
	<button id="toggle-builder">
		<div class="builder-button-copy">Armor Set Builder</div>
	</button>

	<div class="armor-builder-content">
		<div class="armor-rows-container">
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/headgear.gif"/>
				<span class="headgear-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/torso.gif"/>
				<span class="torso-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/arms.gif"/>
				<span class="arms-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/waist.gif"/>
				<span class="waist-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/legs.gif"/>
				<span class="legs-name armor-name"></span>
			</div>
		</div>
		<div class="gender-mixing-error">Female and Male armor cannot be worn together!</div>
		<div class="class-mixing-error">Blademaster and Gunner armor cannot be worn together!</div>
		<div class="stats-rows">
			<table>
				<tbody>
					<tr>
						<th scope="row">Health</th><td class="health-stat">100</td>
						<td>
							<img class="attribute-icon" src="images/attributes/fire.png" alt="Fire"/>
							<span class="fire-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Stamina</th><td class="stamina-stat">100</td>
						<td>
							<img class="attribute-icon" src="images/attributes/water.png" alt="Water"/>
							<span class="water-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Attack</th><td class="attack-stat">0</td>
						<td>
							<img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder"/>
							<span class="thunder-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Defense</th><td class="defense-stat">0</td>
						<td>
							<img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon"/>
							<span class="dragon-res res-value">0</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table>
			<tbody id="armor-skills">
			</tbody>
		</table>
		<table id="armor-cost-table">
			<tbody>
				<tr><td>Cost:</td><td><span class="armor-cost">0</span>z</td></tr>
			</tbody>
		</table>
		<table>
			<tbody id="armor-materials">
				<tr><td>None</td></tr>
			</tbody>
		</table>
	</div>
</aside>

<div id="skill-set-popup" class="popup">
	<div class="popup-content">
		<div class="popup-header">
			<h3>Armor Sets</h3>
			<button class="popup-close" title="Close">close</button>
		</div>
		<div class="popup-body">
			<table>
				<thead>
					<tr><td></td><td>Pieces</td><td>Skills</td></tr>
				</thead>
				<tbody id="skill-set-popup-tbody">
				</tbody>
			</table>
		</div>
	</div>
</div>

{{> foot}}
