{{> head}}

<details>
	<summary><h2>Headgear</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Defense</th>
					<th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#helmets}}
				{{> headgear_row}}
			{{/helmets}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Torso</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#torso}}
				{{> armor_row}}
			{{/torso}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Arms</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#arms}}
				{{> armor_row}}
			{{/arms}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Waist</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#waist}}
				{{> armor_row}}
			{{/waist}}
		</tbody>
	</table>
</details>

{{> foot}}
