{{> head}}

<details>
	<summary><h2>Headgear</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Defense</th>
					<th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#helmets}}
				{{> headgear_row}}
			{{/helmets}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Torso</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#torso}}
				{{> torso_row}}
			{{/torso}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Arms</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#arms}}
				{{> arms_row}}
			{{/arms}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Waist</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#waist}}
				{{> waist_row}}
			{{/waist}}
		</tbody>
	</table>
</details>

<details>
	<summary><h2>Legs</h2></summary>
	<table>
		<thead>
			<tr>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th>Class</th>
					<th>Defense</th><th colspan="4">Resistances</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</tr>
		</thead>
		<tbody>
			{{#legs}}
				{{> legs_row}}
			{{/legs}}
		</tbody>
	</table>
</details>

<aside id="armor-builder">
	<button id="toggle-builder">Armor Set Builder</button>

	<div class="armor-builder-content">
		<div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/headgear.gif"/>
				<span class="helmet-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/torso.gif"/>
				<span class="torso-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/arms.gif"/>
				<span class="arms-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/waist.gif"/>
				<span class="waist-name armor-name"></span>
			</div>
			<div class="armor-row">
				<img class="armor-icon" src="images/armor_icons/legs.gif"/>
				<span class="legs-name armor-name"></span>
			</div>
		</div>
		<div class="stats-rows">
			<table>
				<tbody>
					<tr>
						<th scope="row">Health</th><td class="health-stat">100</td>
						<td>
							<img class="attribute-icon" src="images/attributes/fire.png" alt="Fire"/>
							<span class="fire-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Stamina</th><td class="stamina-stat">100</td>
						<td>
							<img class="attribute-icon" src="images/attributes/water.png" alt="Water"/>
							<span class="water-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Attack</th><td class="attack-stat">0</td>
						<td>
							<img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder"/>
							<span class="thunder-res res-value">0</span>
						</td>
					</tr>
					<tr>
						<th scope="row">Defense</th><td class="defense-stat">0</td>
						<td>
							<img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon"/>
							<span class="dragon-res res-value">0</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table>
			<tbody id="armor-skills">
			</tbody>
		</table>
	</div>
</aside>

{{> foot}}
