{{> head}}

{{#monsters}}
	<details class="monster-details{{#unknown}} unknown{{/unknown}}{{#gOnly}} g-only{{/gOnly}}">
		<summary>
			<div class="monster-row">
				<div class="monster-icon-container">
					<div class="monster-icon monster-{{ icon }}"></div>
				</div>
				<div class="monster-description">
					<h3>{{ name }} <span class="kana" title="{{ kata }} ({{ rome }})">{{ kata }}</span></h3>
					<p>{{ &description }}</p>
				</div>
			</div>
		</summary>

		<section class="monster-container">
			<div class="monster-image">
				<img src="images/monsters/{{ image }}.png" alt="{{ name }}" title="{{ name }}"/>
			</div>

			<aside class="monster-data">
				<ul>
					{{#notes}}
						<li>{{&.}}</li>
					{{/notes}}
					{{#mhgNotes}}
						<li class="mhg-only">{{&.}}</li>
					{{/mhgNotes}}
				</ul>

				{{#stars1}}
					<div class="starred-stats mh1">
						<table>
							<caption>Weapon Class</caption>
							<tbody>
								<tr>
									<td><span class="white-icon gs-icon" title="Cutting">Cutting</span></td>
									<td>{{{stars1.weapons.0}}}</td>
								</tr>
								<tr>
									<td><span class="white-icon hammer-icon" title="Blunt">Blunt</span></td>
									<td>{{{stars1.weapons.1}}}</td>
								</tr>
								<tr>
									<td><span class="white-icon shot-icon" title="Shot">Shot</span></td>
									<td>{{{stars1.weapons.2}}}</td>
								</tr>
							</tbody>
						</table>

						<table>
							<caption>Element</caption>
							<tbody>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/fire.png" alt="Fire" title="Fire"/></td>
									<td>{{{stars1.elements.0}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/water.png" alt="Water" title="Water"/></td>
									<td>{{{stars1.elements.1}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder" title="Thunder"/></td>
									<td>{{{stars1.elements.2}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon" title="Dragon"/></td>
									<td>{{{stars1.elements.3}}}</td>
								</tr>
							</tbody>
						</table>

						<table>
							<caption>Status</caption>
							<tbody>
								<tr>
									<td><img class="status-icon" src="images/attributes/poison.png" alt="Poison" title="Poison"/></td>
									<td>{{{stars1.statuses.0}}}</td>
								</tr>
								<tr>
									<td><img class="status-icon" src="images/attributes/paralysis.png" alt="Paralysis" title="Paralysis"/></td>
									<td>{{{stars1.statuses.1}}}</td>
								</tr>
								<tr>
									<td><img class="status-icon" src="images/attributes/sleep.png" alt="Sleep" title="Sleep"/></td>
									<td>{{{stars1.statuses.2}}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				{{/stars1}}
				{{#starsG}}
					<div class="starred-stats mhg">
						<table>
							<caption>Weapon Class</caption>
							<tbody>
								<tr>
									<td><span class="white-icon gs-icon" title="Cutting">Cutting</span></td>
									<td>{{{starsG.weapons.0}}}</td>
								</tr>
								<tr>
									<td><span class="white-icon hammer-icon" title="Blunt">Blunt</span></td>
									<td>{{{starsG.weapons.1}}}</td>
								</tr>
								<tr>
									<td><span class="white-icon shot-icon" title="Shot">Shot</span></td>
									<td>{{{starsG.weapons.2}}}</td>
								</tr>
							</tbody>
						</table>

						<table>
							<caption>Element</caption>
							<tbody>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/fire.png" alt="Fire" title="Fire"/></td>
									<td>{{{starsG.elements.0}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/water.png" alt="Water" title="Water"/></td>
									<td>{{{starsG.elements.1}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder" title="Thunder"/></td>
									<td>{{{starsG.elements.2}}}</td>
								</tr>
								<tr>
									<td><img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon" title="Dragon"/></td>
									<td>{{{starsG.elements.3}}}</td>
								</tr>
							</tbody>
						</table>

						<table>
							<caption>Status</caption>
							<tbody>
								<tr>
									<td><img class="status-icon" src="images/attributes/poison.png" alt="Poison" title="Poison"/></td>
									<td>{{{starsG.statuses.0}}}</td>
								</tr>
								<tr>
									<td><img class="status-icon" src="images/attributes/paralysis.png" alt="Paralysis" title="Paralysis"/></td>
									<td>{{{starsG.statuses.1}}}</td>
								</tr>
								<tr>
									<td><img class="status-icon" src="images/attributes/sleep.png" alt="Sleep" title="Sleep"/></td>
									<td>{{{starsG.statuses.2}}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				{{/starsG}}

				<details>
					<summary>Detailed Stats</summary>

					{{#sizes}}
						<table class="sizes mhg">
							<caption>Sizes</caption>

							<tbody>
								<tr>
									<th>Avg</th>
									<td class="ta-r">{{sizes.base}} cm</td>
								</tr>
								<tr title="Minimum size for a silver crown">
									<th><span class="ui-icon silver-crown-icon" title="Silver">Silver</span></th>
									<td class="ta-r">{{sizes.silver}} cm</td>
								</tr>
								<tr title="Minimum size for a gold crown">
									<th><span class="ui-icon gold-crown-icon" title="Gold">Gold</span></th>
									<td class="ta-r">{{sizes.gold}} cm</td>
								</tr>
							</tbody>
						</table>
					{{/sizes}}

					<table class="hitpoints-table mh1">
						<caption>Hitpoints{{#largeVersion}} (large in parentheses){{/largeVersion}}</caption>
						<thead>
							<tr>
								<th></th>
								<th>Village</th>
								<th>Low Rank Town</th>
								<th>High Rank Town</th>
							</tr>
						</thead>

						<tbody class="ta-r">
							<tr>
								<th>Hitpoints</th>
								{{#hp1}}
									<td>{{^.}}n/a{{/.}}{{.}}</td>
								{{/hp1}}
							</tr>
							<tr>
								<th>Attack</th>
								{{#atk1}}
									<td>{{^.}}n/a{{/.}}{{.}}</td>
								{{/atk1}}
							</tr>
							<tr>
								<th>Defense</th>
								{{#def1}}
									<td>{{^.}}n/a{{/.}}{{.}}</td>
								{{/def1}}
							</tr>
						</tbody>
					</table>

					<table class="hitpoints-table mhg">
						<caption>Hitpoints{{#largeVersion}} (large in parentheses){{/largeVersion}}{{#unusedHPG}} (gray values are unused in-game){{/unusedHPG}}</caption>
						<thead>
							<tr>
								<th>Hitpoints</th>
								<th>Attack Modifier</th>
								<th>Defense Modifier</th>
							</tr>
						</thead>

						<tbody{{#unusedHPG}} class="unused-values"{{/unusedHPG}}>
							{{#hpG}}
								<tr{{#active}} class="active"{{/active}}>
									<td class="ta-r">{{h}}</td><td>&times;{{a}}</td><td>&times;{{d}}</td>
								</tr>
							{{/hpG}}
						</tbody>
					</table>

					{{#hpSpecial}}
						<p class="mhg">{{{hpSpecial}}}</p>
					{{/hpSpecial}}

					<table class="hitzones-table">
						<caption>Weapon and Element Effectiveness (in %)</caption>
						<thead>
							<tr>
								<th><span class="yellow-icon creature-icon" title="Body Part">Body Part</span></th>
								<th><span class="white-icon gs-icon" title="Cutting">Cutting</span></th>
								<th><span class="white-icon hammer-icon" title="Blunt">Blunt</span></th>
								<th><span class="white-icon shot-icon" title="Shot">Shot</span></th>
								<th><img class="attribute-icon" src="images/attributes/fire.png" alt="Fire" title="Fire"/></th>
								<th><img class="attribute-icon" src="images/attributes/water.png" alt="Water" title="Water"/></th>
								<th><img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder" title="Thunder"/></th>
								<th><img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon" title="Dragon"/></th>
							</tr>
						</thead>

						<tbody class="mh1">
							{{#hitzones1}}
								<tr>
									<th>{{name}}</th>
									{{#zones}}
										<td class="ta-r">{{.}}</td>
									{{/zones}}
								</tr>
							{{/hitzones1}}
						</tbody>

						<tbody class="mhg">
							{{#hitzonesG}}
								<tr>
									<th{{{zone_cell_attributes}}}>{{name}}</th>
									{{#zones}}
										<td class="ta-r">{{.}}</td>
									{{/zones}}
								</tr>
							{{/hitzonesG}}
						</tbody>
					</table>

					<div{{^statusG}}{{^status1}} style="display: none"{{/status1}}{{/statusG}}>
						<table{{^statusG}}{{^status1}} style="display: none"{{/status1}}{{/statusG}}>
							<caption>Status Tolerance</caption>
							<thead>
								<tr>
									<th></th>
									<th>Tolerance</th>
									<th>Duration</th>
									<th>Recovery</th>
									<th>Damage</th>
								</tr>
							</thead>

							<tbody class="mh1">
								{{#status1}}
									<tr class="ta-r">
										<td><img class="status-icon" src="images/attributes/{{name}}.png" alt="{{title}}" title="{{title}}"/></td>
										{{#immune}}
											<td colspan=4 class="ta-c">Immune</td>
										{{/immune}}
										{{^immune}}
											<td>{{#tolerance}}<span class="comma-separated">{{.}}</span>{{/tolerance}}</td>
											<td>{{duration}}s</td>
											<td>{{recovery}}</td>
											<td>{{^damage}}n/a{{/damage}}{{damage}}</td>
										{{/immune}}
									</tr>
								{{/status1}}
							</tbody>

							<tbody class="mhg">
								{{#statusG}}
									<tr class="ta-r">
										<td><img class="status-icon" src="images/attributes/{{name}}.png" alt="{{title}}" title="{{title}}"/></td>
										{{#immune}}
											<td colspan=4 class="ta-c">Immune</td>
										{{/immune}}
										{{^immune}}
											<td>{{#tolerance}}<span class="comma-separated">{{.}}</span>{{/tolerance}}</td>
											<td>{{duration}}s</td>
											<td>{{recovery}}</td>
											<td>{{^damage}}n/a{{/damage}}{{damage}}</td>
										{{/immune}}
									</tr>
								{{/statusG}}
							</tbody>
						</table>

						<p>
							Tolerance increases to the next value each time the monster succumbs to the status effect, up to the given maximum.
						</p>
					</div>
				</details>

				<details{{^carvesG}} style="display:none"{{/carvesG}}>
					<summary>Carves</summary>

					<table>
						<thead>
							<tr>
								<td>Name</td>
								<td>Carve Chance</td>
							</tr>
						</thead>

						<tbody class="mh1">
							{{#carves1}}
								<tr><td colspan=2 class="ta-c">{{name}}</td></tr>
								{{#parts}}
									<tr>
										<td>{{n}}</td>
										<td class="ta-r">{{p}}%</td>
									</tr>
								{{/parts}}
							{{/carves1}}
						</tbody>

						<tbody class="mhg">
							{{#carvesG}}
								<tr><td colspan=2 class="ta-c">{{name}}</td></tr>
								{{#parts}}
									<tr>
										<td>{{n}}</td>
										<td class="ta-r">{{p}}%</td>
									</tr>
								{{/parts}}
							{{/carvesG}}
						</tbody>
					</table>
				</details>
			</aside>
		</section>
	</details>
{{/monsters}}

{{> foot}}
