{{> head}}

{{#monsters}}
	<details class="monster-details{{#unknown}} unknown{{/unknown}}{{#gOnly}} g-only{{/gOnly}}">
		<summary>
			<div class="monster-row">
				<div class="monster-icon-container">
					<div class="monster-icon monster-{{ icon }}"></div>
				</div>
				<div class="monster-description">
					<h3>{{ name }} <span class="katakana" title="{{ kata }} ({{ rome }})">{{ kata }}</span></h3>
					<p>{{ &description }}</p>
				</div>
			</div>
		</summary>

		<section class="monster-container">
			<div class="monster-image">
				<img src="images/monsters/{{ image }}.png" alt="{{ name }}" title="{{ name }}"/>
			</div>

			<aside class="monster-data">
				<ul>
					{{#notes}}
						<li>{{&.}}</li>
					{{/notes}}
					{{#mhgNotes}}
						<li class="mhg-only">{{&.}}</li>
					{{/mhgNotes}}
				</ul>

				<details>
					<summary>Detailed Stats</summary>

					<table class="mh1">
						<caption>Hitpoints{{#largeVersion}} (large in parentheses){{/largeVersion}}</caption>
						<thead>
							<tr>
								<th>Village</th>
								<th>Low Rank Town</th>
								<th>High Rank Town</th>
							</tr>
						</thead>
						<tbody class="ta-r">
							<tr>
								{{#hp1}}
									<td>{{.}}</td>
								{{/hp1}}
							</tr>
						</tbody>
					</table>

					<table class="mhg">
						<caption>Hitpoints{{#largeVersion}} (large in parentheses){{/largeVersion}}{{#unusedHPG}} (gray values are unused in-game){{/unusedHPG}}</caption>
						<thead>
							<tr>
								<th>Hitpoints</th>
								<th>Attack Modifier</th>
								<th>Defense Modifier</th>
							</tr>
						</thead>
						<tbody{{#unusedHPG}} class="unused-values"{{/unusedHPG}}>
							{{#hpG}}
								<tr{{#active}} class="active"{{/active}}>
									<td class="ta-r">{{h}}</td><td>x{{a}}</td><td>x{{d}}</td>
								</tr>
							{{/hpG}}
						</tbody>
					</table>

					{{#hpSpecial}}
						<p class="mhg">{{{hpSpecial}}}</p>
					{{/hpSpecial}}

					<table class="hitzones-table">
						<caption>Weapon and Element Effectiveness (in %)</caption>
						<thead>
							<tr>
								<th><span class="yellow-icon creature-icon" title="Body Part">Body Part</span></th>
								<th><span class="white-icon gs-icon" title="Cutting">Cutting</span></th>
								<th><span class="white-icon hammer-icon" title="Blunt">Blunt</span></th>
								<th><span class="white-icon shot-icon" title="Shot">Shot</span></th>
								<th><img class="attribute-icon" src="images/attributes/fire.png" alt="Fire" title="Fire"/></th>
								<th><img class="attribute-icon" src="images/attributes/water.png" alt="Water" title="Water"/></th>
								<th><img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder" title="Thunder"/></th>
								<th><img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon" title="Dragon"/></th>
							</tr>
						</thead>
						<tbody class="mh1">
							{{#hitzones1}}
								<tr>
									<th>{{name}}</th>
									{{#zones}}
										<td class="ta-r">{{.}}</td>
									{{/zones}}
								</tr>
							{{/hitzones1}}
						</tbody>
						<tbody class="mhg">
							{{#hitzonesG}}
								<tr>
									<th{{{zone_cell_attributes}}}>{{name}}</th>
									{{#zones}}
										<td class="ta-r">{{.}}</td>
									{{/zones}}
								</tr>
							{{/hitzonesG}}
						</tbody>
					</table>

					<div{{^statusG}} style="display: none"{{/statusG}}>
						<table{{^statusG}} style="display: none"{{/statusG}}>
							<caption>Status Tolerance</caption>
							<thead>
								<tr>
									<th></th>
									<th>Tolerance</th>
									<th>Duration</th>
									<th>Recovery</th>
									<th>Damage</th>
								</tr>
							</thead>
							<tbody class="mh1">
								{{#status1}}
									<tr>
										<td><img class="status-icon" src="images/attributes/{{name}}.png" alt="{{title}}" title="{{title}}"/></td>
										<td>{{#tolerance}}<span class="comma-separated">{{.}}</span>{{/tolerance}}</td>
										<td class="ta-r">{{duration}}s</td>
										<td class="ta-r">{{recovery}}</td>
										<td class="ta-r">{{damage}}</td>
									</tr>
								{{/status1}}
							</tbody>
							<tbody class="mhg">
								{{#statusG}}
									<tr>
										<td><img class="status-icon" src="images/attributes/{{name}}.png" alt="{{title}}" title="{{title}}"/></td>
										<td>{{#tolerance}}<span class="comma-separated">{{.}}</span>{{/tolerance}}</td>
										<td class="ta-r">{{duration}}s</td>
										<td class="ta-r">{{recovery}}</td>
										<td class="ta-r">{{damage}}</td>
									</tr>
								{{/statusG}}
							</tbody>
						</table>

						<p>
							Tolerance increases to the next value each time the monster succumbs to the status effect, up to the given maximum.
						</p>
					</div>
				</details>
			</aside>
		</section>
	</details>
{{/monsters}}

{{> foot}}
