{{> head}}

<main>
	<p>
		This wiki covers a variety of data from Monster Hunter 1 (Japan) and Monster Hunter G. Many sections are still under construction.
	</p>

	<h2>
		Old-School Monster Hunter<br/>
		Event and Shop Special Calendar
	</h2>
	<p>
		The events and shop specials change each day at <span id="event-special-time"></span> your time (10:00&nbsp;PM GMT&plusmn;0)
	</p>

	<div class="calendar-container">
		<div class="calendar-table-container">
			<table class="calendar">
				<caption>
					<button id="previous-month">&larr;</button>
					<span id="calendar-title"></span>
					<button id="next-month">&rarr;</button>
				</caption>
				<thead>
					<tr>
						<th class="start-sunday">Sun<span class="hide-mobile">day</span></th>
						<th>Mon<span class="hide-mobile">day</span></th>
						<th>Tue<span class="hide-mobile">sday</span></th>
						<th>Wed<span class="hide-mobile">nesday</span></th>
						<th>Thu<span class="hide-mobile">rsday</span></th>
						<th>Fri<span class="hide-mobile">day</span></th>
						<th>Sat<span class="hide-mobile">urday</span></th>
						<th class="end-sunday">Sun<span class="hide-mobile">day</span></th>
					</tr>
				</thead>
				<tbody id="calendar-tbody">
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<span>First day of the week: </span>
							<input id="week-start-toggle" type="checkbox"/>
							<label for="week-start-toggle" class="switch-label">
								<span>Sunday</span>
								<span class="switch-button">
									<span class="button-tab"></span>
								</span>
								<span>Monday</span>
							</label>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<aside class="current-container">
			<div class="countdown-container">
				<span>Event and Shop Special will change in: </span>
				<span id="countdown-hours" class="countdown-digits">00</span>
				<span class="countdown-separator">:</span>
				<span id="countdown-minutes" class="countdown-digits">00</span>
			</div>

			<div id="current-event">
				<h3>Current Event</h3>
				<div id="current-event-content" class="current-content mh1">
					<h4 id="current-event-title" class="current-title"></h4>
					<h5 class="current-subtitle">Locale: <span id="current-event-location"></span></h5>
					<h5 id="current-target-container" class="current-subtitle">Target: <span id="current-target"></span></h5>
					<h5 class="current-subtitle">Client: <span id="current-event-client"></span></h5>
					<hr/>
					<p id="current-event-description" class="current-description">
					</p>
				</div>
				<div class="current-content g-only">
					<p class="current-description">
						Currently, there are no event quests available in Monster Hunter G.
					</p>
				</div>
			</div>

			<div id="current-special">
				<h3>Current Shop Special</h3>
				<div class="current-content">
					<h4 id="current-special-title" class="current-title"></h4>
					<p id="current-special-description" class="current-description">
					</p>
				</div>
			</div>
		</aside>
	</div>
</main>

{{> foot}}
