{{> head}}

<main>
	<p>
		This wiki covers a variety of data from Monster Hunter 1 (Japan) and Monster Hunter G. Many sections are still under construction.
	</p>

	<h2>
		Old-School Monster Hunter<br/>
		Event and Shop Special Calendar
	</h2>
	<p>
		The events and shop specials change each day at <span id="event-special-time"></span> your time (<span id="event-time-gmt"></span>:00&nbsp;PM GMT&plusmn;0)
	</p>

	<div class="calendar-container">
		<div class="calendar-table-container">
			<table class="calendar">
				<caption>
					<button id="previous-month">&larr;</button>
					<span id="calendar-title"></span>
					<button id="next-month">&rarr;</button>
				</caption>
				<thead>
					<tr>
						<th class="start-sunday">Sun<span class="hide-mobile">day</span></th>
						<th>Mon<span class="hide-mobile">day</span></th>
						<th>Tue<span class="hide-mobile">sday</span></th>
						<th>Wed<span class="hide-mobile">nesday</span></th>
						<th>Thu<span class="hide-mobile">rsday</span></th>
						<th>Fri<span class="hide-mobile">day</span></th>
						<th>Sat<span class="hide-mobile">urday</span></th>
						<th class="end-sunday">Sun<span class="hide-mobile">day</span></th>
					</tr>
				</thead>
				<tbody id="calendar-tbody">
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
					<tr class="calendar-week">
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
						<td>
							<div class="day-number">1</div>
							<div class="day-event">
								<div class="day-event-mh1 mh1"></div>
								<div class="day-event-mhg mhg"></div>
							</div>
							<div class="day-special"></div>
						</td>
					</tr>
				</tbody>
				<tfoot style="display:none">
					<tr>
						<td colspan="7">
							<span>First day of the week: </span>
							<input id="week-start-toggle" type="checkbox"/>
							<label for="week-start-toggle" class="switch-label">
								<span>Sunday</span>
								<span class="switch-button">
									<span class="button-tab"></span>
								</span>
								<span>Monday</span>
							</label>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<aside class="current-container">
			<div class="countdown-container">
				<span>Event and Shop Special will change in: </span>
				<span id="countdown-hours" class="countdown-digits">00</span>
				<span class="countdown-separator">:</span>
				<span id="countdown-minutes" class="countdown-digits">00</span>
			</div>

			<div id="current-event">
				<h3>Current Event<span id="current-events-plural" class="mhg">s</span></h3>
				<div id="current-event-content" class="current-content mh1">
					<h4 id="current-event-title" class="current-title"></h4>
					<h5 class="current-subtitle">Locale: <span id="current-event-location"></span></h5>
					<h5 id="current-target-container" class="current-subtitle">Target: <span id="current-target"></span></h5>
					<h5 class="current-subtitle">Client: <span id="current-event-client"></span></h5>
					<hr/>
					<p id="current-event-description" class="current-description">
					</p>
				</div>

				<!-- Up to three possible events at once for MHG -->
				<div class="current-events-slider-container mhg">
					<button id="slider-button-previous" class="current-event-button">Previous</button>
					<div id="current-events-slider">
						<div id="current-events-container">
							<div class="current-content current-content-g current-event-slide">
								<h4 class="current-event-title-g current-title"></h4>
								<h5 class="current-subtitle">Locale: <span class="current-event-location-g"></span></h5>
								<h5 class="current-target-container-g current-subtitle">Target: <span class="current-target-g"></span></h5>
								<h5 class="current-subtitle">Client: <span class="current-event-client-g"></span></h5>
								<hr/>
								<p class="current-event-description-g current-description">
								</p>
							</div>

							<div class="current-content current-content-g current-event-slide">
								<h4 class="current-event-title-g current-title"></h4>
								<h5 class="current-subtitle">Locale: <span class="current-event-location-g"></span></h5>
								<h5 class="current-target-container-g current-subtitle">Target: <span class="current-target-g"></span></h5>
								<h5 class="current-subtitle">Client: <span class="current-event-client-g"></span></h5>
								<hr/>
								<p class="current-event-description-g current-description">
								</p>
							</div>

							<div class="current-content current-content-g current-event-slide">
								<h4 class="current-event-title-g current-title"></h4>
								<h5 class="current-subtitle">Locale: <span class="current-event-location-g"></span></h5>
								<h5 class="current-target-container-g current-subtitle">Target: <span class="current-target-g"></span></h5>
								<h5 class="current-subtitle">Client: <span class="current-event-client-g"></span></h5>
								<hr/>
								<p class="current-event-description-g current-description">
								</p>
							</div>
						</div>
					</div>
					<button id="slider-button-next" class="current-event-button">Next</button>
				</div>
			</div>

			<div id="current-events-none" class="current-content">
				<h4 class="current-title">No events currently active</h4>
			</div>

			<div id="current-special">
				<h3>Current Shop Special</h3>
				<div class="current-content">
					<h4 id="current-special-title" class="current-title"></h4>
					<p id="current-special-description" class="current-description">
					</p>
				</div>
			</div>
		</aside>
	</div>
</main>

<div id="dialog-backdrop"></div>
<dialog id="events-dialog" class="current-content">
	<button id="close-events-dialog" class="close-dialog-button">X</button>
	<h2>Events for <span id="dialog-date"></span></h2>
	<hr/>

	<div id="dialog-event-content" class="current-content mh1">
		<h3 id="dialog-event-title-1" class="current-title"></h3>
		<h4 class="current-subtitle">Locale: <span id="dialog-event-location-1"></span></h4>
		<h4 id="dialog-event-target-container-1" class="current-subtitle">Target: <span id="dialog-event-target-1"></span></h4>
		<h4 class="current-subtitle">Client: <span id="dialog-event-client-1"></span></h4>
		<hr/>
		<p id="dialog-event-description-1"></p>
	</div>

	<div id="dialog-slider" class="mhg">
		<div class="slider-container">
			<div id="dialog-slider-row" class="slider-row">
				<div class="current-content dialog-event-slide">
					<h3 class="dialog-event-title-g current-title"></h3>
					<h4 class="current-subtitle">Locale: <span class="dialog-event-location-g"></span></h4>
					<h4 class="dialog-event-target-container-g current-subtitle">Target: <span class="dialog-event-target-g"></span></h4>
					<h4 class="current-subtitle">Client: <span class="dialog-event-client-g"></span></h4>
					<hr/>
					<p class="dialog-event-description-g"></p>
				</div>

				<div class="current-content dialog-event-slide">
					<h3 class="dialog-event-title-g current-title"></h3>
					<h4 class="current-subtitle">Locale: <span class="dialog-event-location-g"></span></h4>
					<h4 class="dialog-event-target-container-g current-subtitle">Target: <span class="dialog-event-target-g"></span></h4>
					<h4 class="current-subtitle">Client: <span class="dialog-event-client-g"></span></h4>
					<hr/>
					<p class="dialog-event-description-g"></p>
				</div>

				<div class="current-content dialog-event-slide">
					<h3 class="dialog-event-title-g current-title"></h3>
					<h4 class="current-subtitle">Locale: <span class="dialog-event-location-g"></span></h4>
					<h4 class="dialog-event-target-container-g current-subtitle">Target: <span class="dialog-event-target-g"></span></h4>
					<h4 class="current-subtitle">Client: <span class="dialog-event-client-g"></span></h4>
					<hr/>
					<p class="dialog-event-description-g"></p>
				</div>
			</div>
		</div>

		<div class="dialog-button-container">
			<button id="dialog-button-previous" class="dialog-button">&lt;</button>
			<div class="page-number-container">Page <span id="page-number">1</span>/<span id="page-total"></span></div>
			<button id="dialog-button-next" class="dialog-button">&gt;</button>
		</div>

		<div class="dialog-no-events">
			<p>No events are active on this day</p>
		</div>
	</div>
</dialog>

{{> foot}}
