{{> head}}

<main>
	<p>
		This wiki covers a variety of data from Monster Hunter 1 (Japan) and Monster Hunter G. Many sections are still under construction.
	</p>

	<section class="base-only">
		<h2>
			Old-School Monster Hunter<br/>
			Event and Shop Special Calendar
		</h2>
		<p>The events and shop specials change each day at <span id="event-special-time"></span> your time. The days marked on the calendar are when the new event takes over.</p>

		<div class="calendar-container">
			<table class="calendar">
				<caption>
					<button id="previous-month">&larr;</button>
					<span id="calendar-title"></span>
					<button id="next-month">&rarr;</button>
				</caption>
				<thead>
					<tr>
						<th>Sunday</th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
						<th>Saturday</th>
					</tr>
				</thead>
				<tbody id="calendar-tbody">
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
					<tr class="calendar-week">
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
						<td><div class="day-number">1</div><div class="day-event"></div><div class="day-special"></div></td>
					</tr>
				</tbody>
			</table>

			<aside class="current-container">
				<div id="current-event">
					<h3>Current Event</h3>
					<div id="current-event-content" class="current-content">
						<h4 id="current-event-title" class="current-title"></h4>
						<p id="current-event-description" class="current-description">
						</p>
					</div>
				</div>

				<div id="current-special">
					<h3>Current Shop Special</h3>
					<div class="current-content">
						<h4 id="current-special-title" class="current-title"></h4>
						<p id="current-special-description" class="current-description">
						</p>
					</div>
				</div>
			</aside>
		</div>
	</section>

	<section class="g-only">
		--MHG calendar is a work in progress--
	</section>
</main>

{{> foot}}
