{{> head}}

<article class="items">
	<details>
		<summary><span class="blue-icon tools-icon"></span>Items and Materials</summary>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Maximum Stack</th>
						<th>Rarity</th>
						<th>Buying Price</th>
						<th>Sell Price</th>
					</tr>
				</thead>
				<tbody>
					{{#items}}
					{{^hide}}
						<tr{{#mh1}} class="mh1"{{/mh1}}{{#mhg}} class="mhg"{{/mhg}}>
							<td>
								<span class="{{icon}}"></span>
								<span>{{&name}}{{#mh1}} <sup>1</sup>{{/mh1}}{{#mhg}} <sup>G</sup>{{/mhg}}</span>
							</td>
							<td class="expandable">{{description}}</td>
							<td>
								{{maxStack}}
								{{#maxStack1}}<span class="mh1">{{maxStack1}}</span>{{/maxStack1}}
								{{#maxStackG}}<span class="mhg">{{maxStackG}}</span>{{/maxStackG}}
							</td>
							<td>{{rarity}}</td>
							<td>{{buy}}z</td>
							<td>{{sell}}z</td>
						</tr>
					{{/hide}}
					{{/items}}
				</tbody>
			</table>
	</details>
</article>

<article class="shops">
	<details>
		<summary><span class="orange-icon coin-icon"></span>Shops</summary>
		<section class="shop-grid">
			{{#shops}}
				<div class="shop-container">
					<table>
						<caption>{{&name}}</caption>
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							{{#stock}}
								<tr class="{{#mhg}}mhg{{/mhg}}{{#special}} shop-special{{/special}}">
									<td><span class="{{class}}"></span><span>{{&name}}</span></td>
									<td>
										{{price}}
										{{#mh1Price}}<span class="mh1">{{mh1Price}}{{/mh1Price}}</span>
										{{#mhgPrice}}<span class="mhg">{{mhgPrice}}{{/mhgPrice}}</span>
									</td>
								</tr>
							{{/stock}}
						</tbody>
					</table>
				</div>
			{{/shops}}
		</section>
	</details>
</article>

<article class="combinations">
	<details>
		<summary><span class="white-icon book-icon"></span>Item Combinations</summary>

		<table class="mh1">
			<thead>
				<tr>
					<th>Name</th>
					<th colspan=2>Ingredients</th>
					<th>Success %</th>
				</tr>
			</thead>
			<tbody>
				{{#combos1}}
					<tr>
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
					</tr>
				{{/combos1}}
			</tbody>
		</table>

		<table class="mhg">
			<thead>
				<tr>
					<th>Name</th>
					<th colspan=2>Ingredients</th>
					<th>Success %</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				{{#combosG}}
					<tr>
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
						<td>{{quantity}}{{^quantity}}1{{/quantity}}</td>
					</tr>
				{{/combosG}}
				<tr>
					<td colspan=5><span class="cyan-icon book-icon"></span>Alchemy Combinations</td>
				</tr>
				{{#combosAlchemy}}
					<tr class="requires-alchemy">
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
						<td>{{quantity}}{{^quantity}}1{{/quantity}}</td>
					</tr>
				{{/combosAlchemy}}
			</tbody>
		</table>
	</details>
</article>

<article class="veggie-elder-trades">
	<details>
		<summary><span class="green-icon mystery-icon"></span>Veggie Elder Trades</summary>

		{{#trades}}
			<details>
				<summary><span class="{{color}}-icon map-icon"></span>{{name}}</summary>

				<table>
					<thead>
						<tr>
							<th>Trade Item</th>
							<th>Common Result (80%)</th>
							<th>Rare Result (20%)</th>
						</tr>
					</thead>
					<tbody>
						{{#mh1}}
							<tr class="mh1">
								{{#items}}
									<td>{{.}}</td>
								{{/items}}
							</tr>
						{{/mh1}}

						{{#mhg}}
							<tr class="mhg">
								{{#items}}
									<td>{{.}}</td>
								{{/items}}
							</tr>
						{{/mhg}}
					</tbody>
				</table>
			</details>
		{{/trades}}
	</details>
</article>

{{> foot}}
