{{> head}}

<article class="shops">
	<details open>
		<summary><span class="gray-icon egg-icon"></span>Shops</summary>
		<section class="shop-grid">
			{{#shops}}
				<div class="shop-container">
					<table>
						<caption>{{&name}}</caption>
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							{{#stock}}
								<tr class="{{#mhg}}mhg{{/mhg}}{{#special}} shop-special{{/special}}">
									<td><span class="{{class}}"></span>{{&name}}</td>
									<td>
										{{price}}
										{{#mh1Price}}<span class="mh1">{{mh1Price}}{{/mh1Price}}</span>
										{{#mhgPrice}}<span class="mhg">{{mhgPrice}}{{/mhgPrice}}</span>
									</td>
								</tr>
							{{/stock}}
						</tbody>
					</table>
				</div>
			{{/shops}}
		</section>
	</details>
</article>

<article class="combinations">
	<details>
		<summary><span class="white-icon book-icon"></span>Item Combinations</summary>

		<table class="mh1">
			<thead>
				<tr>
					<th>Name</th>
					<th colspan=2>Ingredients</th>
					<th>Success %</th>
				</tr>
			</thead>
			<tbody>
				{{#combos1}}
					<tr>
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
					</tr>
				{{/combos1}}
			</tbody>
		</table>

		<table class="mhg">
			<thead>
				<tr>
					<th>Name</th>
					<th colspan=2>Ingredients</th>
					<th>Success %</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				{{#combosG}}
					<tr>
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
						<td>{{quantity}}{{^quantity}}1{{/quantity}}</td>
					</tr>
				{{/combosG}}
				<tr>
					<td colspan=5><span class="cyan-icon book-icon"></span>Alchemy Combinations</td>
				</tr>
				{{#combosAlchemy}}
					<tr class="requires-alchemy">
						<td><span class="{{class}}"></span>{{name}}</td>
						{{#ingredients}}
						<td><span class="{{class}}"></span>{{name}}</td>
						{{/ingredients}}
						<td>{{percent}}%</td>
						<td>{{quantity}}{{^quantity}}1{{/quantity}}</td>
					</tr>
				{{/combosAlchemy}}
			</tbody>
		</table>
	</details>
</article>

{{> foot}}
