{{> head}}

<article class="filters">
	<div class="filter-checks">
		<input id="show-gathering-spots" type="checkbox"/>
		<label for="show-gathering-spots">Show Gathering Spots</label>
	</div>
	<div class="filter-checks mhg">
		<input id="show-gathering-details" type="checkbox"/>
		<label for="show-gathering-details">Show Gathering Details</label>
	</div>
</article>

<div id="maps-container">
	{{#maps}}
		<div class="map">
			<h3>{{name}}</h3>

			<div class="map-container">
				<img src="/images/maps/{{image}}.gif"/>

				{{#icons}}
					<div class="gathering-point {{class}}" style="left:{{x}}%;top:{{y}}%" title="{{name}}" alt="{{name}}"></div>
				{{/icons}}
			</div>
		</div>

		{{#yields}}
			<div class="gathering-container mhg">
				{{#yields.mhg}}
					<h2 class="zone-name">{{zone}}</h2>

					<div class="gathering-spots-container">
						{{#spots}}
							<h2 class="gathering-spot-name"{{#note}} title="{{note}}"{{/note}}>
								<span class="{{class}} va-m"></span><span class="va-m">{{spotName}}</span>
							</h2>

							<div class="gathering-row">
								{{^secret}}
								<table>
									<caption class="ta-l">Low Rank</caption>
									<tbody>
										{{#itemsLow}}
											<tr>
												<td><span class="{{icon}}"></span><span>{{name}}</span></td>
												<td class="ta-r">{{percent}}%</td>
											</tr>
										{{/itemsLow}}
									</tbody>
								</table>
								<table>
									<tbody>
										<caption class="ta-l">High Rank</caption>
										{{#itemsHigh}}
											<tr>
												<td><span class="{{icon}}"></span><span>{{name}}</span></td>
												<td class="ta-r">{{percent}}%</td>
											</tr>
										{{/itemsHigh}}
									</tbody>
								</table>
								{{/secret}}
								<table{{#secret}} class="w-auto"{{/secret}}>
									<tbody>
										<caption class="ta-l">G Rank</caption>
										{{#itemsG}}
											<tr>
												<td><span class="{{icon}}"></span><span>{{name}}</span></td>
												<td class="ta-r">{{percent}}%</td>
											</tr>
										{{/itemsG}}
									</tbody>
								</table>
							</div>
						{{/spots}}
					</div>
				{{/yields.mhg}}
			</div>
		{{/yields}}
	{{/maps}}
</div>

<details>
	<summary>
		How Gathering Points Work
	</summary>

	<p>
		You are guaranteed one result from any gathering point. Further gathering attempts have an 84% chance to reward another item, otherwise the point is depleted; the Gathering skill can improve, or worsen, your odds for additional items. All gathering points have a maximum number of times they can be gathered, regardless of armor skills.
	</p>
	<p>
		The percents for Fishing Spots are the chances that a given fish will spawn. Fish spawn when you enter the zone, and one will spawn when you catch a fish.
	</p>
	<p>
		Gathering points, their yields, and maximum number of items are defined per quest, and will sometimes vary from the above information.
	</p>
	<p>
		Some Special Mushroom gathering spots will only yield mushrooms during mushroom delivery quests.
	</p>
	<p>
		Monster nests will yield the appropriate eggs on egg delivery quests.
	</p>
	<p class="mh1">
		In some High Rank quests, all gathering points will only yield Low Rank items. Known quests include "Two Rock Wyverns", "Troublesome Pair", and "Wyverns of Land and Sky".
	</p>
</details>

<details class="mhg">
	<summary>
		Randomized Starting Locations
	</summary>

	<p>
		In High Rank [5 and 6 star] and G Rank you may start the quest in one of a number of random locations rather than at the camp.
	</p>

	<div class="random-start-container">
		<table>
			<caption class="ta-l">Forest &amp; Hills</caption>
			<tbody>
				<tr>
					<th colspan=2>High Rank</th>
				</tr>
				<tr><th>Camp</th><td>40%</td></tr>
				<tr><th>Area 4</th><td>15%</td></tr>
				<tr><th>Area 5</th><td>15%</td></tr>
				<tr><th>Area 7</th><td>15%</td></tr>
				<tr><th>Area 9</th><td>15%</td></tr>
				<tr>
					<th colspan=2>G Rank</th>
				</tr>
				<tr><th>Camp</th><td>10%</td></tr>
				<tr><th>Area 4</th><td>25%</td></tr>
				<tr><th>Area 5</th><td>20%</td></tr>
				<tr><th>Area 7</th><td>20%</td></tr>
				<tr><th>Area 9</th><td>25%</td></tr>
			</tbody>
		</table>

		<table>
			<caption class="ta-l">Jungle</caption>
			<tbody>
				<tr>
					<th colspan=2>High Rank</th>
				</tr>
				<tr><th>Camp</th><td>40%</td></tr>
				<tr><th>Area 4</th><td>15%</td></tr>
				<tr><th>Area 5</th><td>15%</td></tr>
				<tr><th>Area 7</th><td>15%</td></tr>
				<tr><th>Area 10</th><td>15%</td></tr>
				<tr>
					<th colspan=2>G Rank</th>
				</tr>
				<tr><th>Camp</th><td>10%</td></tr>
				<tr><th>Area 4</th><td>25%</td></tr>
				<tr><th>Area 5</th><td>20%</td></tr>
				<tr><th>Area 7</th><td>25%</td></tr>
				<tr><th>Area 10</th><td>20%</td></tr>
			</tbody>
		</table>

		<table>
			<caption class="ta-l">Desert</caption>
			<tbody>
				<tr>
					<th colspan=2>High Rank</th>
				</tr>
				<tr><th>Camp</th><td>40%</td></tr>
				<tr><th>Area 5</th><td>15%</td></tr>
				<tr><th>Area 7</th><td>15%</td></tr>
				<tr><th>Area 8</th><td>15%</td></tr>
				<tr><th>Area 10</th><td>15%</td></tr>
				<tr>
					<th colspan=2>G Rank</th>
				</tr>
				<tr><th>Camp</th><td>10%</td></tr>
				<tr><th>Area 5</th><td>20%</td></tr>
				<tr><th>Area 7</th><td>25%</td></tr>
				<tr><th>Area 8</th><td>22%</td></tr>
				<tr><th>Area 10</th><td>20%</td></tr>
				<tr><th>Hidden Area</th><td>3%</td></tr>
			</tbody>
		</table>

		<table>
			<caption class="ta-l">Swamp</caption>
			<tbody>
				<tr>
					<th colspan=2>High Rank</th>
				</tr>
				<tr><th>Camp</th><td>40%</td></tr>
				<tr><th>Area 4</th><td>15%</td></tr>
				<tr><th>Area 7</th><td>15%</td></tr>
				<tr><th>Area 8</th><td>15%</td></tr>
				<tr><th>Area 11</th><td>15%</td></tr>
				<tr>
					<th colspan=2>G Rank</th>
				</tr>
				<tr><th>Camp</th><td>10%</td></tr>
				<tr><th>Area 4</th><td>25%</td></tr>
				<tr><th>Area 7</th><td>20%</td></tr>
				<tr><th>Area 8</th><td>22%</td></tr>
				<tr><th>Area 11</th><td>20%</td></tr>
				<tr><th>Hidden Area</th><td>3%</td></tr>
			</tbody>
		</table>

		<table>
			<caption class="ta-l">Volcano</caption>
			<tbody>
				<tr>
					<th colspan=2>High Rank</th>
				</tr>
				<tr><th>Camp</th><td>40%</td></tr>
				<tr><th>Area 3</th><td>15%</td></tr>
				<tr><th>Area 4</th><td>15%</td></tr>
				<tr><th>Area 6</th><td>15%</td></tr>
				<tr><th>Area 8</th><td>15%</td></tr>
				<tr>
					<th colspan=2>G Rank</th>
				</tr>
				<tr><th>Camp</th><td>10%</td></tr>
				<tr><th>Area 3</th><td>20%</td></tr>
				<tr><th>Area 4</th><td>22%</td></tr>
				<tr><th>Area 6</th><td>25%</td></tr>
				<tr><th>Area 8</th><td>20%</td></tr>
				<tr><th>Hidden area</th><td>3%</td></tr>
			</tbody>
		</table>
	</div>
</details>

{{> foot}}
