{{>head }}

<article class="flex-container">
	<details class="column" open>
		<summary>
			<span class="blue-icon book-icon"></span> Hunter Ranks
		</summary>

		<table>
			<thead>
				<tr>
					<th>Rank</th>
					<th>Title</th>
					<th>Points Required</th>
				</tr>
			</thead>
			<tbody class="mh1">
				{{#hunterRanks.mh1}}
					<tr>
						<td>{{rank}}</td>
						<td>{{title}}</td>
						<td class="ta-r">{{points}}</td>
					</tr>
				{{/hunterRanks.mh1}}
			</tbody>

			<tbody class="mhg">
				{{#hunterRanks.mhg}}
					<tr>
						<td>{{rank}}</td>
						<td>{{title}}</td>
						<td class="ta-r">{{points}}</td>
					</tr>
				{{/hunterRanks.mhg}}
			</tbody>
		</table>
	</details>

	<details class="column">
		<summary>
			<span class="white-icon binoculars-icon"></span> Unlockable Quests and Movies
		</summary>

		<table>
			<caption>Offline Bonus Urgent Quests</caption>
			<tbody>
				<tr class="mhg">
					<td>Horn of the Monoblos</td>
					<td>Complete the "Horn of the Monoblos" urgent quest</td>
				</tr>
				<tr>
					<td>The Shadow in the Cave</td>
					<td>Possess at least one piece of Vespoid Armor</td>
				</tr>
				<tr>
					<td>The Runaway Diablos</td>
					<td>Possess at least one piece of Monoblos Armor</td>
				</tr>
				<tr class="mh1">
					<td>Basarios: Unseen Peril</td>
					<td>Possess at least one piece of Cephalos Armor</td>
				</tr>
				<tr class="mh1">
					<td>Terror of the Gravios</td>
					<td class="mh1">Complete "Basarios: Unseen Peril"</td>
					<td class="mhg">Possess at least one piece of Cephalos Armor</td>
				</tr>
				<tr class="mhg">
					<td>Handle With Care!</td>
					<td>Complete "Terror of the Gravios"</td>
				</tr>
				<tr>
					<td>Troublesome Pair</td>
					<td>Complete all other Quests and Bonus Urgent Quests</td>
				</tr>
			</tbody>
		</table>

		<table>
			<caption>Gallery Movies</caption>
			<tbody>
				<tr>
					<td>Town of Hunters</td>
					<td>Complete all offline quests (including offline Bonus Urgent Quests) OR Clear all 1 star town quests and talk to Food Merchant at Marketplace (Fish Shop Lady)</td>
				</tr>
				<tr>
					<td>Gravios Ecology</td>
					<td>Complete "Terror of the Gravios"</td>
				</tr>
				<tr>
					<td>Plesioth Ecology</td>
					<td>Complete "Water Wyvern in the Desert"</td>
				</tr>
				<tr>
					<td>Khezu Ecology</td>
					<td>Complete "Shadow in the Cave"</td>
				</tr>
				<tr>
					<td>Diablos Ecology</td>
					<td>Complete "The Runaway Diablos"</td>
				</tr>
				<tr>
					<td>Rathian Ecology</td>
					<td>Complete "Queen of the Desert" or "Slay the Rathian"</td>
				</tr>
				<tr class="mhg">
					<td>Hunter's Guild</td>
					<td>Complete "Horn of the Monoblos" OR Complete 3 star urgent Lao (unlocks 4 star/high rank/hr13+)</td>
				</tr>
				<tr>
					<td>Hall of Hereos</td>
					<td>Complete "Horn of the Monoblos" OR Complete 3 star urgent Lao (unlocks 4 star/high rank/hr13+)</td>
				</tr>
			</tbody>

			<tbody class="mhg">
				<tr>
					<td>Blue Hunter</td>
					<td>Complete "Your First Monster Hunt!"</td>
				</tr>
				<tr>
					<td>Shepherd</td>
					<td>Complete "The Formidable Velocidrome!"</td>
				</tr>
				<tr>
					<td>King of the Skies</td>
					<td>Complete "Find the Wyvern Eggs"</td>
				</tr>
				<tr>
					<td>Avian Master of the Jungle</td>
					<td>Complete "Jungle Menace"</td>
				</tr>
				<tr>
					<td>Menace in the Sand</td>
					<td>Complete "The Land Shark"</td>
				</tr>
				<tr>
					<td>Poison of the Swamp</td>
					<td>Complete "Slay the Gypceros!"</td>
				</tr>
				<tr>
					<td>Divine Providence</td>
					<td>Complete "Attack of the Rathalos"</td>
				</tr>
				<tr>
					<td>Horn of the Monoblos</td>
					<td>Complete "Horn of the Monoblos"</td>
				</tr>

				<tr>
					<td>Lao-Shan Lung</td>
					<td>Complete any quest to repel or slay Lao-Shan Lung</td>
				</tr>
				<tr>
					<td>Dragon of Jagged Rocks</td>
					<td>Complete any quest to repel or slay Ashen Lao-Shan Lung</td>
				</tr>
				<tr>
					<td>Legendary Black Dragon</td>
					<td>Complete any quest to repel or slay Fatalis</td>
				</tr>
				<tr>
					<td>Advent of Disaster</td>
					<td>Complete any quest to repel or slay Crimson Fatalis</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details class="column">
		<summary>
			<span class="red-icon sns-icon"></span> Kokoto Village Unlockables
		</summary>

		<p>
			After Clearing the Rathalos Urgent Quest that unlocks 5-Star, speak to the Village Elder who will direct you to go behind your house and retrieve the Hero's Blade sword.<br/>
			<br/>
			After Clearing the Monoblos Urgent Quest at the end of the main quest line, speak to the Village Elder for a Hunter's Citation, required to upgrade the Hero's Blade. You will also need the extremely rare Monoblos Heart.<br/>
			<span class="mhg">
				<br/>
				The Legendary Blades require an additional item: the Village Chief's Old Sword.<br/>
				<br/>
				Slay 20 or more of each Wyvern and speak to the Village Chief to receive the Early Bird Piercing.
			</span>
		</p>
	</details>

	<details class="column">
		<summary>
			<span class="yellow-icon ticket-icon"></span> Online Tickets
		</summary>

		<ul>
			<li><b>Old Lady's Note:</b> Clear all 1-Star Town quests and speak to the Food Shop Lady at Marketplace. Old Lady's Note can be used to craft the Kitchen Knife sword.</li>
			<li><b>Guild Tickets:</b> Complete event quests to earn Guild Tickets as rewards. Additionally, the Town Elder will give you 5 Guild Tickets after you've Cleared all 1 to 6 star town quests (6 Star Lao Urgent not required.)</li>
			<li class="mh1"><b>Silver &amp; Gold Tickets:</b> Visit a given room at the guest house 25 times and speak to the guest house manager (rasta guy). Visiting the Rook and Bishop rooms will reward Silver Tickets, the Queen and King rooms Gold Tickets. After your 150th visit to a room, you will no longer earn tickets from that room.</li>
			<li class="mhg"><b>Silver, Gold, &amp; Platinum Tickets:</b> Visit a given room at the guest house ten times (25 times after your 50th visit) and speak to the guest house manager (rasta guy). Visiting the Rook room will reward Silver Tickets, the Bishop room Gold Tickets, and the Queen and King Rooms Platinum. After your 100th visit to a room, you will no longer earn tickets from that room.</li>
		</ul>
	</details>

	<details class="full-width">
		<summary>
			<span class="orange-icon meat-icon"></span> Dining
		</summary>

		{{#diningRooms}}
			{{>hotel_room }}
		{{/diningRooms}}
	</details>

	<details class="full-width">
		<summary>
			<span class="white-icon mystery-icon"></span> Fatalis
		</summary>

			<ul class="mh1">
				<li>Clear all 1 to 6 star town quests</li>
				<li>Have 6 Star Lao Urgent Cleared</li>
				<li>Hunter Rank 20 (anyone HR17 or higher can join the posted quests)</li>
				<li>Kill 50 Rathalos and 50 Rathian (no capture quest, in ONLINE mode, kills count together low+high rank, killing non-quest-target counts, killing a capture target monster counts, not capturing though)</li>
			</ul>
			<ul class="mhg">
				<li>Clear all 1 to 8 star town quests</li>
				<li>Have 8 Star Ashen Lao Urgent Cleared</li>
				<li>Hunter Rank 30 (anyone HR27 or higher can join the posted quests)</li>
				<li>Complete the 8-star Ashen Lao quest, A Giant Dragon Invades! (巨大龍の侵攻), twice</li>
			</ul>
	</details>
</article>

{{>foot }}
