{{>head }}

<article class="flex-container">
	<details class="column" open>
		<summary>
			<span class="blue-icon book-icon"></span> Hunter Ranks
		</summary>

		<table>
			<thead>
				<tr>
					<th>Rank</th>
					<th>Title</th>
					<th>Points Required</th>
				</tr>
			</thead>
			<tbody class="mh1">
				{{#hunterRanks.mh1}}
					<tr>
						<td>{{rank}}</td>
						<td>{{title}}</td>
						<td class="ta-r">{{points}}</td>
					</tr>
				{{/hunterRanks.mh1}}
			</tbody>

			<tbody class="mhg">
				{{#hunterRanks.mhg}}
					<tr>
						<td>{{rank}}</td>
						<td>{{title}}</td>
						<td class="ta-r">{{points}}</td>
					</tr>
				{{/hunterRanks.mhg}}
			</tbody>
		</table>
	</details>

	<details class="column">
		<summary>
			<span class="white-icon binoculars-icon"></span> Unlockable Quests and Movies
		</summary>

		<table>
			<caption>Gallery Movies</caption>
			<tbody>
				<tr>
					<td>Town of Hunters</td>
					<td>Complete all offline quests (including offline Bonus Urgent Quests) OR Clear all 1 star town quests and talk to Food Merchant at Marketplace (Fish Shop Lady)</td>
				</tr>
				<tr>
					<td>Gravios Ecology</td>
					<td>Complete “Terror of the Gravios“</td>
				</tr>
				<tr>
					<td>Plesioth Ecology</td>
					<td>Complete “Water Wyvern in the Desert“</td>
				</tr>
				<tr>
					<td>Khezu Ecology</td>
					<td>Complete “Shadow in the Cave“</td>
				</tr>
				<tr>
					<td>Diablos Ecology</td>
					<td>Complete “The Runaway Diablos“</td>
				</tr>
				<tr>
					<td>Rathian Ecology</td>
					<td>Complete “Queen of the Desert“ or “Slay the Rathian“</td>
				</tr>
				<tr>
					<td>Hall of Hereos</td>
					<td>Complete “Horn of the Monoblos“ OR Complete 3 star urgent Lao (unlocks 4 star/high rank/hr13+)</td>
				</tr>
			</tbody>
		</table>

		<table>
			<caption>Offline Bonus Urgent Quests</caption>
			<tbody>
				<tr>
					<td>The Shadow in the Cave</td>
					<td>Possess at least one piece of Vespoid Armor</td>
				</tr>
				<tr>
					<td>The Runaway Diablos</td>
					<td>Possess at least one piece of Monoblos Armor</td>
				</tr>
				<tr>
					<td>Basarios: Unseen Peril</td>
					<td>Possess at least one piece of Cephalos Armor</td>
				</tr>
				<tr>
					<td>Terror of the Gravios</td>
					<td>Complete &#8220;Basarios: Unseen Peril&#8221;</td>
				</tr>
				<tr>
					<td>Troublesome Pair</td>
					<td>Complete all other Quests and Bonus Urgent Quests</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details class="column">
		<summary>
			<span class="red-icon sns-icon"></span> The Hero&#8217;s Blade
		</summary>

		<p>
			After Clearing the Rathalos Urgent Quest that unlocks 5-Star, speak to the Village Elder who will direct you to go behind your house and retrieve the Hero&#8217;s Blade sword.
		</p>
		<p>
			After Clearing the Monoblos Urgent Quest at the end of the main quest line, speak to the Village Elder for a Hunter&#8217;s Citation, required to upgrade the Hero&#8217;s Blade. You will also need the extremely rare Monoblos Heart.
		</p>
	</details>

	<details class="column">
		<summary>
			<span class="yellow-icon ticket-icon"></span> Online Tickets
		</summary>

		<p>
			<b>Old Lady&#8217;s Note:</b> Clear all 1-Star Town quests and speak to the Food Shop Lady at Marketplace. Old Lady&#8217;s Note can be used to craft the Kitchen Knife sword.
		</p>
		<p>
			<b>Guild Tickets:</b> Complete event quests to earn Guild Tickets as rewards. Additionally, the Town Elder will give you 5 Guild Tickets after you&#8217;ve Cleared all 1 to 6 star town quests (6 Star Lao Urgent not required.)
		</p>
		<p>
			<b>Silver / Gold Tickets:</b> Visit a given room at the guest house 25 times and speak to the guest house manager (rasta guy). Visiting the Rook and Bishop rooms will reward Silver Tickets, the Queen and King rooms Gold Tickets. After your 150th visit to a room, you will no longer earn tickets from that room.
		</p>
	</details>

	<details class="full-width">
		<summary>
			<span class="orange-icon meat-icon"></span> Dining
		</summary>

		{{#diningRooms}}
			{{>hotel_room }}
		{{/diningRooms}}
	</details>

	<details class="full-width">
		<summary>
			<span class="white-icon mystery-icon"></span> Fatalis
		</summary>

			<ul>
				<li>Clear all 1 to 6 star town quests</li>
				<li>Have 6 Star Lao Urgent Cleared</li>
				<li>Hunter Rank 20 (anyone HR17 or higher can join the posted quests)</li>
				<li>Kill 50 Rathalos and 50 Rathian (no capture quest, in ONLINE mode, kills count together low+high rank, killing non-quest-target counts, killing a capture target monster counts, not capturing though)</li>
			</ul>
	</details>
</article>

{{>foot }}
