{{>head }}

<details>
	<summary>Village</summary>

	<article class="mh1">
		{{#mh1.villageQuests}}
			{{>quest }}
		{{/mh1.villageQuests}}
	</article>

	<article class="mhg">
		{{#mhg.villageQuests}}
			{{>quest }}
		{{/mhg.villageQuests}}
	</article>
</details>

<details>
	<summary>Town</summary>

	<article class="mh1">
		{{#mh1.townQuests}}
			{{>quest }}
		{{/mh1.townQuests}}
	</article>

	<article class="mhg">
		{{#mhg.townQuests}}
			{{>quest }}
		{{/mhg.townQuests}}
	</article>
</details>

<details>
	<summary>Events</summary>

	<article class="mh1">
		{{#mh1.eventQuests}}
			{{>quest }}
		{{/mh1.eventQuests}}
	</article>

	<article class="mhg">
		{{#mhg.eventQuests}}
			{{^hide}}{{>quest }}{{/hide}}
		{{/mhg.eventQuests}}
	</article>
</details>

<details class="mh1" style="display:none">
	<summary>Event Quests (EU)</summary>

	<article>
		{{#mh1.eventQuestsEU}}
			{{>quest }}
		{{/mh1.eventQuestsEU}}
	</article>
</details>

<details class="mh1" style="display:none">
	<summary>Other</summary>

	<article>
		{{#mh1.otherQuests}}
			{{>quest }}
		{{/mh1.otherQuests}}
	</article>
</details>

<details>
	<summary>How quest rewards work</summary>

	<p>
		You will always receive at least four, and up to ten, reward items from any quest. The first item in the rewards table is guaranteed, with additional rewards chosen at random from the full table. Your luck skill determines whether you receive any additional items.
	</p>

	<table class="luck-table">
		<tbody>
			<tr class="mhg">
				<td>Very Good Luck</td>
				<td>91%</td>
			</tr>
			<tr>
				<td>Good Luck</td>
				<td>81%</td>
			</tr>
			<tr>
				<td>(no luck skill)</td>
				<td>69%</td>
			</tr>
			<tr>
				<td>Bad Luck</td>
				<td>50%</td>
			</tr>
			<tr class="mhg">
				<td>Disaster</td>
				<td>25%</td>
			</tr>
		</tbody>
	</table>
</details>

{{>foot }}
