{{>head }}

<details>
	<summary>Village</summary>

	<article class="mh1">
		{{#mh1.villageQuests}}
			{{>quest }}
		{{/mh1.villageQuests}}
	</article>

	<article class="mhg">
		{{#mhg.villageQuests}}
			{{>quest }}
		{{/mhg.villageQuests}}
	</article>
</details>

<details>
	<summary>Town</summary>

	<article class="mh1">
		{{#mh1.townQuests}}
			{{>quest }}
		{{/mh1.townQuests}}
	</article>

	<article class="mhg">
		{{#mhg.townQuests}}
			{{>quest }}
		{{/mhg.townQuests}}
	</article>
</details>

<details>
	<summary>Events</summary>

	<article class="mh1">
		{{#mh1.eventQuests}}
			{{>quest }}
		{{/mh1.eventQuests}}
	</article>

	<article class="mhg">
		{{#mhg.eventQuests}}
			{{^hide}}{{>quest }}{{/hide}}
		{{/mhg.eventQuests}}
	</article>
</details>

<details class="mh1" style="display:none">
	<summary>Event Quests (EU)</summary>

	<article>
		{{#mh1.eventQuestsEU}}
			{{>quest }}
		{{/mh1.eventQuestsEU}}
	</article>
</details>

<details class="mh1" style="display:none">
	<summary>Other</summary>

	<article>
		{{#mh1.otherQuests}}
			{{>quest }}
		{{/mh1.otherQuests}}
	</article>
</details>

<details class="mhg">
	<summary>Training</summary>

	<article>
		{{#mhg.trainingQuests}}
		<details>
			<summary>{{monster}}</summary>
				<section class="quest-body hunt-quest">
					<p>
						Locale: {{area}}<br/>
						Level: {{&level}}
					</p>

					<h3>Quest Rewards:</h3>
					{{#quests}}
						<details>
							<summary>
								<span class="quest-icon {{icon}}"></span> <span>{{weapon}}</span>
							</summary>

							<table>
								<thead>
									<tr>
										<td>Item</td>
										<td>Quantity</td>
										<td>% Chance</td>
										{{#hasBreaks}}
											<td>Requirement</td>
										{{/hasBreaks}}
									</tr>
								</thead>
								<tbody>
									{{#rewards}}
									<tr>
										<td>{{{name}}}</td>
										<td class="ta-r">{{quantity}}</td>
										<td class="ta-r">{{percent}}%</td>
										{{#hasBreaks}}
											<td>{{{require}}}</td>
										{{/hasBreaks}}
									</tr>
									{{/rewards}}
								</tbody>
							</table>
						</details>
					{{/quests}}
				</section>
		</details>
		{{/mhg.trainingQuests}}
	</article>
</details>

<hr/>

<details class="mhg">
	<summary>
		Crowns and Subspecies Quests
	</summary>

	<p>
		Quests to hunt a monster subspecies must be unlocked by successfully hunting a specimen of the common species of a large enough size. If a monster is unusually large, you will be awarded an appropriate Crown mark on quest completion, which is visible in your monster reference once you buy the associated book for that monster.
	</p>
	<ul>
		<li><span class="ui-icon silver-crown-icon"></span> A Silver Crown indicates an unusually large monster.</li>
		<li><span class="ui-icon gold-crown-icon"></span> Gold Crown indicates a monster of the largest, or nearly largest, possible size for its species.</li>
	</ul>
	<p>
		(See the <a href="/bestiary">Bestiary page</a> and individual monsters for more details on exact sizes per crown.)
	</p>
	<p>
		The White Monoblos quest, and the Village and High Rank Pink Rathian and Azure Rathalos quests only require a silver crown. All other subspecies can only be hunted in G Rank, and require a gold crown to unlock their quests (this includes any G Rank Pink Rathian and Azure Rathalos quests.)
	</p>
	<p>
		There are a few notable exceptions to these rules:
	</p>
	<ul>
		<li>The Gold Rathian and Silver Rathalos quest will only be unlocked after acquiring a gold crown for every "flying wyvern," that is: Yian Kut-Ku, Gypceros, Rathalos, Rathian, Khezu, Cephadrome, Plesioth, Monoblos, Diablos, Basarios, and Gravios.</li>
		<li>Ashen Lao-Shan Lung and Crimson Fatalis quests have no crown requirements.</li>
	</ul>
	<p>
		Note that silver and gold crowns are not distinguished between common and subspecies monsters; that is to say, a subspecies crown will count for the species and vice-versa.
	</p>
	<p>
		Also note that the Monster Hunter Oldschool server features boosted monster sizes. All monster sizes and possible crowns in this wiki are based on the original data, and would suggest that event quests were required to unlock monster subspecies quests. Monsters on the Monster Hunter Oldschool server can be larger than listed here.
	</p>
</details>

<details>
	<summary>How quest rewards work</summary>

	<p>
		You will always receive at least four, and up to ten, reward items from any quest. The first item in the rewards table is guaranteed, with additional rewards chosen at random from the full table. Your luck skill determines whether you receive any additional items.
	</p>

	<table class="luck-table">
		<tbody>
			<tr class="mhg">
				<td>Very Good Luck</td>
				<td>91%</td>
			</tr>
			<tr>
				<td>Good Luck</td>
				<td>81%</td>
			</tr>
			<tr>
				<td>(no luck skill)</td>
				<td>69%</td>
			</tr>
			<tr>
				<td>Bad Luck</td>
				<td>50%</td>
			</tr>
			<tr class="mhg">
				<td>Disaster</td>
				<td>25%</td>
			</tr>
		</tbody>
	</table>

	<p class="mhg">
		Training Quests handle reward results differently: the first reward in the list is guaranteed, but the total rewards only range from one to four. The chance to receive a second reward is 75%, for a third 50%, and for a fourth 25%.
	</p>
</details>

{{>foot }}
