{{> head}}

<section id="melee-weapons">
	<article>
		<h2>Melee Weapons</h2>
	</article>

	<article class="filters">
		<div class="filter-checks">
			<div class="filter-column">
				<h3 title="highlight weapons with a certain element/status">Element/Status:</h3>
				<div>
					<input id="weapon-element-fire" name="weapon-element-status" type="checkbox" value="highlight-fire" checked/>
					<label for="weapon-element-fire" class="element-res-label" title="Fire">
						<img class="attribute-icon" src="images/attributes/fire.png" alt="Fire"/>
					</label>
					<input id="weapon-element-water" name="weapon-element-status" type="checkbox" value="highlight-water" checked/>
					<label for="weapon-element-water" class="element-res-label" title="Water">
						<img class="attribute-icon" src="images/attributes/water.png" alt="Water"/>
					</label>
					<input id="weapon-element-thunder" name="weapon-element-status" type="checkbox" value="highlight-thunder" checked/>
					<label for="weapon-element-thunder" class="element-res-label" title="Thunder">
						<img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder"/>
					</label>
					<input id="weapon-element-dragon" name="weapon-element-status" type="checkbox" value="highlight-dragon" checked/>
					<label for="weapon-element-dragon" class="element-res-label" title="Dragon">
						<img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon"/>
					</label>
				</div>
				<div>
					<input id="weapon-status-poison" name="weapon-element-status" type="checkbox" value="highlight-poison" checked/>
					<label for="weapon-status-poison" class="element-res-label" title="Poison">
						<img class="attribute-icon" src="images/attributes/poison.png" alt="Poison"/>
					</label>
					<input id="weapon-status-paralysis" name="weapon-element-status" type="checkbox" value="highlight-paralysis" checked/>
					<label for="weapon-status-paralysis" class="element-res-label" title="Paralysis">
						<img class="attribute-icon" src="images/attributes/paralysis.png" alt="Paralysis"/>
					</label>
					<input id="weapon-status-sleep" name="weapon-element-status" type="checkbox" value="highlight-sleep" checked/>
					<label for="weapon-status-sleep" class="element-res-label" title="Sleep">
						<img class="attribute-icon" src="images/attributes/sleep.png" alt="Sleep"/>
					</label>
					<input id="weapon-status-element-all" type="checkbox" value="highlight-all" checked/>
					<label for="weapon-status-element-all" class="element-res-label">All</label>
				</div>
			</div>

			<div class="filter-column" style="display:none">
				<div id="rank-filters" class="range-container">
					<label for="rank-filter">Rank:</label>
					<input id="rank-filter" type="range" min="0" max="2" step="1" value="2"/>
					<div class="range-labels-container">
						<span class="range-label highlighted">Low</span>|<span class="range-label highlighted">High</span>|<span class="g-rank-label range-label highlighted">G</span>
					</div>
				</div>
			</div>

			<div class="filter-column">
				<label for="search">Search: </label>
				<input id="search" type="text" placeholder="Weapon"/>
			</div>
		</div>

		<div class="filter-checks">
			<input id="toggle-everything" type="checkbox"/>
			<label for="toggle-everything">Show Everything</label>
		</div>
	</article>

	<details id="greatswords" class="weapon-class-container">
		<summary>
			<h2><span class="white-icon gs-icon"></span> Great Swords</h2>
		</summary>

		{{#greatswords}}
			{{>blademaster_weapon_group}}
		{{/greatswords}}
	</details>

	<details id="hammers" class="weapon-class-container">
		<summary>
			<h2><span class="white-icon hammer-icon"></span> Hammers</h2>
		</summary>

		{{#hammers}}
			{{>blademaster_weapon_group}}
		{{/hammers}}
	</details>

	<details id="lances" class="weapon-class-container">
		<summary>
			<h2><span class="white-icon lance-icon"></span> Lances</h2>
		</summary>

		{{#lances}}
			{{>blademaster_weapon_group}}
		{{/lances}}
	</details>

	<details id="swords" class="weapon-class-container">
		<summary>
			<h2><span class="white-icon sns-icon"></span> Swords and Shields</h2>
		</summary>

		{{#swords}}
			{{>blademaster_weapon_group}}
		{{/swords}}
	</details>

	<details id="dual-swords" class="weapon-class-container mhg">
		<summary>
			<h2><span class="white-icon duals-icon"></span> Dual Swords</h2>
		</summary>

		{{#dualSwords}}
			{{>blademaster_weapon_group}}
		{{/dualSwords}}
	</details>
</section>

<section id="ranged-weapons">
	<article>
		<h2>Bowguns</h2>
		<p class="mhg">Ammo values in parentheses indicate ammo types that are only available with the appropriate Shot Add armor skill</p>
	</article>

	<article class="filters">
		<details>
			<summary>
				<h3 title="highlight weapons with a certain element/status">Ammo:</h3>
			</summary>

			<div class="filter-checks mh1">
				<div class="filter-column">
					<input id="ammo-normal-1-1" name="ammo_1" type="checkbox" value="show-nrm-1"/>
					<label for="ammo-normal-1-1" class="ammo-label">Normal Shot 1</label>
					<!-- All bowguns can load Normal 2 -->
					<input id="ammo-normal-3-1" name="ammo_1" type="checkbox" value="show-nrm-3"/>
					<label for="ammo-normal-3-1" class="ammo-label">Normal Shot 3</label>
					<hr/>
					<input id="ammo-pierce-1-1" name="ammo_1" type="checkbox" value="show-prc-1"/>
					<label for="ammo-pierce-1-1" class="ammo-label">Pierce Shot 1</label>
					<input id="ammo-pierce-2-1" name="ammo_1" type="checkbox" value="show-prc-2"/>
					<label for="ammo-pierce-2-1" class="ammo-label">Pierce Shot 2</label>
					<input id="ammo-pierce-3-1" name="ammo_1" type="checkbox" value="show-prc-3"/>
					<label for="ammo-pierce-3-1" class="ammo-label">Pierce Shot 3</label>
				</div>
				<div class="filter-column">
					<input id="ammo-pellet-1-1" name="ammo_1" type="checkbox" value="show-pllt-1"/>
					<label for="ammo-pellet-1-1" class="ammo-label">Pellet Shot 1</label>
					<input id="ammo-pellet-2-1" name="ammo_1" type="checkbox" value="show-pllt-2"/>
					<label for="ammo-pellet-2-1" class="ammo-label">Pellet Shot 2</label>
					<input id="ammo-pellet-3-1" name="ammo_1" type="checkbox" value="show-pllt-3"/>
					<label for="ammo-pellet-3-1" class="ammo-label">Pellet Shot 3</label>
					<hr/>
					<input id="ammo-crag-1-1" name="ammo_1" type="checkbox" value="show-crag-1"/>
					<label for="ammo-crag-1-1" class="ammo-label">Crag Shot 1</label>
					<input id="ammo-crag-2-1" name="ammo_1" type="checkbox" value="show-crag-2"/>
					<label for="ammo-crag-2-1" class="ammo-label">Crag Shot 2</label>
					<input id="ammo-crag-3-1" name="ammo_1" type="checkbox" value="show-crag-3"/>
					<label for="ammo-crag-3-1" class="ammo-label">Crag Shot 3</label>
				</div>
				<div class="filter-column">
					<input id="ammo-clust-1-1" name="ammo_1" type="checkbox" value="show-clust-1"/>
					<label for="ammo-clust-1-1" class="ammo-label">Cluster Shot 1</label>
					<input id="ammo-clust-2-1" name="ammo_1" type="checkbox" value="show-clust-2"/>
					<label for="ammo-clust-2-1" class="ammo-label">Cluster Shot 2</label>
					<input id="ammo-clust-3-1" name="ammo_1" type="checkbox" value="show-clust-3"/>
					<label for="ammo-clust-3-1" class="ammo-label">Cluster Shot 3</label>
					<hr/>
					<input id="ammo-disc-1" name="ammo_1" type="checkbox" value="show-disc"/>
					<label for="ammo-disc-1" class="ammo-label">Disc Shot</label>
					<hr/>
					<input id="ammo-recover-1-1" name="ammo_1" type="checkbox" value="show-rec-1"/>
					<label for="ammo-recover-1-1" class="ammo-label">Recover Shot 1</label>
					<input id="ammo-recover-2-1" name="ammo_1" type="checkbox" value="show-rec-2"/>
					<label for="ammo-recover-2-1" class="ammo-label">Recover Shot 2</label>
				</div>
				<div class="filter-column">
					<input id="ammo-poison-1-1" name="ammo_1" type="checkbox" value="show-poi-1"/>
					<label for="ammo-poison-1-1" class="ammo-label">Poison Shot 1</label>
					<input id="ammo-poison-2-1" name="ammo_1" type="checkbox" value="show-poi-2"/>
					<label for="ammo-poison-2-1" class="ammo-label">Poison Shot 2</label>
					<hr/>
					<input id="ammo-stun-1-1" name="ammo_1" type="checkbox" value="show-stun-1"/>
					<label for="ammo-stun-1-1" class="ammo-label">Stun Shot 1</label>
					<input id="ammo-stun-2-1" name="ammo_1" type="checkbox" value="show-stun-2"/>
					<label for="ammo-stun-2-1" class="ammo-label">Stun Shot 2</label>
					<hr/>
					<input id="ammo-sleep-1-1" name="ammo_1" type="checkbox" value="show-slp-1"/>
					<label for="ammo-sleep-1-1" class="ammo-label">Sleep Shot 1</label>
					<input id="ammo-sleep-2-1" name="ammo_1" type="checkbox" value="show-slp-2"/>
					<label for="ammo-sleep-2-1" class="ammo-label">Sleep Shot 2</label>
				</div>
				<div class="filter-column">
					<input id="ammo-antidote-1" name="ammo_1" type="checkbox" value="show-anti"/>
					<label for="ammo-antidote-1" class="ammo-label">Antidote Shot</label>
					<input id="ammo-demon-1" name="ammo_1" type="checkbox" value="show-demon"/>
					<label for="ammo-demon-1" class="ammo-label">Demon Shot</label>
					<input id="ammo-armor-1" name="ammo_1" type="checkbox" value="show-armor"/>
					<label for="ammo-armor-1" class="ammo-label">Armor Shot</label>
					<input id="ammo-dragon-1" name="ammo_1" type="checkbox" value="show-dragon"/>
					<label for="ammo-dragon-1" class="ammo-label">Dragon Shot</label>
					<input id="ammo-dung-1" name="ammo_1" type="checkbox" value="show-dung"/>
					<label for="ammo-dung-1" class="ammo-label">Dung Shot</label>
				</div>
				<div class="filter-column">
					<input id="ammo-all-1" type="checkbox" value="highlight-all" checked/>
					<label for="ammo-all-1" class="ammo-label">All</label>
				</div>
			</div>

			<div class="filter-checks g-only">
				<div class="filter-column">
					<input id="ammo-normal-1-g" name="ammo_g" type="checkbox" value="show-nrm-1"/>
					<label for="ammo-normal-1-g" class="ammo-label">Normal Shot 1</label>
					<!-- All bowguns can load Normal 2 -->
					<input id="ammo-normal-3-g" name="ammo_g" type="checkbox" value="show-nrm-3"/>
					<label for="ammo-normal-3-g" class="ammo-label">Normal Shot 3</label>
					<hr/>
					<input id="ammo-pierce-1-g" name="ammo_g" type="checkbox" value="show-prc-1"/>
					<label for="ammo-pierce-1-g" class="ammo-label">Pierce Shot 1</label>
					<input id="ammo-pierce-2-g" name="ammo_g" type="checkbox" value="show-prc-2"/>
					<label for="ammo-pierce-2-g" class="ammo-label">Pierce Shot 2</label>
					<input id="ammo-pierce-3-g" name="ammo_g" type="checkbox" value="show-prc-3"/>
					<label for="ammo-pierce-3-g" class="ammo-label">Pierce Shot 3</label>
				</div>
				<div class="filter-column">
					<input id="ammo-pellet-1-g" name="ammo_g" type="checkbox" value="show-pllt-1"/>
					<label for="ammo-pellet-1-g" class="ammo-label">Pellet Shot 1</label>
					<input id="ammo-pellet-2-g" name="ammo_g" type="checkbox" value="show-pllt-2"/>
					<label for="ammo-pellet-2-g" class="ammo-label">Pellet Shot 2</label>
					<input id="ammo-pellet-3-g" name="ammo_g" type="checkbox" value="show-pllt-3"/>
					<label for="ammo-pellet-3-g" class="ammo-label">Pellet Shot 3</label>
					<hr/>
					<input id="ammo-crag-1-g" name="ammo_g" type="checkbox" value="show-crag-1"/>
					<label for="ammo-crag-1-g" class="ammo-label">Crag Shot 1</label>
					<input id="ammo-crag-2-g" name="ammo_g" type="checkbox" value="show-crag-2"/>
					<label for="ammo-crag-2-g" class="ammo-label">Crag Shot 2</label>
					<input id="ammo-crag-3-g" name="ammo_g" type="checkbox" value="show-crag-3"/>
					<label for="ammo-crag-3-g" class="ammo-label">Crag Shot 3</label>
				</div>
				<div class="filter-column">
					<input id="ammo-clust-1-g" name="ammo_g" type="checkbox" value="clust-1"/>
					<label for="ammo-clust-1-g" class="ammo-label">Cluster Shot 1</label>
					<input id="ammo-clust-2-g" name="ammo_g" type="checkbox" value="clust-2"/>
					<label for="ammo-clust-2-g" class="ammo-label">Cluster Shot 2</label>
					<input id="ammo-clust-3-g" name="ammo_g" type="checkbox" value="clust-3"/>
					<label for="ammo-clust-3-g" class="ammo-label">Cluster Shot 3</label>
					<hr/>
					<input id="ammo-flame-g" name="ammo_g" type="checkbox" value="show-flame"/>
					<label for="ammo-flame-g" class="ammo-label">Flame Shot</label>
					<input id="ammo-water-g" name="ammo_g" type="checkbox" value="show-water"/>
					<label for="ammo-water-g" class="ammo-label">Water Shot</label>
					<input id="ammo-thunder-g" name="ammo_g" type="checkbox" value="show-thunder"/>
					<label for="ammo-thunder-g" class="ammo-label">Thunder Shot</label>
					<input id="ammo-dragon-g" name="ammo_g" type="checkbox" value="show-dragon"/>
					<label for="ammo-dragon-g" class="ammo-label">Dragon Shot</label>
				</div>
				<div class="filter-column">
					<input id="ammo-poison-1-g" name="ammo_g" type="checkbox" value="show-poi-1"/>
					<label for="ammo-poison-1-g" class="ammo-label">Poison Shot 1</label>
					<input id="ammo-poison-2-g" name="ammo_g" type="checkbox" value="show-poi-2"/>
					<label for="ammo-poison-2-g" class="ammo-label">Poison Shot 2</label>
					<hr/>
					<input id="ammo-stun-1-g" name="ammo_g" type="checkbox" value="show-stun-1"/>
					<label for="ammo-stun-1-g" class="ammo-label">Stun Shot 1</label>
					<input id="ammo-stun-2-g" name="ammo_g" type="checkbox" value="show-stun-2"/>
					<label for="ammo-stun-2-g" class="ammo-label">Stun Shot 2</label>
					<hr/>
					<input id="ammo-sleep-1-g" name="ammo_g" type="checkbox" value="show-slp-1"/>
					<label for="ammo-sleep-1-g" class="ammo-label">Sleep Shot 1</label>
					<input id="ammo-sleep-2-g" name="ammo_g" type="checkbox" value="show-slp-2"/>
					<label for="ammo-sleep-2-g" class="ammo-label">Sleep Shot 2</label>
				</div>
				<div class="filter-column">
					<input id="ammo-recover-1-g" name="ammo_g" type="checkbox" value="show-rec-1"/>
					<label for="ammo-recover-1-g" class="ammo-label">Recover Shot 1</label>
					<input id="ammo-recover-2-g" name="ammo_g" type="checkbox" value="show-rec-2"/>
					<label for="ammo-recover-2-g" class="ammo-label">Recover Shot 2</label>
					<hr/>
					<input id="ammo-demon-g" name="ammo_g" type="checkbox" value="show-demon"/>
					<label for="ammo-demon-g" class="ammo-label">Demon Shot</label>
					<input id="ammo-antidote-g" name="ammo_g" type="checkbox" value="show-anti"/>
					<label for="ammo-antidote-g" class="ammo-label">Antidote Shot</label>
				</div>
				<div class="filter-column">
					<input id="ammo-all-g" type="checkbox" value="highlight-all" checked/>
					<label for="ammo-all-g" class="ammo-label">All</label>
				</div>
			</div>
		</details>

		<div class="filter-checks">
			<input id="show-range-stat" type="checkbox"/>
			<label for="show-range-stat">Show Range Stat</label>
		</div>
	</article>

	<details class="weapon-class-container">
		<summary><h2><span class="white-icon lbg-icon"></span> Light Bowguns</h2></summary>
		<table id="lbg-1" class="mh1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Damage</th>
					<th>Defense</th>
					<th>Reload</th>
					<th>Recoil</th>
					<th class="range-stat">Range</th>
					<th colspan="4">Ammo</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</thead>
			<tbody>
				{{#bowguns1.lbg}}
					{{>bowgun_1}}
				{{/bowguns1.lbg}}
			</tbody>
		</table>

		<table id="lbg-g" class="mhg">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Damage</th>
					<th>Defense</th>
					<th>Reload</th>
					<th>Recoil</th>
					<th class="range-stat">Range</th>
					<th colspan="4">Ammo</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</thead>
			<tbody>
				{{#bowgunsG.lbg}}
					{{>bowgun_g}}
				{{/bowgunsG.lbg}}
			</tbody>
		</table>
	</details>

	<details class="weapon-class-container">
		<summary><h2><span class="white-icon hbg-icon"></span> Heavy Bowguns</h2></summary>
		<table id="hbg-1" class="mh1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Damage</th>
					<th>Defense</th>
					<th>Reload</th>
					<th>Recoil</th>
					<th class="range-stat">Range</th>
					<th colspan="4">Ammo</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</thead>
			<tbody>
				{{#bowguns1.hbg}}
					{{>bowgun_1}}
				{{/bowguns1.hbg}}
			</tbody>
		</table>

		<table id="hbg-g" class="mhg">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Damage</th>
					<th>Defense</th>
					<th>Reload</th>
					<th>Recoil</th>
					<th class="range-stat">Range</th>
					<th colspan="4">Ammo</th>
					<th>Price</th>
					<th>Forge Materials</th>
				</tr>
			</thead>
			<tbody>
				{{#bowgunsG.hbg}}
					{{>bowgun_g}}
				{{/bowgunsG.hbg}}
			</tbody>
		</table>
	</details>
</section>

<hr/>

<section class="about-weapons">
	<details>
		<summary>
			<h2>About Weapons</h2>
		</summary>

		<h3>Bloat Values</h3>
		<p>
			Each weapon class has a predefined multiplier that is used to indicate its relative damage considering its motion values. So the Attack stat seen in-game is a "bloated" version of the weapon's True Base Damage, as detailed below.
		</p>

		<table>
			<thead>
				<tr>
					<th>Weapon</th>
					<th>Bloat Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Greatsword</th>
					<td>4.8</td>
				</tr>
				<tr>
					<th>Hammer</th>
					<td>5.2</td>
				</tr>
				<tr>
					<th>Lance</th>
					<td>2.3</td>
				</tr>
				<tr>
					<th>Sword and Shield</th>
					<td>1.4</td>
				</tr>
				<tr class="mhg">
					<th>Dual Swords</th>
					<td>1.4</td>
				</tr>
				<tr>
					<th>Bowgun</th>
					<td>1.2</td>
				</tr>
			</tbody>
		</table>

		<h3>Attack Up Buffs</h3>
		<p>
			There are three stages of the Attack Up buff: Small,<span class="mhg"> Medium, and</span> Large<span class="mh1">, and Extra Large</span>.
		</p>
		<table>
			<tbody>
				<tr>
					<th>Small</th>
					<td class="ta-r">3</td>
				</tr>
				<tr class="mh1">
					<th>Large</th>
					<td class="ta-r">5</td>
				</tr>
				<tr class="mh1">
					<th>Extra Large</th>
					<td class="ta-r">10</td>
				</tr>
				<tr class="mhg">
					<th>Medium</th>
					<td class="ta-r">5</td>
				</tr>
				<tr class="mhg">
					<th>Large</th>
					<td class="ta-r">10</td>
				</tr>
			</tbody>
		</table>
		<p>
			Your total Attack Up buff is added to your weapon's True Base Damage before any other calculations.<br/>
			<br/>
			Some Attack Up buffs can stack, while others can't. Per the chart below, anything within the same category cannot stack. E.G. Powercharm [+5], Attack Up Small [+3], Demondrug [+3], and Power Seed [+10] would all stack for a total of +21 True Base Damage. However, Attack Up Small from Dining [+3] and Mega Demondrug [+5] would not stack.
		</p>
		<table>
			<tbody>
				<tr>
					<th>Charm:</th>
					<td>Powercharm [5]</td>
				</tr>
				<tr class="mhg">
					<th>Talon:</th>
					<td>Powertalon [10]</td>
				</tr>
				<tr>
					<th>Armor Skill:</th>
					<td>Attack Up [3, 5, 10]</td>
				</tr>
				<tr>
					<th>Dining &amp; Consumables:</th>
					<td>Dining Buff [3, 5, 10], Demondrug [3], Mega Demondrug [5], &amp; Demon Shot [3]*</td>
				</tr>
				<tr>
					<th>Short-Term Consumables:</th>
					<td>Power Seed [10]<span class="mhg">, Power Pill [25],</span> &amp; Demon Flute [10]</td>
				</tr>
			</tbody>
		</table>
		<p>
			<i>*Demon Shot will <b>replace</b> any other attack buffs from its category. E.G. replacing Mega Demondrug's +5 with +3 from the shot.</i>
		</p>

		<h2>Blademaster Weapons</h2>

		<h3>Motion Values</h3>
		<p>
			Every attack for each weapon class has its own multiplier to determine how much damage it will do. This Motion Value (MV) represents a fraction of the weapon's True Base Damage.
		</p>

		<table>
			<tbody>
				<tr>
					<th class="ta-c" rowspan="5">Great Sword</th>
				</tr>
				{{#motionValues.greatsword}}
					<tr>
						<td>{{name}}</td>
						<td>{{value}}</td>
					</tr>
				{{/motionValues.greatsword}}
				<tr>
					<th class="ta-c" rowspan="12">Hammer</th>
				</tr>
				{{#motionValues.hammer}}
					<tr{{#mh1}} class="mh1"{{/mh1}}{{#mhg}} class="mhg"{{/mhg}}>
						<td>{{name}}</td>
						<td>{{value}}{{#value1}}<span class="mh1">{{value1}}</span>{{/value1}}{{#valueG}}<span class="mhg">{{valueG}}</span>{{/valueG}}</td>
					</tr>
				{{/motionValues.hammer}}
				<tr>
					<th class="ta-c" rowspan="8">Lance</th>
				</tr>
				{{#motionValues.lance}}
					<tr>
						<td>{{name}}</td>
						<td>{{value}}</td>
					</tr>
				{{/motionValues.lance}}
				<tr>
					<th class="ta-c" rowspan="9">Sword and Shield</th>
				</tr>
				{{#motionValues.sword}}
					<tr>
						<td>{{name}}</td>
						<td>{{value}}</td>
					</tr>
				{{/motionValues.sword}}
				<tr class="mhg">
					<th class="ta-c" rowspan="14">Dual Swords</th>
				</tr>
				{{#motionValues.dualSwords}}
					<tr class="mhg">
						<td>{{name}}</td>
						<td>{{value}}</td>
					</tr>
				{{/motionValues.dualSwords}}
			</tbody>
		</table>

		<h3>Sharpness</h3>
		<p>
			The full sharpness bar on a weapon represents <span class="mh1">3</span><span class="mhg">4</span>00 hits. Select a weapon and open the Damage Calculator to see how many hits it has per sharpness level. Bouncing reduces your weapon's sharpness by two hits, otherwise every attack reduces sharpness by one. Blocking an attack with a Great Sword will reduce its sharpness as well.<br/>
			<br/>
			A Whetstone or Knife Mackaral<span class="mh1"> normally</span> restore 150 hits, and a Mini-Whetstone 100 hits.<span class="mh1"> Sharpness Restoration +25% increases these to 187 and 125 respectively, +50% increases to 225 and 150.</span><br/>
			<br/>
			A weapon's current sharpness will also modify its attack damage per the chart below.
		</p>

		<table>
			<tbody class="mh1">
				<tr>
					<td title="Red Sharpness">
						<span class="sharpness-0"></span>
						<span class="ui-icon-2 sharpness-icon-dullest sharpness-icon-red"></span>
					</td>
					<td>&times;0.5</td>
				</tr>
				<tr>
					<td title="Orange Sharpness">
						<span class="sharpness-1"></span>
						<span class="ui-icon-2 sharpness-icon-dull sharpness-icon-orange"></span>
					</td>
					<td>&times;0.75</td>
				</tr>
				<tr>
					<td title="Yellow Sharpness">
						<span class="sharpness-2"></span>
						<span class="ui-icon-2 sharpness-icon"></span>
					</td>
					<td>&times;1.0</td>
				</tr>
				<tr>
					<td title="Green Sharpness">
						<span class="sharpness-3"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-yellow"></span>
					</td>
					<td>&times;1.125</td>
				</tr>
			</tbody>
			<tbody class="mhg">
				<tr>
					<td title="Red Sharpness">
						<span class="sharpness-0"></span>
						<span class="ui-icon-2 sharpness-icon-dullest sharpness-icon-red"></span>
					</td>
					<td>&times;0.5</td>
				</tr>
				<tr>
					<td title="Orange Sharpness">
						<span class="sharpness-1"></span>
						<span class="ui-icon-2 sharpness-icon-dull sharpness-icon-orange"></span>
					</td>
					<td>&times;0.75</td>
				</tr>
				<tr>
					<td title="Yellow Sharpness">
						<span class="sharpness-2"></span>
						<span class="ui-icon-2 sharpness-icon"></span>
					</td>
					<td>&times;1.0</td>
				</tr>
				<tr>
					<td title="Green Sharpness">
						<span class="sharpness-3"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-green"></span>
					</td>
					<td>&times;1.125</td>
				</tr>
				<tr>
					<td title="Blue Sharpness">
						<span class="sharpness-4"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-blue"></span>
					</td>
					<td>&times;1.25</td>
				<tr>
					<td title="White Sharpness">
						<span class="sharpness-5"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-white"></span>
					</td>
					<td>&times;1.5</td>
				</tr>
			</tbody>
		</table>

		<h3>Attack Motion Sweetspot</h3>
		<p>
			Every weapon attack has a sweetspot during its motion: if the attack hits a monster during the sweetspot it will deal full damage, if it hits too early it will deal 30% damage, and if it hits too late it will deal 50%. The early penalty will only apply at yellow sharpness and below, <span title="see the NOTE below">and the late penalty will apply at all sharpness levels.</span><span class="mhg" title="see the NOTE below"> The ESP skill will remove the late timing penalty if your weapon is at White sharpness*.</span> Additionally, Great Sword attacks deal 105% damage instead of 100% if the attack hits in the middle of the blade's length and during the sweetspot of the motion.<br/>
			<br/>
			NOTE: this mechanic is bugged in-game. At Green sharpness<span class="mhg"> and above</span> the late timing penalty is <i>also</i> removed.<span class="mhg"> So in practice, the ESP skill doesn't do anything.</span>
		</p>

		<h3>Weapon Reaction Value</h3>
		<p>
			A Blademaster weapon's attack can have one of four different reactions on hitting a monster: bounce, hitslow, hitstop, or normal motion. This Reaction Value is the product of the weapon's sharpness modifier, monster hitzone, and sweetspot.
		</p>
		<pre>Sharpness Mod &times; Hitzone &times; Sweetspot Mod</pre>
		<p>
			If the Reaction Value is less than 0.25 the weapon will bounce, if it's less than 0.45 the motion will continue like normal, if it's less than 1.0 the weapon motion will be slowed for a moment (hitslow), if it is greater than or equal to 1.0 it'll be stopped for a moment (hitstop.) Hitslow and Hitstop durations are defined per attack.<br/>
			<br/>
			Bouncing, critslow, and critstop do not directly affect damage, but bouncing will reduce weapon sharpness by two points instead of one.<br/>
			<br/>
			A few Hammer<span class="mhg"> and Dual Swords</span> attacks will never make your hunter bounce, though the sound and particle effects will still play, and sharpness is reduced by two hits all the same. These include the Hammer Spins<span class="mhg">, combo Golf Swing</span>, Golf Swing after spinning, and both components of the Superpound<span class="mhg">, and the Dual Swords Fury Combo</span>.
		</p>

		<h3>Element</h3>
		<p>
			Much like the Attack stat, the displayed Element value is bloated<span class="mh1"> in the weapons table above (in line with later games)</span><span class="mhg"> in-game</span>, by 10 times to be exact. Any weapon with Element damage will deal that element damage on any hit, regardless of<span class="mh1"> sharpness or</span> Reaction value (before defense, hitzones, etc.)<span class="mhg"> Sharpness modifies element damage much like it does raw damage.</span>
		</p>
		<table class="mhg">
			<tbody>
				<tr>
					<td title="Red Sharpness">
						<span class="sharpness-0"></span>
						<span class="ui-icon-2 sharpness-icon-dullest sharpness-icon-red"></span>
					</td>
					<td>&times;0.25</td>
				</tr>
				<tr>
					<td title="Orange Sharpness">
						<span class="sharpness-1"></span>
						<span class="ui-icon-2 sharpness-icon-dull sharpness-icon-orange"></span>
					</td>
					<td>&times;0.5</td>
				</tr>
				<tr>
					<td title="Yellow Sharpness">
						<span class="sharpness-2"></span>
						<span class="ui-icon-2 sharpness-icon"></span>
					</td>
					<td>&times;0.75</td>
				</tr>
				<tr>
					<td title="Green Sharpness">
						<span class="sharpness-3"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-green"></span>
					</td>
					<td>&times;1.0</td>
				</tr>
				<tr>
					<td title="Blue Sharpness">
						<span class="sharpness-4"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-blue"></span>
					</td>
					<td>&times;1.0625</td>
				<tr>
					<td title="White Sharpness">
						<span class="sharpness-5"></span>
						<span class="ui-icon-2 sharpness-icon sharpness-icon-white"></span>
					</td>
					<td>&times;1.125</td>
				</tr>
			</tbody>
		</table>

		<h3>Total Blademaster Damage (before hitting a monster)</h3>
		<pre>Total Raw Damage = ((True Base Damage + Attack Buffs) * Motion Value * Sharpness Modifier * Sweetspot Modifier)<br/>Total Element Damage = <span class="mhg">(</span>True Element<span class="mhg"> * Element Sharpness Mod)</span></pre>

		<h2>Bowguns</h2>

		<h3>Motion Values</h3>
		<p>
			Bowguns calculate raw damage based on ammo MVs. Some shots can hit a target multiple times, and some shots also deal additional effects:
		</p>
		<ul>
			<li>Pierce Shot will hit a monster at least once, and up to the maximum number of impacts in a straight line, unless it exits the monster sooner.</li>
			<li>Pellet Shot will hit all monsters in the cone of effect multiple times in quick succession; the number of impacts is higher the closer the monster is to the hunter and the center of the cone; all monsters in the cone take the full number of impacts regardless of any other monsters or hunters in the cone with them; Pellet shot is also not affected by physical obstructions.</li>
			<li>Clust Shot spawns a number of bomblets on impact, which scatter and explode on impact with any solid object.</li>
			<li><span class="mh1">Shots that deal element damage only deal a fixed amount.</span><span class="mhg">Flame, Water, and Thunder shot deal element damage as MV. Pellet, Crag, Clust and Dragon shot deal flat element damage.</span></li>
			<li>Shots with Ricochet will deal damage and change direction on impacting a monster; if it hits the monster again, it will deal full damage and ricochet again until reaching the maximum number of possible impacts (defined per shot below) or missing the monster.</li>
			<li>Recover Shot heals both hunters and monsters alike.</li>
		</ul>

		<h3>Reload</h3>
		<p>
			Reload time is determined by the Bowgun's innate loading speed and the Ammo being loaded. There are three possible reload speeds:
		</p>
		<table>
			<tbody>
				<tr>
					<th>Fast</th>
					<td>0 - 4</td>
				</tr>
				<tr>
					<th>Medium</th>
					<td>5 - 7</td>
				</tr>
				<tr>
					<th>Slow</th>
					<td>8 - 10</td>
				</tr>
			</tbody>
		</table>
		<p>
			A bowgun can have one of five different reload speeds, which reduce an ammunition's reload time by the following amounts:
		</p>
		<table>
			<tbody>
				<tr>
					<th>Very Slow</th>
					<td>0</td>
				</tr>
				<tr>
					<th>Slow</th>
					<td>1</td>
				</tr>
				<tr>
					<th>Normal</th>
					<td>2</td>
				</tr>
				<tr>
					<th>Fast</th>
					<td>3</td>
				</tr>
				<tr>
					<th>Very Fast</th>
					<td>4</td>
				</tr>
			</tbody>
		</table>
		<p>
			Reload Speed armor skills can reduce reload even further: each level reduces reload time by one point.
		</p>
		<pre>
			Shot Reload Time - Bowgun Reload - Reload Skill Level
		</pre>

		<h3>Recoil</h3>
		<p>
			<span class="mh1">Recoil is determined entirely by ammunition, and has three possible levels.</span>
			<span class="mhg">Much like Reload Time, Recoil is determined by ammunition, bowgun recoil compensation, and the Recoil armor skill. Nearly all bowguns have "Moderate" recoil compensation (-2 to shot recoil), and a few have "Light" (-3 to shot recoil.)</span>
		</p>
		<table>
			<tbody>
				<tr>
					<th>Small</th>
					<td>&nbsp;0 - 8</td>
				</tr>
				<tr>
					<th>Medium</th>
					<td>&nbsp;9 - 10</td>
				</tr>
				<tr>
					<th>Large</th>
					<td>11 - 14</td>
				</tr>
			</tbody>
		</table>
		<pre>
			Shot Recoil - Bowgun Recoil Compensation - Recoil Skill Level
		</pre>
		<p class="mhg">
			The Rapid Fire skill removes Bowgun Recoil Compensation from the calculation, thus increasing recoil for all shots.
		</p>

		<h3>Critical Range</h3>
		<p>
			Normal and Pierce Shots deal different damage based on how far the shot has to travel to hit the monster. The range during which they deal maximum damage (1.5&times;) is Critical Range. Normal Shot starts in critical range and falls off over time. Pierce Shot starts at 1.0 &times; damage initially, enters Critical Range after a short travel time, and falls off after that. Higher levels of Normal and Pierce Shot remain in their critical range for longer.
		</p>

		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>Shot</th>
						<th>MV</th>
						<th>Impacts</th>
						<th>Effect</th>
						<th>Reload</th>
						<th>Recoil</th>
					</tr>
				</thead>
				<tbody>
					{{#bowgunAmmo}}
						<tr{{#mh1}} class="mh1"{{/mh1}}{{#mhg}} class="mhg"{{/mhg}}>
							<th>{{name}}</th>
							<td>{{power}}</td>
							<td class="ta-c">
								{{impacts}}
								<span class="mh1">{{#impacts1}}{{impacts1}}{{/impacts1}}</span>
								<span class="mhg">{{#impactsG}}{{impactsG}}{{/impactsG}}</span>
							</td>
							<td>
								{{#effect}}{{{effect}}} {{/effect}}
								{{#explosion}}
									Explosion: {{explosion.power}} <img class="attribute-icon" src="images/attributes/{{explosion.attribute}}.png" alt="{{explosion.attributeAlt}}" title="{{explosion.attributeAlt}}"/>{{explosion.attributeValue}}
									{{#explosion.impacts}} x{{explosion.impacts}} {{/explosion.impacts}}
								{{/explosion}}
								{{#attributeAlt}}
									<img class="attribute-icon" src="images/attributes/{{attribute}}.png" alt="{{attributeAlt}}" title="{{attributeAlt}}"/>
								{{/attributeAlt}}
								<span>
									{{#attributeValue}}{{attributeValue}}{{/attributeValue}}
									{{#attributeMV}}{{attributeMV}} MV{{/attributeMV}}
								</span>
							</td>
							<td class="ta-r">{{reload}}</td>
							<td class="ta-r">
								{{#recoil1}}<span class="mh1">{{recoil1}}</span>{{/recoil1}}
								{{#recoilG}}<span class="mhg">{{recoilG}}</span>{{/recoilG}}
							</td>
						</tr>
					{{/bowgunAmmo}}
				</tbody>
			</table>
		</div>

		<h3>Total Bowgun Damage (per impact, before hitting a monster)</h3>
		<pre>Normal and Pierce Shots = (True Base Damage + Attack Buffs) * Ammo Motion Value * Critical Range Modifier<br/>All Other Shots = (True Base Damage + Attack Buffs) * Ammo Motion Value</pre>

		<h2>Damage to Monsters</h2>

		<h3>Defense Modifier</h3>
		<p>
			A weapon's attack is further modified by the monster's Defense Modifier. This is determined<span class="mh1"> by the monster's category and in which rank it is hunted. See the <a href="/bestiary">Bestiary</a> for which monsters use which Defense Modifiers.</span><span class="mhg"> per monster per quest. See the <a href="/bestiary">Bestiary</a> for the full range of possible Defense modifiers for each monster. See the <a href="/quests">Quests page</a> for the full range of possible Defense Modifiers the monsters on a given quest can have.</span>
		</p>
		<table class="mh1">
			<thead>
				<tr>
					<th>Monster Category</th>
					<th>Village</th>
					<th>Low Rank Town [1-3 Star]</th>
					<th>High Rank Town [4-6 Star]</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Most Small Monsters</th>
					<td>1.0</td>
					<td>1.0</td>
					<td>1.0</td>
				</tr>
				<tr>
					<th>Strong Small Monsters</th>
					<td>1.0</td>
					<td>1.0</td>
					<td>0.9</td>
				</tr>
				<tr>
					<th>Large Monsters</th>
					<td>1.0</td>
					<td>0.95</td>
					<td>0.9</td>
				</tr>
				<tr>
					<th>Fatalis</th>
					<td>n/a</td>
					<td>n/a</td>
					<td>0.95</td>
				</tr>
			</tbody>
		</table>

		<h3>Hitzones</h3>
		<p>
			After the Defense Modifier, weapon damage is reduced again by monster hitzones. Each part of a monster resists cutting, blunt, shot, and element damage differently (see the <a href="/bestiary">Bestiary</a>.) These hitzones represent the percent damage the monster will take from the given damage type. Great Sword<span class="mh1"> and</span><span class="mhg">,</span> Sword and Shield<span class="mhg">, and Dual Swords</span> deal Cutting damage; Hammer deals Blunt damage; and Bowgun deals Shot Damage. Lance is a special case: for the purpose of damage calculations, the Lance will compare Cutting and Blunt hitzones and choose the greater (Lance damage is always considered Cutting Damage for all other reasons, E.G. Lance can always cut tails.)
		</p>
		<table>
			<tbody>
				<tr>
					<th>Great Sword</th>
					<td><pre>Raw Damage * (Cutting Hitzone &div; 100)</pre></td>
				</tr>
				<tr>
					<th>Hammer</th>
					<td><pre>Raw Damage * (Blunt Hitzone &div; 100)</pre></td>
				</tr>
				<tr>
					<th>Lance</th>
					<td><pre>Raw Damage * ((Cutting OR Blunt Hitzone) &div; 100)</pre></td>
				</tr>
				<tr>
					<th>Sword and Shield</th>
					<td><pre>Raw Damage * (Cutting Hitzone &div; 100)</pre></td>
				</tr>
				<tr class="mhg">
					<th>Dual Swords</th>
					<td><pre>Raw Damage * (Cutting Hitzone &div; 100)</pre></td>
				</tr>
				<tr>
					<th>Bowgun</th>
					<td><pre>Raw Damage * (Blunt Hitzone &div; 100)</pre></td>
				</tr>
				<tr>
					<th>Element</th>
					<td><pre>Element Damage * (Element Hitzone &div; 100)</pre></td>
				</tr>
			</tbody>
		</table>

		<h3>Damage to a Monster</h3>
		<pre>(Total Weapon Raw Damage * Monster Defense * Monster Raw Hitzone) + (Total Weapon Element Damage * Monster Element Hitzone)</pre>

		<h3>Explosive Damage</h3>
		<p>
			Crag Shot, Cluster Shot, and Barrel Bombs deal damage that ignores monster hitzones, and is only affected by the monster's defense modifier.<span class="mhg"> The Bomber skill will increase the damage of Barrel Bombs by 1.5 times.</span>
		</p>
		<table>
			<thead>
				<tr>
					<th>Explosive</th>
					<th>Damage</th>
					<th class="mhg">with Bomber</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Crag S Lv 1</th>
					<td class="ta-r">20</td>
					<td class="ta-r mhg">20</td>
				</tr>
				<tr>
					<th>Crag S Lv 2</th>
					<td class="ta-r">30</td>
					<td class="ta-r mhg">30</td>
				</tr>
				<tr>
					<th>Crag S Lv 3</th>
					<td class="ta-r">40</td>
					<td class="ta-r mhg">40</td>
				</tr>
				<tr>
					<th>Clust S Bomblet</th>
					<td class="ta-r">32</td>
					<td class="ta-r mhg">32</td>
				</tr>
				<tr>
					<th>Sm Barrel Bomb</th>
					<td class="ta-r">20</td>
					<td class="ta-r mhg">30</td>
				</tr>
				<tr class="mhg">
					<th>Sm Barrel Bomb+</th>
					<td class="ta-r">30</td>
					<td class="ta-r">45</td>
				</tr>
				<tr>
					<th>Lg Barrel Bomb</th>
					<td class="ta-r">80</td>
					<td class="ta-r mhg">120</td>
				</tr>
				<tr class="mhg">
					<th>Lg Barrel Bomb+</th>
					<td class="ta-r">150</td>
					<td class="ta-r">225</td>
				</tr>
			</tbody>
		</table>

		<h3>Siege Weapons</h3>
		<p>
			The various siege weapons provided at certain locales also deal damage in the same way as explosives. The Fort Dragonator has four drivers with the potential to deal damage to Lao-Shan Lung with all four upon activation. The Castle Schrade Dragonator has one driver that continues to deal damage at a regular interval for the duration of its activation. The Gate at Castle Schrade will drop automatically, and cannot be reset.
		</p>
		<table>
			<tbody>
				<tr>
					<th>Ballista</th>
					<td>100</td>
				</tr>
				<tr>
					<th>Cannon</th>
					<td>250</td>
				</tr>
				<tr>
					<th>Fort Dragonator</th>
					<td>255 &times; 4</td>
				</tr>
				<tr>
					<th>Castle Schrade Dragonator</th>
					<td>255 per 0.8 seconds</td>
				</tr>
				<tr>
					<th>Castle Schrade Gate</th>
					<td>255</td>
				</tr>
			</tbody>
		</table>
	</details>
</section>

<div id="damage-calculator">
	<div id="sidebar-content">
		<div class="columns-container">
			<div class="weapon-column">
				<h2>Weapon: <span id="calc-weapon-icon"></span> <span id="calc-weapon-name"></span></h2>

				<h3>Attack: <span id="calc-weapon-attack"></span></h3>
				<h3 id="calc-weapon-element-container" class="blademaster-stat">Element: <img id="calc-weapon-element-icon" class="attribute-icon" src="" alt="" title=""/><span id="calc-weapon-element"></span> (<span id="calc-true-element"></span>)</h3>
				<h3 id="calc-weapon-status-container" class="blademaster-stat">Status: <img id="calc-weapon-status-icon" class="attribute-icon" src="" alt="" title=""/><span id="calc-weapon-status"></span> (<span id="calc-true-status"></span>)</h3>

				<div class="sharpness-range-color blademaster-stat">
					<div id="calc-sharpness-color"></div>
					<div class="calc-sharpness-container">
						<canvas id="calc-sharpness-canvas" class="hide" width="119" height="2"></canvas>
						<div class="sharpness-container"><img id="calc-sharpness-img" src=""/></div>

						<div class="calc-hit-count-container">
							<div class="calc-hit-count"></div>
							<div class="calc-hit-count"></div>
							<div class="calc-hit-count"></div>
							<div class="calc-hit-count"></div>
							<div class="calc-hit-count"></div>
							<div class="calc-hit-count"></div>
						</div>

						<input id="calc-sharpness" type="range" min="0" max step="1"/>
					</div>
				</div>
			</div>

			<div>
				<div class="columns-container">
					<div class="column">
						<h4 title="Dining buffs, Demondrug, Mega Demondrug, and Demon Shot do not stack">Food/Item Skills:</h4>

						<div class="radio-container">
							<input id="calc-food-attack-up-none" type="radio" name="item_attack_up" checked/>
							<div class="radio-icon"></div>
							<label for="calc-food-attack-up-none" title="0">No Attack Up</label>
						</div>
						<div class="radio-container">
							<input id="calc-food-attack-up-small" type="radio" name="item_attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-food-attack-up-small" title="3">Attack Up Small</label>
						</div>
						<div class="radio-container mhg">
							<input id="calc-food-attack-up-medium" type="radio" name="item_attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-food-attack-up-medium" title="5">Attack Up Medium</label>
						</div>
						<div class="radio-container">
							<input id="calc-food-attack-up-large" type="radio" name="item_attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-food-attack-up-large" title="5 (MH1) 10 (MHG)">Attack Up Large</label>
						</div>
						<div class="radio-container mh1">
							<input id="calc-food-attack-up-extra" type="radio" name="item_attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-food-attack-up-extra" title="10">Attack Up Extra Large</label>
						</div>
						<hr/>
						<div class="checkbox-container">
							<input id="calc-item-attack-up" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-item-attack-up" title="10">Seed/Flute Buff</label>
						</div>
					</div>

					<div class="column">
						<h4>Armor Skills:</h4>

						<div class="radio-container">
							<input id="calc-attack-up-none" type="radio" name="attack_up" checked/>
							<div class="radio-icon"></div>
							<label for="calc-attack-up-none" title="0">No Attack Up</label>
						</div>
						<div class="radio-container">
							<input id="calc-attack-up-small" type="radio" name="attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-attack-up-small" title="3">Attack Up Small</label>
						</div>
						<div class="radio-container mhg">
							<input id="calc-attack-up-medium" type="radio" name="attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-attack-up-medium" title="5">Attack Up Medium</label>
						</div>
						<div class="radio-container">
							<input id="calc-attack-up-large" type="radio" name="attack_up"/>
							<div class="radio-icon"></div>
							<label for="calc-attack-up-large" title="5 (MH1) 10 (MHG)">Attack Up Large</label>
						</div>
						<hr class="blademaster-stat mhg"/>
						<div class="checkbox-container blademaster-stat mhg">
							<input id="calc-handicraft" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-handicraft">Handicraft</label>
						</div>
						<hr class="mhg"/>
						<div class="checkbox-container mhg">
							<input id="calc-special-attack" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-special-attack" title="Status x1.125">Special Attack</label>
						</div>
					</div>

					<div class="column">
						<h4 class="gunner-stat mhg">Shot Up Skills:</h4>

						<div class="checkbox-container gunner-stat mhg">
							<input id="calc-normal-shot-up" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-normal-shot-up">Normal Shot Up</label>
						</div>
						<div class="checkbox-container gunner-stat mhg">
							<input id="calc-pierce-shot-up" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-pierce-shot-up">Pierce Shot Up</label>
						</div>
						<div class="checkbox-container gunner-stat mhg">
							<input id="calc-pellet-shot-up" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-pellet-shot-up">Pellet Shot Up</label>
						</div>

						<h4>Items:</h4>

						<div class="checkbox-container">
							<input id="calc-powercharm" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-powercharm" title="5">Powercharm</label>
						</div>

						<div class="checkbox-container mhg">
							<input id="calc-powertalon" type="checkbox"/>
							<div class="radio-icon"></div>
							<label for="calc-powertalon" title="10">Powertalon</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-container">
			<table>
				<caption class="blademaster-stat">Motion Values</caption>
				<caption class="gunner-stat">Ammo Damage</caption>

				<thead>
					<tr class="blademaster-stat">
						<th colspan="2">Attack</th>
						<th class="mv-column">Motion Value</th>
						<th>Raw Damage</th>
					</tr>

					<tr class="gunner-stat">
						<th>Shot Name</th>
						<th>Power</th>
						<th># of Impacts</th>
						<th>Effect</th>
					</tr>
				</thead>

				<tbody class="motion-values greatsword-mvs">
					{{#motionValues.greatsword}}
						{{> motion_value_rows }}
					{{/motionValues.greatsword}}
				</tbody>

				<tbody class="motion-values hammer-mvs">
					{{#motionValues.hammer}}
						{{> motion_value_rows }}
					{{/motionValues.hammer}}
				</tbody>

				<tbody class="motion-values lance-mvs">
					{{#motionValues.lance}}
						{{> motion_value_rows }}
					{{/motionValues.lance}}
				</tbody>

				<tbody class="motion-values sword-mvs">
					{{#motionValues.sword}}
						{{> motion_value_rows }}
					{{/motionValues.sword}}
				</tbody>

				<tbody class="motion-values dual-swords-mvs mhg">
					{{#motionValues.dualSwords}}
						{{> motion_value_rows }}
					{{/motionValues.dualSwords}}
				</tbody>

				<tbody class="bowgun-ammo">
					{{#bowgunAmmo}}
						<tr id="{{id}}-row" class="bowgun-shot-row{{#mhg}} mhg{{/mhg}}" data-power="{{power}}">
							<td>{{name}}</td>
							<td class="bowgun-shot-power"></td>
							<td>
								{{{impacts}}}
								{{^impacts}}
									{{#impacts1}}<span class="mh1">{{impacts1}}</span>{{/impacts1}}
									{{#impactsG}}<span class="mhg">{{impactsG}}</span>{{/impactsG}}
									{{^impacts1}}1{{/impacts1}}
								{{/impacts}}
							</td>
							<td>
								{{#effect}}{{{effect}}} {{/effect}}
								{{#attributeAlt}}
									<img class="attribute-icon" src="images/attributes/{{attribute}}.png" alt="{{attributeAlt}}" title="{{attributeAlt}}"/>
								{{/attributeAlt}}
								<span class="bowgun-shot-attribute" data-attribute="{{attribute}}" data-attribute-value="{{attributeValue}}">
									{{#attributeValue}}{{attributeValue}}{{/attributeValue}}
								</span>
								{{#attributeMod}}
									<span id="ammo-{{attribute}}-attribute"></span>
								{{/attributeMod}}
								{{#explosion}}
									Explosion: {{explosion.power}} <img class="attribute-icon" src="images/attributes/{{explosion.attribute}}.png" alt="{{explosion.attributeAlt}}" title="{{explosion.attributeAlt}}"/>{{explosion.attributeValue}}
									{{#explosion.impacts}} x{{explosion.impacts}} {{/explosion.impacts}}
								{{/explosion}}
							</td>
						</tr>
					{{/bowgunAmmo}}
				</tbody>

				<tbody>
					<tr>
						<td><span class="blademaster-stat">Kick</span><span class="gunner-stat">Melee</span></td>
						<td class="blademaster-stat">R3 (while sheathed)</td>
						<td class="blademaster-stat mv-column">2</td>
						<td id="kick-raw" class="attack-raw" data-value="0.02"></td>
						<td class="gunner-stat">1</td><!-- impacts -->
						<td class="gunner-stat"><!-- effect --></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button id="toggle-damage-calculator">
		<div class="button-copy">Damage Calculator</div>
	</button>
</div>

{{> foot}}
