body {
	box-sizing: border-box;
	padding-right: 1rem;
}

.class-mixing-error {
	display: none;
	color: #f73;
	font-style: italic;
}
.res-value {
	float: right;
}

#armor-builder {
	position: fixed;
	box-sizing: border-box;
	background: transparent url("/images/background/menu_g.gif");
	width: 16rem;
	top: 50%;
	right: -16rem;
	transform: translateY(-50%);
	transition: 400ms;
}
body.show-1 #armor-builder {
	background-image: url("/images/background/menu_1.gif");
}
#armor-builder.expanded {
	box-shadow: 0 0 0.25rem #333;
	right: 0;
}
#toggle-builder {
	position: absolute;
	background: rgba(0,0,0,0.65);
	line-height: 1.375rem;
	border: 0.0625rem solid #999;
	border-radius: 0.25rem 0 0 0.25rem;
	padding: 1rem 0;
	width: 1.375rem;
	min-height: 11.5rem;
	height: 100%;
	top: 50%;
	left: -1.375rem;
	transform: translateY(-50%);
}
#toggle-builder .builder-button-copy {
  position: absolute;
	margin-top: -0.6875rem;
	width: 12rem;
  height: 1.375rem;
	top: 50%;
  left: -5.375rem;
	transform: rotate(90deg);
}
#toggle-builder:before,
#toggle-builder:after {
	content: "";
	position: absolute;
	border-color: transparent #d7d7d7 transparent transparent;
	border-style: solid;
	border-width: 0.25rem 0.5rem;
	right: 0.375rem;
}
#toggle-builder:before {
	top: 0.25rem;
}
#toggle-builder:after {
	bottom: 0.25rem;
}
#armor-builder.expanded #toggle-builder:before,
#armor-builder.expanded #toggle-builder:after {
	border-color: transparent transparent transparent #d7d7d7;
	right: 0;
}

.armor-builder-content {
	border: 0.25rem double #856b5c;
	padding: 0.25rem;
}

.armor-rows-container {
	margin: 0 0 0.375rem;
}
.armor-row {
	line-height: 1.75rem;
}
.armor-icon,
.armor-name {
	vertical-align: middle;
}
.armor-icon {
	width: 1.75rem;
}

.stats-rows {
	margin: 0.375rem 0;
}

.skill-level-none {
	color: #aaa;
}
.skill-level-positive {
	color: #3af;
	font-weight: bold;
}
.skill-level-negative {
	color: #f33;
	font-weight: bold;
}
