.monster-details {
	/* overflow: hidden; */
	text-indent: 0;
}
.monster-details > summary {
	position: relative;
	/* z-index: 1; */
	list-style: none;
	padding: 0.125rem 1rem 0.125rem 2rem;
}
.monster-details > summary:before {
	content: "";
	position: absolute;
	border-color: transparent transparent transparent #d7d7d7;
	border-style: solid;
	border-width: 0.5rem 1rem;
	margin-top: -0.5rem;
	top: 3.59375rem;
	left: 0;
	transform-origin: 25% 50%;
	transition: transform 500ms;
}

/* .monster-container {
	position: relative;
	z-index: 0;
	top: -100%;
	transition: top 500ms;
} */

.monster-details[open] > summary:before {
	transform: rotate(90deg);
}
/* .monster-details[open] .monster-container {
	top: 0;
} */

.katakana {
	font-weight: normal;
	opacity: 0;
	transition: opacity 500ms;
}
.monster-details summary:hover .katakana {
	opacity: 1;
}

.monster-image {
	position: relative;
	box-sizing: border-box;
	background-image: url("/images/background/monster_frame.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
	width: 13.5rem;
	height: 13.5rem;
}
.unknown .monster-image:after {
	content: "";
	position: absolute;
	background-image: url("/images/monsters/unknown_icon_black.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: -0.78125rem auto 0;
	width: 1.5625rem;
	height: 1.5625rem;
	top: 50%;
	left: 0;
	right: 0;
}
.monster-image img {
	display: block;
	width: 100%;
}

.monster-data {
	box-sizing: border-box;
	padding: 0.5rem 0;
}
.monster-data ul {
	padding-left: 1rem;
	margin: 0;
}
.monster-data li {
	font-size: 1.125rem;
	line-height: 1.4;
}

.monster-icon-container {
	position: relative;
	box-sizing: border-box;
	background-image: url("/images/background/parchment.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
	width: 7.1875rem;
	height: 7.1875rem;
}
.monster-icon:before {
	position: absolute;
	content: "";
	background: rgba(0,0,0,0.25);
	border-radius: 100%;
	box-shadow: 0 0 2rem rgba(0,0,0,0.6);
	margin: -1.5rem auto 0;
	width: 3rem;
	height: 3rem;
	top: 50%;
	left: 0;
	right: 0;
}
.monster-icon {
	position: relative;
	background-image: url("/images/icon_sheets/monster_icons.png");
	background-repeat: no-repeat;
	background-size: 25.5rem 16rem;
	width: 3.1875rem;
	height: 3.1875rem;
}
/* Specific monsters */
.monster-rathalos { background-position: 0 0 }
.monster-rathian { background-position: -3.1875rem 0 }
.monster-gypceros { background-position: -6.375rem 0 }
.monster-yian-kut-ku { background-position: -9.5625rem 0 }
.monster-plesioth { background-position: -12.75rem 0 }
.monster-velocidrome { background-position: -15.9375rem 0 }
.monster-gendrome { background-position: -19.125rem 0 }
.monster-iodrome { background-position: -22.3125rem 0 }

.monster-cephalos { background-position: 0 -3.1875rem }
.monster-monoblos { background-position: -3.1875rem -3.1875rem }
.monster-diablos { background-position: -6.375rem -3.1875rem }
.monster-gravios { background-position: -9.5625rem -3.1875rem }
.monster-basarios { background-position: -12.75rem -3.1875rem }
.monster-cephadrome { background-position: -15.9375rem -3.1875rem }
.monster-giaprey { background-position: -19.125rem -3.1875rem }
.monster-blue-kut-ku { background-position: -22.3125rem -3.1875rem }

.monster-khezu { background-position: 0 -6.375rem }
.monster-kelbi { background-position: -3.1875rem -6.375rem }
.monster-bullfango { background-position: -6.375rem -6.375rem }
.monster-vespoid { background-position: -9.5625rem -6.375rem }
.monster-hornetaur { background-position: -12.75rem -6.375rem }
.monster-purple-gypceros { background-position: -15.9375rem -6.375rem }
.monster-green-plesioth { background-position: -19.125rem -6.375rem }
.monster-black-gravios { background-position: -22.3125rem -6.375rem }

.monster-apceros { background-position: 0 -9.5625rem }
.monster-velociprey { background-position: -3.1875rem -9.5625rem }
.monster-genprey { background-position: -6.375rem -9.5625rem }
.monster-ioprey { background-position: -9.5625rem -9.5625rem }
.monster-unknown { background-position: -12.75rem -9.5625rem }
.monster-white-monoblos { background-position: -15.9375rem -9.5625rem }
.monster-black-diablos { background-position: -19.125rem -9.5625rem }
.monster-azure-rathalos { background-position: -22.3125rem -9.5625rem }

.monster-aptonoth { background-position: 0 -12.75rem }
.monster-felyne { background-position: -3.1875rem -12.75rem }
.monster-melynx { background-position: -6.375rem -12.75rem }
.monster-mosswine { background-position: -9.5625rem -12.75rem }
.monster-red-khezu { background-position: -12.75rem -12.75rem }
.monster-pink-rathian { background-position: -15.9375rem -12.75rem }
.monster-silver-rathalos { background-position: -19.125rem -12.75rem }
.monster-gold-rathian { background-position: -22.3125rem -12.75rem }

.monster-container {
	padding: 0.25rem 2rem 0;
}
.monster-description p {
	margin: 0;
}

/* Tablet */
@media screen and (min-width: 50rem) {
	.monster-details > summary:before {
		top: 50%;
	}

	.monster-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.monster-description {
		padding-left: 2rem;
		width: calc(100% - 7.5rem);
	}

	.monster-image,
	.monster-data {
		display: inline-block;
	}
	.monster-data {
		vertical-align: top;
		padding: 1.5rem 2rem;
		width: calc(100% - 14rem);
	}
}
