article p {
	line-height: 1.6;
}

/* Small Desktop */
@media screen and (min-width: 64rem) {
	.flex-container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.column {
		width: 48%;
	}
	.full-width {
		width: 100%;
	}
}
