button {
	background: rgba(0,0,0,0.65);
	line-height: 1.75rem;
	border: 0.0625rem solid #999;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	height: 1.75rem;
	transition: 300ms;
}
button:hover {
	background: rgba(0,0,0,1);
	color: #fff;
	border-color: #fff;
}

@keyframes border_flicker {
	  0% { border-style: double; }
	 49% { border-style: double; }
	 50% { border-style: solid; }
	 99% { border-style: solid; }
	100% { border-style: double; }
}
.roulette-header {
	text-align: center;
}
.roulette-header h1 {
	display: inline-block;
	font: italic bold 2rem Arial, sans-serif;
	border: 0.25rem double #f72;
	padding: 0.5rem 1rem;
	margin: 0 auto;
	animation: border_flicker 1s linear infinite;
}
@keyframes char_0 {
	0% { color: #f72; }
	8% { color: #f72; }
	9% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_1 {
	0% { color: #777; }
	8% { color: #777; }
	9% { color: #f72; }
	16% { color: #f72; }
	17% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_2 {
	0% { color: #777; }
	16% { color: #777; }
	17% { color: #f72; }
	24% { color: #f72; }
	25% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_3 {
	0% { color: #777; }
	24% { color: #777; }
	25% { color: #f72; }
	32% { color: #f72; }
	33% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_4 {
	0% { color: #777; }
	32% { color: #777; }
	33% { color: #f72; }
	40% { color: #f72; }
	41% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_5 {
	0% { color: #777; }
	40% { color: #777; }
	41% { color: #f72; }
	48% { color: #f72; }
	49% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_6 {
	0% { color: #777; }
	48% { color: #777; }
	49% { color: #f72; }
	56% { color: #f72; }
	57% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_7 {
	0% { color: #777; }
	56% { color: #777; }
	57% { color: #f72; }
	64% { color: #f72; }
	65% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_8 {
	0% { color: #777; }
	68% { color: #777; }
	69% { color: #f72; }
	76% { color: #f72; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #f72; }
	92% { color: #f72; }
	93% { color: #777; }
	100% { color: #777; }
}
.char-0 { animation: char_0 5s linear infinite; }
.char-1 { animation: char_1 5s linear infinite; }
.char-2 { animation: char_2 5s linear infinite; }
.char-3 { animation: char_3 5s linear infinite; }
.char-4 { animation: char_4 5s linear infinite; }
.char-5 { animation: char_5 5s linear infinite; }
.char-6 { animation: char_6 5s linear infinite; }
.char-7 { animation: char_7 5s linear infinite; }
.char-8 { animation: char_8 5s linear infinite; }

.roulette-container {
	display: flex;
	justify-content: space-between;
}
#roulette-form,
.results-container {
	width: 48%;
}

.label-copy {
	vertical-align: middle;
	padding-left: 0.25rem;
}

.large-monsters label,
.armor-skills label {
	display: block;
}
.armor-skills label {
	margin: 0.25rem 0;
}

#submit-button {
	line-height: 1;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	height: auto;
}
#submit-button span {
	vertical-align: top;
}
.submit-copy {
	display: inline-block;
	line-height: 1.5rem;
	height: 1.5rem;
}

#carve-results {
	padding-left: 0.75rem;
}
