button {
	background: rgba(0,0,0,0.65);
	line-height: 1.75rem;
	border: 0.0625rem solid #999;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	height: 1.75rem;
	transition: 300ms;
}
button:hover {
	background: rgba(0,0,0,1);
	color: #fff;
	border-color: #fff;
}

ul {
	list-style: none;
	padding-left: 0.5rem;
	margin: 0;
}

@keyframes border_flicker {
	  0% { border-style: solid; }
	 49% { border-style: solid; }
	 50% { border-style: double; }
	 99% { border-style: double; }
	100% { border-style: solid; }
}
.roulette-header {
	text-align: center;
}
.roulette-header h1 {
	display: inline-block;
	font: italic bold 2rem var(--font_arial);
	border: 0.25rem double #fa2;
	padding: 0.5rem 1rem;
	margin: 0 auto;
	animation: border_flicker 1s linear infinite;
}
@keyframes char_0 {
	0% { color: #fa2; }
	8% { color: #fa2; }
	9% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_1 {
	0% { color: #777; }
	8% { color: #777; }
	9% { color: #fa2; }
	16% { color: #fa2; }
	17% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_2 {
	0% { color: #777; }
	16% { color: #777; }
	17% { color: #fa2; }
	24% { color: #fa2; }
	25% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_3 {
	0% { color: #777; }
	24% { color: #777; }
	25% { color: #fa2; }
	32% { color: #fa2; }
	33% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_4 {
	0% { color: #777; }
	32% { color: #777; }
	33% { color: #fa2; }
	40% { color: #fa2; }
	41% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_5 {
	0% { color: #777; }
	40% { color: #777; }
	41% { color: #fa2; }
	48% { color: #fa2; }
	49% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_6 {
	0% { color: #777; }
	48% { color: #777; }
	49% { color: #fa2; }
	56% { color: #fa2; }
	57% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_7 {
	0% { color: #777; }
	56% { color: #777; }
	57% { color: #fa2; }
	64% { color: #fa2; }
	65% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
@keyframes char_8 {
	0% { color: #777; }
	68% { color: #777; }
	69% { color: #fa2; }
	76% { color: #fa2; }
	77% { color: #777; }
	84% { color: #777; }
	85% { color: #fa2; }
	92% { color: #fa2; }
	93% { color: #777; }
	100% { color: #777; }
}
.char-0 { animation: char_0 6s linear infinite; }
.char-1 { animation: char_1 6s linear infinite; }
.char-2 { animation: char_2 6s linear infinite; }
.char-3 { animation: char_3 6s linear infinite; }
.char-4 { animation: char_4 6s linear infinite; }
.char-5 { animation: char_5 6s linear infinite; }
.char-6 { animation: char_6 6s linear infinite; }
.char-7 { animation: char_7 6s linear infinite; }
.char-8 { animation: char_8 6s linear infinite; }

#roulette-form,
#results-container {
	overflow: hidden;
	position: relative;
	padding: 0.5rem;
}

.locations-container {
	padding: 0.5rem 0;
}
.location-label {
	padding: 0 0.25rem;
}
.label-copy {
	vertical-align: middle;
	padding-left: 0.25rem;
}

.large-monsters label,
.armor-skills label {
	display: block;
}
.armor-skills label {
	margin: 0.25rem 0;
}

#submit-button {
	line-height: 1;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-top: 0.5rem;
	height: auto;
}
#submit-button span {
	vertical-align: top;
}
.submit-copy {
	display: inline-block;
	line-height: 1.5rem;
	height: 1.5rem;
}

#carve-results {
	padding-left: 0.75rem;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.show-spinner:before,
.show-spinner:after {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
}
.show-spinner:before {
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	top: 0;
}
.show-spinner:after {
	border-color: #fff #fff transparent;
	border-radius: 100%;
	border-style: solid;
	border-width: 0.25rem;
	margin: -1.125rem auto 0;
	width: 2rem;
	height: 2rem;
	top: 50%;
	animation: spin 2s infinite linear;
}

.quest-list-notice {
	z-index: 1;
	position: absolute;
	background: rgba(0,0,0,0.6);
	text-align: center;
	padding: 0.5rem 0;
	margin: 0 auto;
	width: 8rem;
	top: -50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	transition: 600ms;
}
.show-notice .quest-list-notice {
	top: 50%;
}

.drop-in-container {
	overflow: hidden;
	position: relative;
	display: block;
}
.drop-in-content {
	position: relative;
	transform: translateY(-150%);
	transition: 500ms;
}
.drop-in-content.dropped-in {
	transform: translateY(0%);
}

@media screen and (min-width: 64rem) {
	.roulette-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	#roulette-form,
	#results-container {
		width: 50%;
	}
}
