html, body {
	width: 100%;
}
body {
	color: #333;
	font: 1rem "Nanum Gothic Coding", courier, monospace;
	padding: 0 0 2rem;
	margin: 0;
}

h2, h3 {
	display: inline;
	margin: 0;
}
h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1.125rem;
}

button,
label {
	cursor: pointer;
}

main {
	padding: 0.25rem 1rem;
}

details {
	padding: 0 0.25rem 0.25rem 0.75rem;
	text-indent: -0.5rem;
}
summary {
	cursor: pointer;
	font-weight: bold;
	line-height: 1.5;
}

table {
	border-collapse: collapse;
	width: 100%;
}
thead {
	border-bottom: 1px solid #999;
}
th, td {
	line-height: 1.25rem;
	padding: 0 0.25rem;
}
th {
	text-align: left;
	border: 1px solid #999;
}
td {
	border: 1px solid #eee;
}
tbody tr {
	border-bottom: 1px solid #eee;
}
td, td * {
	vertical-align: middle;
}

article {
	font-family: "Arial", helvetica, sans-serif;
	padding: 0.5rem;
}
article p {
	line-height: 2;
	margin: 0;
}

sup {
	cursor: help;
	color: #b50;
	font-weight: bold;
	margin-left: 0.125rem;
}

nav {
	display: flex;
	padding: 0 0.5rem;
}
nav .link {
	font-size: 1.125rem;
	line-height: 1.375rem;
	padding: 0 0.5rem;
	border-color: #ccc;
	border-style: solid;
	border-width: 0.0625rem 0.0625rem 0;
}
nav a.link:hover {
	background: linear-gradient(#eee, rgba(0,0,0,0));
}
nav div.link {
	background: linear-gradient(#eee, rgba(0,0,0,0));
	color: #333;
}
nav .link:first-child {
	border-radius: 0.5rem 0 0 0;
}
nav .link:last-child {
	border-radius: 0 0.5rem 0 0;
}

.show-g .mh1 {
	display: none;
}
.show-1 .mhg {
	display: none
}

.hide {
	display: none !important;
}

.base-only {
	display: none;
}
.base-only.show {
	display: block;
}
tbody.base-only.show {
	display: table-row-group;
}

.rare-4 { background: #a0ffa0 }
.rare-5 { background: #ffb0b0 }
.rare-6 { background: #c0d0ff }
.rare-7 { background: #ffd080 }

td.materials {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 13rem;
}
td.materials.full-details {
	white-space: normal;
}

header {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
}
header img {
	display: block;
	margin-right: 1rem;
	width: 9.375rem;
}
header h1,
header p {
	font-family: "Arial", helvetica, sans-serif;
	padding: 0.25rem 0;
	margin: 0;
}
header h1 {
	font-size: 1.5rem;
}
header p {
	padding: 0.25rem 0;
}

.border-bottom {
	border-bottom-color: #999;
	border-bottom-width: 2px;
}
.no-border-bottom {
	border-bottom: 1px solid #eee !important;
}
.no-border-top {
	border-top: 0 !important;
}
tr.no-border-bottom td {
	border-bottom: 0;
}
tr.no-border-top td {
	border-top: 0;
}

.attribute-icon {
	width: 1rem;
}

footer {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 0.25rem 0.5rem;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p {
	color: #999;
	font: 1rem "Arial", helvetica, sans-serif;
	text-align: right;
	padding: 0;
	margin: 0;
}
