html, body {
	width: 100%;
}
body {
	background: #000 url("/images/background/mhg.gif");
	background-size: 2.5rem;
	color: #d7d7d7;
	font: 1rem "Nanum Gothic Coding", courier, monospace;
	padding: 0 0 2rem;
	margin: 0;
}
body.show-1 {
	background-image: url("/images/background/mh1.gif");
}

h2, h3 {
	display: inline;
	margin: 0;
}
h2 {
	font-size: 1.25rem;
}
h3 {
	font-size: 1.125rem;
}

button,
label {
	cursor: pointer;
}
button {
	color: inherit;
}
a {
	color: #3af;
}
a:hover {
	text-decoration: none;
}

main {
	padding: 0.25rem 1rem;
}

details {
	padding: 0 0.25rem 0.25rem 0.75rem;
	text-indent: -0.5rem;
}
summary {
	cursor: pointer;
	font-weight: bold;
	line-height: 1.5;
}

table {
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
thead {
	position: sticky;
	background: #202020;
	border-bottom: 1px solid #999;
	top: 0;
}
tbody {
	background: rgba(0,0,0,0.8);
}
th, td {
	line-height: 1.25rem;
	padding: 0 0.25rem;
}
th {
	text-align: left;
	border: 1px solid #999;
}
td {
	border: 1px solid #eee;
}
tbody tr {
	border-bottom: 1px solid #eee;
}
td, td * {
	vertical-align: middle;
}

article {
	font-family: "Arial", helvetica, sans-serif;
	padding: 0.5rem;
}
article p {
	line-height: 2;
	margin: 0;
}

sup {
	cursor: help;
	color: #e70;
	font-weight: bold;
	margin-left: 0.125rem;
}

nav {
	display: flex;
	padding: 0 0.5rem;
}
nav .link {
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.0), rgba(79,255,247,0.0) 90%);
	color: #856b5c;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5;
	text-shadow: 0.125rem 0.125rem 0 #000;
	padding: 0 0.75rem;
}
nav a.link {
	text-decoration: none;
}
nav a.link:hover {
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.45), rgba(79,255,247,0.0) 90%);
}
nav div.link {
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.75), rgba(79,255,247,0.0) 90%);
	color: inherit;
	text-shadow: 0.125rem 0.125rem 0 #ff435d;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}
.radio-icon {
	position: relative;
	display: inline-block;
	border: 0.125rem solid;
	border-radius: 100%;
	width: 0.625rem;
	height: 0.625rem;
}
.radio-icon:after {
	content: "";
	position: absolute;
	display: none;
	background: #3af;
	border-radius: 100%;
	margin: -0.25rem auto 0;
	width: 0.5rem;
	height: 0.5rem;
	top: 50%;
	left: 0;
	right: 0;
}
input[type="radio"]:checked + .radio-icon:after {
	display: block;
}

.show-g .mh1 {
	display: none;
}
.show-1 .mhg {
	display: none
}

.hide {
	display: none !important;
}
.ta-c {
	text-align: center;
}
.ta-r {
	text-align: right;
}

.switch-label {
	padding: 0 0.125rem;
}
.switch-label span {
	vertical-align: middle;
}
.switch-button {
	position: relative;
	display: inline-block;
	background: #a53;
	border-radius: 1rem;
	margin: 0 0.25rem;
	width: 2rem;
	height: 1rem;
	transition: 400ms;
}
.switch-button .button-tab {
	position: absolute;
	display: block;
	background: #fff;
	border-radius: 100%;
	margin: -0.4375rem 0 0;
	width: 0.875rem;
	height: 0.875rem;
	top: 50%;
	left: 0.0625rem;
	transition: 400ms;
}
input[type="checkbox"] + label span {
	transition: 400ms;
}
input[type="checkbox"]:checked + label .switch-button {
	background-color: #a3f;
}
input[type="checkbox"]:checked + label .switch-button .button-tab {
	left: 1.0625rem;
}
/* MH1/G colors */
#g-toggle + label .switch-button {
	background: #3af;
}
#g-toggle:checked + label .switch-button {
	background-color: #fa3;
}
#g-toggle:checked + label span:first-child {
	text-shadow: 0 0 0 rgba(0,0,0,0);
}
#g-toggle + label span:first-child {
	text-shadow: 0.0625rem 0.0625rem 0 #3af;
}
#g-toggle + label span:last-child {
	text-shadow: 0 0 0 rgba(0,0,0,0);
}
#g-toggle:checked + label span:last-child {
	text-shadow: 0.0625rem 0.0625rem 0 #fa3;
}

.base-only {
	display: none;
}
.base-only.show {
	display: block;
}
span.base-only.show {
	display: inline;
}
tbody.base-only.show {
	display: table-row-group;
}
tr.base-only.show {
	display: table-row;
}

.filters {
	padding: 0 0 0 1.25rem;
	margin-bottom: 0.25rem;
}
.filter-column {
	display: inline-block;
	vertical-align: middle;
}
.filter-buttons {
	margin: 0.375rem 0;
}
.filter-buttons label {
	display: inline-block;
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.0), rgba(79,255,247,0.0) 90%);
	color: #856b5c;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.5rem;
	text-shadow: 0.125rem 0.125rem 0 #000;
	padding: 0 0.75rem;
	height: 1.5rem;
}
.filter-buttons label:hover {
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.45), rgba(79,255,247,0.0) 90%);
}
.filter-buttons input:checked + label {
	background: linear-gradient(0.25turn, rgba(79,255,247,0.0) 10%, rgba(79,255,247,0.75), rgba(79,255,247,0.0) 90%);
	color: inherit;
	text-shadow: 0.125rem 0.125rem 0 #ff435d;
}

.filter-checks label {
	position: relative;
	padding-left: 1.125rem;
	margin: 0 0.25rem;
}
.filter-checks label:before,
.filter-checks label:after {
	content: "";
	position: absolute;
	margin: 0;
	left: 0;
}
.filter-checks label:before {
	box-sizing: border-box;
	border: 0.0625rem solid #d7d7d7;
	width: 1rem;
	height: 1rem;
	top: 0;
	left: 0;
}
.filter-checks label:after {
	background: rgb(79,255,247);
	width: 0.75rem;
	height: 0.75rem;
	top: 0.125rem;
	left: 0.125rem;
	opacity: 0;
	transition: opacity 300ms;
}
.filter-checks input[type=checkbox]:checked + label:after {
	opacity: 0.75;
}
.filters .element-res-label .attribute-icon {
	vertical-align: middle;
}
.filters .element-res-label span {
	line-height: 1rem;
}

.rare-4 { background: rgba(160,255,160,0.2) /* #a0ffa0 */ }
.rare-5 { background: rgba(255,176,176,0.2) /* #ffb0b0 */ }
.rare-6 { background: rgba(192,208,255,0.2) /* #c0d0ff */ }
.rare-7 { background: rgba(255,208,128,0.2) /* #ffd080 */ }

td.materials {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 13rem;
}
td.materials.full-details {
	white-space: normal;
}

header {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
}
header img {
	display: block;
	margin-right: 1rem;
	width: 9.375rem;
}
header h1,
header p {
	font-family: "Arial", helvetica, sans-serif;
	padding: 0.25rem 0;
	margin: 0;
}
header h1 {
	font-size: 1.5rem;
}
header p {
	padding: 0.25rem 0;
}

.border-bottom {
	border-bottom-color: #999;
	border-bottom-width: 2px;
}
.no-border-bottom {
	border-bottom: 1px solid #eee !important;
}
.no-border-top {
	border-top: 0 !important;
}
tr.no-border-bottom td {
	border-bottom: 0;
}
tr.no-border-top td {
	border-top: 0;
}

.attribute-icon {
	width: 1rem;
}

footer {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background: rgba(0,0,0,0.65);
	padding: 0.25rem 0.5rem;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p {
	color: #999;
	font: 1rem "Arial", helvetica, sans-serif;
	text-align: right;
	padding: 0;
	margin: 0;
}

.popup {
	display: none;
	background: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.popup-header {
	display: flex;
	align-items: center;
	padding: 0 0.25rem 0 0.5rem;
	height: 2rem;
}
.popup-header h3 {
	flex-grow: 1;
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0;
}
.popup-close {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: transparent;
	text-indent: -999em;
	border-radius: 0.25rem;
	padding: 0;
	width: 1.5rem;
	height: 1.5rem;
}
.popup-close:before,
.popup-close:after {
	content: "";
	position: absolute;
	background: #d7d7d7;
	margin: -0.125rem auto 0;
	width: 1.25rem;
	height: 0.25rem;
	top: 50%;
	left: 0;
	right: 0;
}
.popup-close:before {
	transform: rotate(45deg);
}
.popup-close:after {
	transform: rotate(315deg);
}
.popup-body {
	overflow-y: auto;
	height: calc(100% - 2rem);
}
body.show-popup {
	overflow: hidden;
}
body.show-popup .popup {
	display: block;
}
