body {
	padding-right: 1.25rem;
}

#rank-filters {
	width: 12rem;
}
#rank-filters input[type="range"] {
	display: block;
	margin: 0 auto;
	width: 65%;
}
#rank-filters .range-label {
	width: 3rem;
}

.show-1 .g-rank-label {
	opacity: 0.5;
}

/* .hide-low-rank .low-rank, */
.hide-high-rank .high-rank,
.hide-g-rank .g-rank {
	display: none !important;
}

/* Element Filters */
.filter-weapons .weapon-group-container,
.filter-weapons tbody,
.filter-weapons tr {
	display: none;
}
/* .filter-weapons .weapon-group-container.show { display: block !important; }
.filter-weapons tbody.show { display: table-row-group; }
.filter-weapons tr.show { display: table-row !important; } */
/* Fire */
.highlight-fire .weapon-group-container.fire-pre { display: block; }
.highlight-fire tbody.fire-pre { display: table-row-group; }
.highlight-fire tr.fire-pre { display: table-row; }
/* Water */
.highlight-water .weapon-group-container.water-pre { display: block; }
.highlight-water tbody.water-pre { display: table-row-group; }
.highlight-water tr.water-pre { display: table-row; }
/* Thunder */
.highlight-thunder .weapon-group-container.thunder-pre { display: block; }
.highlight-thunder tbody.thunder-pre { display: table-row-group; }
.highlight-thunder tr.thunder-pre { display: table-row; }
/* Dragon */
.highlight-dragon .weapon-group-container.dragon-pre { display: block; }
.highlight-dragon tbody.dragon-pre { display: table-row-group; }
.highlight-dragon tr.dragon-pre { display: table-row; }
/* Poison */
.highlight-poison .weapon-group-container.poison-pre { display: block; }
.highlight-poison tbody.poison-pre { display: table-row-group; }
.highlight-poison tr.poison-pre { display: table-row; }
/* Paralysis */
.highlight-paralysis .weapon-group-container.paralysis-pre { display: block; }
.highlight-paralysis tbody.paralysis-pre { display: table-row-group; }
.highlight-paralysis tr.paralysis-pre { display: table-row; }
/* Sleep */
.highlight-sleep .weapon-group-container.sleep-pre { display: block; }
.highlight-sleep tbody.sleep-pre { display: table-row-group; }
.highlight-sleep tr.sleep-pre { display: table-row; }

.highlight-fire .fire-element,
.highlight-water .water-element,
.highlight-thunder .thunder-element,
.highlight-dragon .dragon-element,
.highlight-poison .poison-status,
.highlight-paralysis .paralysis-status,
.highlight-sleep .sleep-status {
	display: table-row;
	text-shadow: 0.0625rem 0.0625rem 0 #000;
}
.highlight-fire .fire-element { color: #f74501; }
.highlight-water .water-element { color: #92eafe; }
.highlight-thunder .thunder-element { color: #c4c412; }
.highlight-dragon .dragon-element { color: #6e76bb; }

.highlight-poison .poison-status { color: #da04d1; }
.highlight-paralysis .paralysis-status { color: #ffff04; }
.highlight-sleep .sleep-status { color: #99ff5b; }

/* 1-only highlighting */
.show-1 .highlight-fire .weapon-group-container.fire-pre-base { display: block; }
.show-1 .highlight-fire tbody.fire-pre-base { display: table-row-group; }
.show-1 .highlight-fire tr.fire-pre-base { display: table-row; }
/* Water */
.show-1 .highlight-water .weapon-group-container.water-pre-base { display: block; }
.show-1 .highlight-water tbody.water-pre-base { display: table-row-group; }
.show-1 .highlight-water tr.water-pre-base { display: table-row; }
/* Thunder */
.show-1 .highlight-thunder .weapon-group-container.thunder-pre-base { display: block; }
.show-1 .highlight-thunder tbody.thunder-pre-base { display: table-row-group; }
.show-1 .highlight-thunder tr.thunder-pre-base { display: table-row; }
/* Dragon */
.show-1 .highlight-dragon .weapon-group-container.dragon-pre-base { display: block; }
.show-1 .highlight-dragon tbody.dragon-pre-base { display: table-row-group; }
.show-1 .highlight-dragon tr.dragon-pre-base { display: table-row; }
/* Poison */
.show-1 .highlight-poison .weapon-group-container.poison-pre-base { display: block; }
.show-1 .highlight-poison tbody.poison-pre-base { display: table-row-group; }
.show-1 .highlight-poison tr.poison-pre-base { display: table-row; }
/* Paralysis */
.show-1 .highlight-paralysis .weapon-group-container.paralysis-pre-base { display: block; }
.show-1 .highlight-paralysis tbody.paralysis-pre-base { display: table-row-group; }
.show-1 .highlight-paralysis tr.paralysis-pre-base { display: table-row; }
/* Sleep */
.show-1 .highlight-sleep .weapon-group-container.sleep-pre-base { display: block; }
.show-1 .highlight-sleep tbody.sleep-pre-base { display: table-row-group; }
.show-1 .highlight-sleep tr.sleep-pre-base { display: table-row; }

/* G-only highlighting */
.show-g .highlight-fire .weapon-group-container.fire-pre-g { display: block; }
.show-g .highlight-fire tbody.fire-pre-g { display: table-row-group; }
.show-g .highlight-fire tr.fire-pre-g { display: table-row; }
/* Water */
.show-g .highlight-water .weapon-group-container.water-pre-g { display: block; }
.show-g .highlight-water tbody.water-pre-g { display: table-row-group; }
.show-g .highlight-water tr.water-pre-g { display: table-row; }
/* Thunder */
.show-g .highlight-thunder .weapon-group-container.thunder-pre-g { display: block; }
.show-g .highlight-thunder tbody.thunder-pre-g { display: table-row-group; }
.show-g .highlight-thunder tr.thunder-pre-g { display: table-row; }
/* Dragon */
.show-g .highlight-dragon .weapon-group-container.dragon-pre-g { display: block; }
.show-g .highlight-dragon tbody.dragon-pre-g { display: table-row-group; }
.show-g .highlight-dragon tr.dragon-pre-g { display: table-row; }
/* Poison */
.show-g .highlight-poison .weapon-group-container.poison-pre-g { display: block; }
.show-g .highlight-poison tbody.poison-pre-g { display: table-row-group; }
.show-g .highlight-poison tr.poison-pre-g { display: table-row; }
/* Paralysis */
.show-g .highlight-paralysis .weapon-group-container.paralysis-pre-g { display: block; }
.show-g .highlight-paralysis tbody.paralysis-pre-g { display: table-row-group; }
.show-g .highlight-paralysis tr.paralysis-pre-g { display: table-row; }
/* Sleep */
.show-g .highlight-sleep .weapon-group-container.sleep-pre-g { display: block; }
.show-g .highlight-sleep tbody.sleep-pre-g { display: table-row-group; }
.show-g .highlight-sleep tr.sleep-pre-g { display: table-row; }

#melee-weapons td:first-child {
	white-space: nowrap;
}
#ranged-weapons thead {
	position: sticky;
	background: rgba(0,0,0,0.65);
	top: 0;
	left: 0;
}

/* Number Cells */
#melee-weapons td:nth-child(2),
#melee-weapons td:nth-child(3),
#melee-weapons td:nth-child(4),
#melee-weapons td:nth-child(5),
#melee-weapons td:nth-child(7),
#ranged-weapons td:nth-child(2),
#ranged-weapons td:nth-child(3),
#ranged-weapons td:nth-child(4),
#ranged-weapons td:nth-child(5),
#ranged-weapons td:nth-child(11) {
	text-align: right;
}

.ammo-label {
	display: block;
}
.filter-bowguns tbody tr {
	display: none;
}
/* Base Bowgun Ammo */
.show-nrm-1 .nrm-1,
.show-nrm-3 .nrm-3,
.show-prc-1 .prc-1,
.show-prc-2 .prc-2,
.show-prc-3 .prc-3,
.show-pllt-1 .pllt-1,
.show-pllt-2 .pllt-2,
.show-pllt-3 .pllt-3,
.show-crag-1 .crag-1,
.show-crag-2 .crag-2,
.show-crag-3 .crag-3,
.show-clust-1 .clust-1,
.show-clust-2 .clust-2,
.show-clust-3 .clust-3,
.show-disc .disc,
.show-rec-1 .rec-1,
.show-rec-2 .rec-2,
.show-poi-1 .poi-1,
.show-poi-2 .poi-2,
.show-stun-1 .stun-1,
.show-stun-2 .stun-2,
.show-slp-1 .slp-1,
.show-slp-2 .slp-2,
.show-anti .anti,
.show-demon .demon,
.show-armor .armor,
.show-dragon .dragon,
.show-dung .dung {
	display: table-row;
}
/* G Bowgun Ammo */
.show-nrm-1 .nrm-1,
.show-nrm-3 .nrm-3,
.show-prc-1 .prc-1,
.show-prc-2 .prc-2,
.show-prc-3 .prc-3,
.show-pllt-1 .pllt-1,
.show-pllt-2 .pllt-2,
.show-pllt-3 .pllt-3,
.show-crag-1 .crag-1,
.show-crag-2 .crag-2,
.show-crag-3 .crag-3,
.show-clust-1 .clust-1,
.show-clust-2 .clust-2,
.show-clust-3 .clust-3,
.show-flame .flame,
.show-water .water,
.show-thunder .thunder,
.show-dragon .dragon,
.show-rec-1 .rec-1,
.show-rec-2 .rec-2,
.show-poi-1 .poi-1,
.show-poi-2 .poi-2,
.show-stun-1 .stun-1,
.show-stun-2 .stun-2,
.show-slp-1 .slp-1,
.show-slp-2 .slp-2,
.show-anti .anti,
.show-demon .demon {
	display: table-row;
}

.sharpness-cell {
	position: relative;
	padding: 0;
	width: 8.5rem;
}
.sharpness-container {
	margin: 0 auto;
	width: 122px;
}
.sharpness-cell img {
	display: block;
}
/* Clip the sharpness graph for MH1 */
.show-1 .sharpness-cell {
	width: 7rem;
}
.show-1 .sharpness-container {
	overflow-x: hidden;
	border-right: 1px solid #808080;
	height: 10px;
	width: 91px;
}

.branch {
	display: none;
}
.branch.open {
	display: table-row-group
}
.branch tr:first-child {
	border-top: 2px solid #999;
}
.branch tr:last-child {
	border-bottom: 2px solid #999;
}
.indent-1 tr td:first-child { padding-left: 1rem; }
.indent-2 tr td:first-child { padding-left: 2rem; }
.indent-3 tr td:first-child { padding-left: 3rem; }

.weapon-class-container details {
	overflow-x: auto;
	margin-left: 0.25rem;
}

.toggle-all-button {
	overflow: hidden;
	position: relative;
	text-indent: -999em;
	background: transparent;
	border: 0;
	border-radius: 0;
	width: 1rem;
}
.toggle-all-button:before,
.toggle-all-button:after {
	content: "";
	position: absolute;
	background: #d7d7d7;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 0;
	right: 0;
}
.toggle-all-button:before {
	margin-top: -0.0625rem;
	width: 0.5rem;
	height: 0.125rem;
}
.toggle-all-button:after {
	margin-top: -0.25rem;
	width: 0.125rem;
	height: 0.5rem;
}
.toggle-all-button.open:after {
	display: none;
}

.weapon-button {
	background: #999;
	border: 0;
	border-radius: 10%;
	margin-right: 0.25rem;
	width: 0.75rem;
	height: 0.75rem;
	transition: 300ms;
}
.weapon-button:hover {
	background-color: #3af;
}
.weapon-button.selected {
	background-color: #fa3;
	border-radius: 50%;
}

.branch-button {
	position: relative;
	background: transparent;
	text-align: left;
	border: 0;
	border-radius: 0;
	padding: 0 1.5rem 0 0;
}
.branch-button::after {
	content: "";
	position: absolute;
	border-color: transparent;
	border-left-color: #d7d7d7;
	border-style: solid;
	border-width: 0.375rem 0.5rem;
	margin: -0.375rem 0 0;
	top: 50%;
	right: 0;
}
.branch-button.open::after {
	border-left-color: transparent;
	border-top-color: #d7d7d7;
	border-width: 0.5rem 0.375rem;
	margin-top: -0.25rem;
	right: 0.125rem;
}

/* Damage Calculator */
#damage-calculator {
	position: fixed;
	display: none;
	box-sizing: border-box;
	z-index: 1;
	background: rgba(0,0,0,0.75);
	border: 0.25rem double;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	width: calc(100vw - 2rem);
	height: 90vh;
	top: 5vh;
	left: 100vw;
	transition: 400ms;
}
#damage-calculator.show {
	display: block;
}
#damage-calculator.expanded {
	left: 1.5rem;
}
#sidebar-content {
	overflow: auto;
	width: calc(100vw - 4rem);
	height: 100%;
}

#damage-calculator h4 {
	border-bottom: 0.0625rem solid;
	margin: 0.25rem 0;
}

.motion-values {
	display: none;
}
.bowgun-ammo {
	display: none;
}
.greatsword .greatsword-mvs,
.hammer .hammer-mvs,
.lance .lance-mvs,
.sword .sword-mvs,
.dual-swords .dual-swords-mvs,
.bowgun .bowgun-ammo {
	display: table-row-group;
}

/* Hide gunner elements for blademasters and vice-versa */
.greatsword .gunner-stat,
.hammer .gunner-stat,
.lance .gunner-stat,
.sword .gunner-stat,
.dual-swords .gunner-stat,
.bowgun .blademaster-stat {
	display: none;
}

.table-container {
	overflow-x: auto;
	width: 100%;
}

.attack-raw {
	text-align: right;
}
.sum-component:after { content: "+"; }
.sum-component:last-child:after { content: ""; }
.calc-sharpness-container {
	display: inline-block;
}
.show-1 .calc-sharpness-container {
	width: 108px;
}
.show-g .calc-sharpness-container {
	width: 137px;
}
.show-g #damage-calculator .sharpness-container {
	overflow: hidden;
	height: 10px;
}
.show-g #damage-calculator.handicraft .sharpness-container img {
	position: relative;
	top: -9px;
}
.calc-sharpness-container img {
	display: block;
}
#calc-sharpness {
	margin: 0;
	width: 100%
}
.calc-sharpness-container,
#calc-sharpness-color {
	display: inline-block;
	vertical-align: top;
}
#calc-sharpness-color {
	margin-right: 1rem;
	width: 1rem;
	height: 1rem;
}
.sharpness-0 { background: #ee0000; }
.sharpness-1 { background: #eea000; }
.sharpness-2 { background: #eeee00; }
.sharpness-3 { background: #00ee00; }
.sharpness-4 { background: #0000ff; }
.sharpness-5 { background: #ffffff; }

.radio-container * {
	vertical-align: middle;
}
.radio-icon {
	margin-right: 0.25rem;
}

.bowgun-shot-power {
	text-align: center;
}

.mv-column {
	display: none;
}

.bowgun-shot-row {
	display: none;
}
.normal-1-shot #normal-1-row,
.normal-2-shot #normal-2-row,
.normal-3-shot #normal-3-row,
.pierce-1-shot #pierce-1-row,
.pierce-2-shot #pierce-2-row,
.pierce-3-shot #pierce-3-row,
.pellet-1-shot #pellet-1-row,
.pellet-2-shot #pellet-2-row,
.pellet-3-shot #pellet-3-row,
.crag-1-shot #crag-1-row,
.crag-2-shot #crag-2-row,
.crag-3-shot #crag-3-row,
.clust-1-shot #clust-1-row,
.clust-2-shot #clust-2-row,
.clust-3-shot #clust-3-row,
.flame-shot #flame-row,
.water-shot #water-row,
.thunder-shot #thunder-row,
.dragon-shot #dragon-row,
.disc-shot #disc-row,
.recover-1-shot #recover-1-row,
.recover-2-shot #recover-2-row,
.poison-1-shot #poison-1-row,
.poison-2-shot #poison-2-row,
.stun-1-shot #stun-1-row,
.stun-2-shot #stun-2-row,
.sleep-1-shot #sleep-1-row,
.sleep-2-shot #sleep-2-row,
.tranq-shot #tranq-row,
.paint-shot #paint-row,
.dung-shot #dung-row,
.demon-shot #demon-row,
.armor-shot #armor-row {
	display: table-row;
}

#toggle-damage-calculator {
	position: absolute;
	background: rgba(0,0,0,0.65);
	line-height: 1.375rem;
	border: 0.0625rem solid #999;
	border-radius: 0.25rem 0 0 0.25rem;
	padding: 1rem 0;
	width: 1.375rem;
	min-height: 11.5rem;
	height: 100%;
	top: 50%;
	left: -1.375rem;
	transform: translateY(-50%);
}
#toggle-damage-calculator .button-copy {
	position: absolute;
	margin-top: -0.6875rem;
	width: 12rem;
	height: 1.375rem;
	top: 50%;
	left: -5.375rem;
	transform: rotate(90deg);
}
#toggle-damage-calculator:before,
#toggle-damage-calculator:after {
	content: "";
	position: absolute;
	border-color: transparent #d7d7d7 transparent transparent;
	border-style: solid;
	border-width: 0.25rem 0.5rem;
	right: 0.375rem;
}
#toggle-damage-calculator:before {
	top: 0.25rem;
}
#toggle-damage-calculator:after {
	bottom: 0.25rem;
}
#damage-calculator.expanded #toggle-damage-calculator:before,
#damage-calculator.expanded #toggle-damage-calculator:after {
	border-color: transparent transparent transparent #d7d7d7;
	right: 0;
}

/* Tablet */
@media screen and (min-width: 36rem) {
	.mv-column {
		display: table-cell;
	}
}

/* Sm Desktop */
@media screen and (min-width: 64rem) {
	#ranged-weapons .filter-column {
		padding: 0 0.25rem;
	}

	#damage-calculator {
		width: 56rem;
		height: auto;
		top: 50%;
		left: auto;
		right: -56rem;
		transform: translateY(-50%);
	}
	#damage-calculator.expanded {
		left: auto;
		right: 0;
	}
	#damage-calculator caption {
		text-align: left;
	}

	#sidebar-content {
		overflow-x: visible;
		max-height: 80vh;
		width: auto;
	}
	#sidebar-content .weapon-column {
		width: 21rem;
	}

	.columns-container {
		display: flex;
		justify-content: space-between;
	}
	.columns-container .column {
		margin-right: 0.5rem;
	}
}
