{{> head }}

<section class="filters">
	<div class="filter-column">
		<div class="filter-buttons">
			<h3>Gender:</h3>
			<input id="armor-gender-a" name="armor-gender" type="radio" value="a" checked/><label for="armor-gender-a">All</label>
			<input id="armor-gender-f" name="armor-gender" type="radio" value="f"/><label for="armor-gender-f">Female</label>
			<input id="armor-gender-m" name="armor-gender" type="radio" value="m"/><label for="armor-gender-m">Male</label>
		</div>

		<div class="filter-buttons">
			<h3>Armor Class:</h3>
			<input id="armor-class-a" name="armor-class" type="radio" value="a" checked/><label for="armor-class-a">All</label>
			<input id="armor-class-b" name="armor-class" type="radio" value="b"/><label for="armor-class-b">Blademaster</label>
			<input id="armor-class-g" name="armor-class" type="radio" value="g"/><label for="armor-class-g">Gunner</label>
			<input id="armor-class-e" name="armor-class" type="radio" value="e"/><label for="armor-class-e">Both</label>
		</div>
	</div>

	<div class="filter-column">
		<div class="filter-checks">
			<h3>Elemental Resistances:</h3>
			<div>
				<input id="armor-stat-fire-up" name="armor-stat" type="checkbox" value="f+"/>
				<label for="armor-stat-fire-up" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/fire.png" alt="Fire"/><span>+</span>
				</label>
				<input id="armor-stat-water-up" name="armor-stat" type="checkbox" value="w+"/>
				<label for="armor-stat-water-up" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/water.png" alt="Water"/><span>+</span>
				</label>
				<input id="armor-stat-thunder-up" name="armor-stat" type="checkbox" value="t+"/>
				<label for="armor-stat-thunder-up" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/thunder.png" alt="Thunder"/><span>+</span>
				</label>
				<input id="armor-stat-ice-up" name="armor-stat" type="checkbox" value="i+"/>
				<label for="armor-stat-ice-up" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/ice.png" alt="Ice"/><span>+</span>
				</label>
				<input id="armor-stat-dragon-up" name="armor-stat" type="checkbox" value="d+"/>
				<label for="armor-stat-dragon-up" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/dragon.png" alt="Dragon"/><span>+</span>
				</label>
			</div>
			<div>
				<input id="armor-stat-fire-down" name="armor-stat" type="checkbox" value="f-"/>
				<label for="armor-stat-fire-down" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/fire.png" alt="Fire"/><span>-</span>
				</label>
				<input id="armor-stat-water-down" name="armor-stat" type="checkbox" value="w-"/>
				<label for="armor-stat-water-down" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/water.png" alt="Water"/><span>-</span>
				</label>
				<input id="armor-stat-thunder-down" name="armor-stat" type="checkbox" value="t-"/>
				<label for="armor-stat-thunder-down" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/thunder.png" alt="Thunder"/><span>-</span>
				</label>
				<input id="armor-stat-ice-down" name="armor-stat" type="checkbox" value="i-"/>
				<label for="armor-stat-ice-down" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/ice.png" alt="Ice"/><span>-</span>
				</label>
				<input id="armor-stat-dragon-down" name="armor-stat" type="checkbox" value="d-"/>
				<label for="armor-stat-dragon-down" class="element-res-label">
					<img class="attribute-icon" src="../images/attributes/dragon.png" alt="Dragon"/><span>-</span>
				</label>
			</div>
		</div>

		<hr/>

		<div class="filter-column">
			<label for="search">Search: </label>
			<input id="search" type="text" placeholder="Armor"/>
		</div>
	</div>

	<div class="filter-column toggle-everything-container">
		<div class="filter-checks">
			<input id="toggle-everything" type="checkbox"/>
			<label for="toggle-everything">Show Everything</label>
		</div>
	</div>
</section>

{{#armorCategories}}
	<details class="armor-class-container">
		<summary>
			<h2><span class="white-icon {{categoryClass}}-icon"></span> <span>{{armorCategory}}</span></h2>
		</summary>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Rarity</th>
					<th>Gender</th>
					<th class="hunter-class-cell">Class</th>
					<th>Defense</th>
					<th colspan="5">Resistances</th>
					<th>Slots</th>
					<th>Skills</th>
					<th>Price</th>
					<th>Forge Materials</th>
					<th>Branch At</th>
					<th>Upgrade Materials</th>
				</tr>
			</thead>
			<tbody id="{{categoryClass}}-tbody">
				{{#armor}}
					<tr class="rarity-{{rarity}} {{#sex}}armor-gender-{{sex.0}} {{/sex}}{{#hunterClass}}armor-class-{{hunterClass.0}} {{/hunterClass}}{{#branching}}branching{{/branching}}{{#branch}}branch {{branchClass}}{{/branch}}">
						<td>
							<label>
								<input class="armor-radio" type="radio" name="{{categoryClass}}_armor" value="{{name}}" data-armor-category="{{armorCategory}}"/>
								<div class="radio-icon"></div>
							</label>
							{{#branching}}<button class="branch-button" data-target="{{branchTarget}}">{{/branching}}
							{{#branch}}&nbsp;&#8735;{{/branch}}
							{{name}}
							{{#branching}}</button>{{/branching}}
						</td>
						<td class="ta-c">{{rarity}}</td>
						<td>{{sex}}</td>
						<td class="hunter-class-cell">{{hunterClass}}</td>
						<td>{{defense}}</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/fire.png" alt="Fire"/>
							<span class="res-value">{{resistances.0}}</span>
						</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/water.png" alt="Water"/>
							<span class="res-value">{{resistances.1}}</span>
						</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/thunder.png" alt="Thunder"/>
							<span class="res-value">{{resistances.2}}</span>
						</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/ice.png" alt="Ice"/>
							<span class="res-value">{{resistances.3}}</span>
						</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/dragon.png" alt="Dragon"/>
							<span class="res-value">{{resistances.4}}</span>
						</td>
						<td>{{slots}}</td>
						<td class="expandable" title="click to toggle full list">
							{{#skills}}
								<span class="comma-separated"> {{k}}{{#q}} {{q}}{{/q}}</span>
							{{/skills}}
						</td>
						<td class="ta-r">
							{{#cost}}{{cost}}z{{/cost}}
							{{^cost}}n/a{{/cost}}
						</td>
						<td class="expandable" title="click to toggle full list">
							{{#forge}}
								<span class="comma-separated"> {{q}} {{&m}}</span>
							{{/forge}}
							{{acquire}}
						</td>
						<td>
							{{#upgradeLevel}}
								Lv {{upgradeLevel}}
							{{/upgradeLevel}}
						</td>
						<td class="expandable" title="click to toggle full list">
							{{#upgradeLevels}}
								<div class="upgrade-level">
									<span>Lv {{level}}: [{{price}}z] </span>
									{{#materials}}
										<span class="comma-separated"> {{q}} {{&m}}</span>
									{{/materials}}
								</div>
							{{/upgradeLevels}}
						</td>
					</tr>
				{{/armor}}
			</tbody>
		</table>
	</details>
{{/armorCategories}}

<details>
	<summary>
		<h2><span class="white-icon gem-icon"></span> <span>Decorations</span></h2>
	</summary>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Rarity</th>
				<th>Slots</th>
				<th>Skills</th>
				<th>Price</th>
				<th>Forge</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="6">
					<input id="decoration-none" name="decoration" type="radio" value="0" checked/>
					<label for="decoration-none" class="decoration-label">none</label>
				</th>
			</tr>
			{{#decorations}}
				<tr class="rarity-{{rarity}}">
					<th>
						<input id="decoration-{{index}}" name="decoration" type="radio" value="{{index}}"/>
						<label for="decoration-{{index}}" class="decoration-label">
							<span class="gem-icon {{color}}-icon"></span> <span>{{name}}</span>
							{{#gunner}}<sup>Gunner</sup>{{/gunner}}
						</label>
					</th>
					<td>{{rarity}}</td>
					<td>{{slots}}</td>
					<td class="expandable">
						{{#skills}}
							<span class="comma-separated">{{k}} {{q}}</span>
						{{/skills}}
					</td>
					<td>{{price}}z</td>
					<td>
						{{#forge}}
							<span class="comma-separated">{{q}} {{m}}</span>
						{{/forge}}
					</td>
				</tr>
			{{/decorations}}
		</tbody>
	</table>
</details>

<hr/>

<details>
	<summary>About Armor</summary>

	<h2>Defense</h2>
	<p>
		The Defense stat determines how much raw damage you will take. The formula is as follows:
	</p>
	<pre>Percent Damage Taken = 100 &times; 80 &div; (80 + Defense)</pre>
	<p>
		Subtract from 100 to see how much damage is blocked:
	</p>
	<pre>Percent Damage Blocked = 100 - 100 &times; 80 &div; (80 + Defense)</pre>
	<p>
		E.G. 0 Def = 0% damage blocked, 20 Def = 20%, 80 Def = 50%, 120 Def = 60%
	</p>
	<p>
		Furthermore if your health drops to 40% or less, your defense is boosted by 30.
	</p>

	<h2>Element Resistance</h2>
	<p>
		The Element Resistance stats determine how much of the relevant element damage you will take. Element damage resistance is partly determined by your armor's Defense, as well as its Resistance to the given element. Positive Element Resistance will reduce the damage you take from that element, while negative resistance will increase it.
	</p>
	<pre>Percent Damage Blocked = 100 - (100 &times; 80 &div; (80 + Defense)) &times; ((100 - Element Resistance) &div; 100)</pre>
	<p>
		E.G. 80 Def &amp; 10 Fire Res = 55% fire damage blocked, 80 Def &amp; -10 Fire Res = 45% fire damage blocked
	</p>

	<p>
		Check the "Show True Values" checkbox in the armor builder to see how much raw damage and element damage is blocked by your armor set.
	</p>

	<h2>Defense Up Buffs</h2>
	<p>
		Your defense can be buffed by various means, some of which can be stacked with others. See the following table, in which all items in the same category will overwrite or ignore each other.
	</p>
	<table>
		<tbody>
			<tr>
				<th>Charm:</th>
				<td>Armorcharm [+10]</td>
			</tr>
			<tr>
				<th>Talon:</th>
				<td>Armortalon [+25]</td>
			</tr>
			<tr>
				<th>Armor Skill:</th>
				<td>-40, -30, -20, +20, +30, +40</td>
			</tr>
			<tr>
				<th>Dining &amp; Consumables:</th>
				<td>Dining Buff [+5, +10], Armorskin [+3], Mega Armorskin [+10],<span title="Armor Shot will replace any other defense buffs from its category. E.G. replacing Mega Armorskin's +10 with +3 from the shot."> Demon Shot [+3]*</span></td>
			</tr>
			<tr>
				<th>Short-Term Consumables:</th>
				<td>Adamant Seed [+20], Adamant Pill [+25], Armor Flute [+20]</td>
			</tr>
		</tbody>
	</table>
	<p>
		<i>*Armor Shot will <b>replace</b> any other defense buffs from its category. E.G. replacing Mega Armorskin's +10 with +3 from the shot.</i>
	</p>

	<h2>Upgrades</h2>
	<p>
		Armor can be upgraded with monster parts up to a certain level: usually level 5, but higher for some armor pieces. Upgraded armor will have higher defense, and sometimes additional decoration slots. If the upgrade will add a decoration slot, all decorations currently slotted in the armor will be destroyed.
	</p>

	<h2>Branches</h2>
	<p>
		Most armor will branch into one or more variants at a certain level. These branching pieces will differ in appearance, defense, and armor skills, and may have different resistances and a different number of decoration slots. This lateral upgrade can only be made at the given upgrade level: usually Level 3, but it differs for some armor pieces. If the upgrade will change the number of decoration slots, all decorations currently slotted in the armor will be destroyed.<br/>
		<br/>
		Any armor piece with the branching (&#8735;) prefix can only be forged by upgrading it from its parent armor piece.
	</p>

	<h2>Decorations</h2>
	<p>
		Decorations can be slotted into armor and weapons to add (and often subtract) armor skill points. A Decoration cannot be removed once slotted, but can be destroyed and replaced by another Decoration. If you upgrade a weapon or piece of armor and the number of slots changes, all Decorations in that piece of equipment will be destroyed.
	</p>
</details>

<aside id="armor-builder">
	<button id="toggle-builder">
		<div class="builder-button-copy">Armor Set Builder</div>
	</button>

	<div class="armor-builder-content">
		<div class="armor-rows-container">
			<div class="armor-row">
				<span class="white-icon helm-icon"></span>
				<span id="headgear-name" class="headgear-name armor-name"></span>
				<button class="headgear-deco armor-deco" data-category="headgear" data-index="0"></button>
				<button class="headgear-deco armor-deco" data-category="headgear" data-index="1"></button>
				<button class="headgear-deco armor-deco" data-category="headgear" data-index="2"></button>

				<input class="headgear-deco-index" type="hidden" value="0"/>
				<input class="headgear-deco-index" type="hidden" value="0"/>
				<input class="headgear-deco-index" type="hidden" value="0"/>

				<label class="armor-level-label">Lv</label>
				<select id="headgear-level" class="armor-piece-level">
					<option value="0">1</option>
					<option value="1" disabled>2</option>
					<option value="2" disabled>3</option>
					<option value="3" disabled>4</option>
					<option value="4" disabled>5</option>
					<option value="5" disabled>6</option>
					<option value="6" disabled>7</option>
				</select>
			</div>
			<ul id="headgear-decos-row" class="armor-decos-row">
			</ul>

			<div class="armor-row">
				<span class="white-icon torso-icon"></span>
				<span id="torso-name" class="torso-name armor-name"></span>
				<button class="torso-deco armor-deco" data-category="torso" data-index="0"></button>
				<button class="torso-deco armor-deco" data-category="torso" data-index="1"></button>
				<button class="torso-deco armor-deco" data-category="torso" data-index="2"></button>

				<input class="torso-deco-index" type="hidden" value="0"/>
				<input class="torso-deco-index" type="hidden" value="0"/>
				<input class="torso-deco-index" type="hidden" value="0"/>

				<label class="armor-level-label">Lv</label>
				<select id="torso-level" class="armor-piece-level">
					<option value="0">1</option>
					<option value="1" disabled>2</option>
					<option value="2" disabled>3</option>
					<option value="3" disabled>4</option>
					<option value="4" disabled>5</option>
					<option value="5" disabled>6</option>
					<option value="6" disabled>7</option>
				</select>
			</div>
			<ul id="torso-decos-row" class="armor-decos-row">
			</ul>

			<div class="armor-row">
				<span class="white-icon arm-icon"></span>
				<span id="arms-name" class="arms-name armor-name"></span>
				<button class="arms-deco armor-deco" data-category="arms" data-index="0"></button>
				<button class="arms-deco armor-deco" data-category="arms" data-index="1"></button>
				<button class="arms-deco armor-deco" data-category="arms" data-index="2"></button>

				<input class="arms-deco-index" type="hidden" value="0"/>
				<input class="arms-deco-index" type="hidden" value="0"/>
				<input class="arms-deco-index" type="hidden" value="0"/>

				<label class="armor-level-label">Lv</label>
				<select id="arms-level" class="armor-piece-level">
					<option value="0">1</option>
					<option value="1" disabled>2</option>
					<option value="2" disabled>3</option>
					<option value="3" disabled>4</option>
					<option value="4" disabled>5</option>
					<option value="5" disabled>6</option>
					<option value="6" disabled>7</option>
				</select>
			</div>
			<ul id="arms-decos-row" class="armor-decos-row">
			</ul>

			<div class="armor-row">
				<span class="white-icon waist-icon"></span>
				<span id="waist-name" class="waist-name armor-name"></span>
				<button class="waist-deco armor-deco" data-category="waist" data-index="0"></button>
				<button class="waist-deco armor-deco" data-category="waist" data-index="1"></button>
				<button class="waist-deco armor-deco" data-category="waist" data-index="2"></button>

				<input class="waist-deco-index" type="hidden" value="0"/>
				<input class="waist-deco-index" type="hidden" value="0"/>
				<input class="waist-deco-index" type="hidden" value="0"/>

				<label class="armor-level-label">Lv</label>
				<select id="waist-level" class="armor-piece-level">
					<option value="0">1</option>
					<option value="1" disabled>2</option>
					<option value="2" disabled>3</option>
					<option value="3" disabled>4</option>
					<option value="4" disabled>5</option>
					<option value="5" disabled>6</option>
					<option value="6" disabled>7</option>
				</select>
			</div>
			<ul id="waist-decos-row" class="armor-decos-row">
			</ul>

			<div class="armor-row">
				<span class="white-icon foot-icon"></span>
				<span id="legs-name" class="legs-name armor-name"></span>
				<button class="legs-deco armor-deco" data-category="legs" data-index="0"></button>
				<button class="legs-deco armor-deco" data-category="legs" data-index="1"></button>
				<button class="legs-deco armor-deco" data-category="legs" data-index="2"></button>

				<input class="legs-deco-index" type="hidden" value="0"/>
				<input class="legs-deco-index" type="hidden" value="0"/>
				<input class="legs-deco-index" type="hidden" value="0"/>

				<label class="armor-level-label">Lv</label>
				<select id="legs-level" class="armor-piece-level">
					<option value="0">1</option>
					<option value="1" disabled>2</option>
					<option value="2" disabled>3</option>
					<option value="3" disabled>4</option>
					<option value="4" disabled>5</option>
					<option value="5" disabled>6</option>
					<option value="6" disabled>7</option>
				</select>
			</div>
			<ul id="legs-decos-row" class="armor-decos-row">
			</ul>
		</div>

		<div id="gender-mixing-error" class="gender-mixing-error">Female and Male armor cannot be worn together!</div>
		<div id="class-mixing-error" class="class-mixing-error">Blademaster and Gunner armor cannot be worn together!</div>
		<div class="stats-rows">
			<table>
				<tbody>
					<tr>
						<th scope="row">Health</th><td id="health-stat" class="health-stat ta-r">100</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/fire.png" alt="Fire"/>
							<div id="fire-res" class="res-value">0</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Stamina</th><td id="stamina-stat" class="stamina-stat ta-r">100</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/water.png" alt="Water"/>
							<div id="water-res" class="res-value">0</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Attack</th><td id="attack-stat" class="attack-stat ta-r">0</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/thunder.png" alt="Thunder"/>
							<div id="thunder-res" class="res-value">0</div>
						</td>
					</tr>
					<tr>
						<th scope="row">Defense</th><td id="defense-stat" class="defense-stat ta-r">0</td>
						<td>
							<img class="attribute-icon" src="../images/attributes/ice.png" alt="Ice"/>
							<div id="ice-res" class="res-value">0</div>
						</td>
					</tr>
					<tr>
						<td colspan="2"></td>
						<td>
							<img class="attribute-icon" src="../images/attributes/dragon.png" alt="Dragon"/>
							<div id="dragon-res" class="res-value">0</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<label>
			<input id="show-true-values" type="checkbox"/>
			<span class="checkbox-icon"></span> <span class="label-copy">Show True Values</span>
		</label>

		<table>
			<tbody id="armor-skills">
			</tbody>
		</table>
		<table class="armor-cost-table">
			<tbody>
				<tr><td>Cost:</td><td><span id="armor-cost">0</span>z</td></tr>
			</tbody>
		</table>
		<table>
			<tbody id="armor-materials">
				<tr><td>None</td></tr>
			</tbody>
		</table>
	</div>
</aside>

{{> foot }}
