{{> head }}

<details>
	<summary>Jumbo Village</summary>

	<details>
		<summary>Jungle</summary>

		<article>
			{{#jumbo.jungle}}
				{{> quest }}
			{{/jumbo.jungle}}
		</article>
	</details>

	<details>
		<summary>Desert</summary>

		<article>
			{{#jumbo.desert}}
				{{> quest }}
			{{/jumbo.desert}}
		</article>
	</details>

	<details>
		<summary>Swamp</summary>

		<article>
			{{#jumbo.swamp}}
				{{> quest }}
			{{/jumbo.swamp}}
		</article>
	</details>

	<details>
		<summary>Snowy Mountain</summary>

		<article>
			{{#jumbo.snowyMountain}}
				{{> quest }}
			{{/jumbo.snowyMountain}}
		</article>
	</details>

	<details>
		<summary>Volcano</summary>

		<article>
			{{#jumbo.volcano}}
				{{> quest }}
			{{/jumbo.volcano}}
		</article>
	</details>
</details>

<details>
	<summary>Dundorma</summary>

	<details>
		<summary>Jungle</summary>

		<article>
			{{#jumbo.jungle}}
				{{> quest }}
			{{/jumbo.jungle}}
		</article>
	</details>
</details>

<hr/>

<details>
	<summary>
		Quest Progression
	</summary>

	<article>
	</article>
</details>

<details>
	<summary>
		How to unlock Training Quests
	</summary>

	<article>
	</article>
</details>

<details class="mhg">
	<summary>
		Crowns and Subspecies Quests
	</summary>

	<article>
	</article>
</details>

<details>
	<summary>
		How quest rewards work
	</summary>

	<article>
	</article>
</details>

{{> foot }}
