{{> head }}

<article>
	<details>
		<summary>
			<span class="blue-icon house-icon"></span>
			<span> Jumbo Village</span>
		</summary>

		{{#jumbo}}
			{{> mh2/quest_category }}
		{{/jumbo}}
	</details>

	<details>
		<summary>
			<span class="yellow-icon house-icon"></span>
			<span> Dundorma</span>
		</summary>

		{{#dundorma}}
			{{> mh2/quest_category }}
		{{/dundorma}}
	</details>
</article>

<hr/>

<details>
	<summary>
		Quest Progression
	</summary>

	<article>
		<h2>Key Quests</h2>
		<p>
			In order to unlock new quests and locales, you must complete certain "Key" quests from the available pool. These quests are not distinguished from optional quests in any way in-game.
		</p>

		<h2>Jumbo Villager Requests</h2>
		<p>
			Certain Villager requests are key to progression, indicated by a Red speech bubble, as opposed to a Blue one.
		</p>
	</article>
</details>

<details>
	<summary>
		How quest rewards work
	</summary>

	<article>
		<p>
			The first item in the rewards table is guaranteed, with additional rewards chosen at random from the full table. Your Luck skill determines whether you receive any additional items.
		</p>
		<table class="luck-table">
			<tbody>
				<tr>
					<td>Very Good Luck</td>
					<td>91%</td>
				</tr>
				<tr>
					<td>Good Luck</td>
					<td>81%</td>
				</tr>
				<tr>
					<td>(no luck skill)</td>
					<td>69%</td>
				</tr>
				<tr>
					<td>Bad Luck</td>
					<td>50%</td>
				</tr>
				<tr>
					<td>Disaster</td>
					<td>25%</td>
				</tr>
			</tbody>
		</table>
		<p>
			The game first determines how many rewards you will get, based on your Luck skill and the reward category (Main Goal, Subquest, Capture, etc.) Then, the first reward item is always the first item in the rewards table. Finally, each item after the first is picked at random from the table based on each item's listed drop chance. See each quest's In-depth Details for the full listing of rewards by category. The minimum and maximum numbers of rewards depend on the type of quest, and category of quest rewards. Base rewards for completing the Main Goal differ based on whether there are any Subquests:
		</p>
		<ul>
			<li>If the quest has one or more Subquests, you will receive 3-8 items for completing the Main Goal.</li>
			<li>If the quest has no Subquests, you will receive 4-10 items for completing the Main Goal.</li>
		</ul>
		<p>
			After that, each category of rewards has its own range of items as follows:
		</p>
		<table class="w-auto">
			<tbody>
				<tr>
					<th>Subquest</th>
					<td>2 - 4</td>
				</tr>
				<tr>
					<th>Capture</th>
					<td>2 - 3</td>
				</tr>
			</tbody>
		</table>
		<p>
			Breaking a monster part will guarantee one of the listed rewards for each part-break. The percent chance determines which part. Dojo quests will only guarantee one reward item, with a maximum of four possible rewards.
		</p>
	</article>
</details>

{{> foot }}
