<details id="{{id}}" class="weapon-group-container {{#highRank}}high-rank {{/highRank}}{{#gRank}}g-rank {{/gRank}}{{class}}">
	<summary>
		<h3>
			{{group}}
			{{#from}} (from <a href="#{{fromId}}" data-target="{{fromId}}">{{from}}</a>){{/from}}
			{{#toggleAll}}
				<button class="toggle-all-button{{#gToggleAll}} mhg{{/gToggleAll}}" data-target="{{id}}" title="toggle all">toggle all</button>
			{{/toggleAll}}
		</h3>
	</summary>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Rarity</th>
				<th>Damage</th>
				<th>Attribute</th>
				<th>Defense</th>
				<th>Sharpness</th>
				<th>Price</th>
				{{^other}}<th>Upgrade Materials</th>{{/other}}
				<th>Forge Materials</th>
			</tr>
		</thead>

		{{#tbody}}
			<tbody{{#bodyId}} id="{{bodyId}}"{{/bodyId}} class="{{bodyClass}}"{{#dataChildBranch}} data-child-branch="{{dataChildBranch}}"{{/dataChildBranch}}>
				{{#weapons}}
					<tr class="{{^dbLink}}rarity-{{rarity}} {{/dbLink}}{{rowClass}}"{{#rowTitle}} title="{{rowTitle}}"{{/rowTitle}}>
						{{#dbLink}}
							<td colspan="9">
								<button class="weapon-button" data-id="{{sharpness}}"></button>

								&#8735;<a href="#{{dbLink}}" data-target="{{dbLink}}">{{name}}</a>
							</td>
						{{/dbLink}}

						{{^dbLink}}
						<td>
							<button class="weapon-button" data-id="{{sharpness}}"></button>

							{{#other}}
								{{{name}}}
							{{/other}}

							{{^other}}
								{{#branchG}}
									<span class="mh1">
										{{^branchBend}}
											{{^branchStart}}| {{/branchStart}}
										{{/branchBend}}
										{{#branchBend}}&#8735;{{/branchBend}}
										{{{name}}}
									</span>
									<button class="branch-button mhg" data-target="{{branchG}}">
										{{^branchBend}}
											{{^branchStart}}| {{/branchStart}}
										{{/branchBend}}
										{{#branchBend}}&#8735;{{/branchBend}}
										{{{name}}}
								{{/branchG}}

								{{^branchG}}
									{{#branch}}
										<button class="branch-button" data-target="{{branch}}">
									{{/branch}}

									{{^branchBend}}
										{{^branchStart}}| {{/branchStart}}
									{{/branchBend}}
									{{#branchBend}}
										{{#branchBend1}}
											<span class="mh1">
										{{/branchBend1}}
											&#8735;
										{{#branchBend1}}
											</span>
											<span class="mhg">| </span>
										{{/branchBend1}}
									{{/branchBend}}

									{{{name}}}
								{{/branchG}}
							{{/other}}

							{{#gOnly}}<sup title="MHG Only">G</sup>{{/gOnly}}
							{{#dev}}<sup title="Dev Only">Dev</sup>{{/dev}}

							{{#branch}}</button>{{/branch}}
							{{#branchG}}</button>{{/branchG}}
						</td>
						<td>
							{{rarity}}
							{{^rarity}}
								<span class="mh1">{{rarity1}}</span>
								<span class="mhg">{{rarityG}}</span>
							{{/rarity}}
						</td>
						<td>
							{{damage}}
							{{#damage1}}<span class="mh1">{{damage1}}</span>{{/damage1}}
							{{#damageG}}<span class="mhg">{{damageG}}</span>{{/damageG}}
						</td>
						<td>
							{{#attribute}}
								<img class="attribute-icon" src="images/attributes/{{attribute}}.png" alt="{{attributeAlt}}" title="{{attributeAlt}}"/>
								{{attributeValue}}
								{{#attributeValue1}}<span class="mh1">{{attributeValue1}}</span>{{/attributeValue1}}
								{{#attributeValueG}}<span class="mhg">{{attributeValueG}}</span>{{/attributeValueG}}
							{{/attribute}}

							{{^attribute}}
								{{^attributeValue1}}-{{/attributeValue1}}
							{{/attribute}}
						</td>
						<td>
							{{defense}}
							{{^defense}}
								{{#defense1}}<span class="mh1">{{defense1}}</span>{{/defense1}}
								{{#defenseG}}<span class="mhg">{{defenseG}}</span>{{/defenseG}}

								{{^defense1}}-{{/defense1}}
							{{/defense}}
						</td>
						<td class="sharpness-cell">
							<div class="sharpness-container">
								<img src="images/{{sharpness}}.gif"/>
							</div>
						</td>
						<td>
							{{#buy}}({{buy}}z) {{/buy}}
							{{#price}}{{price}}z{{/price}}
							{{^price}}
								{{#price1}}<span class="mh1">{{price1}}z</span>{{/price1}}
								{{#priceG}}<span class="mhg">{{priceG}}z</span>{{/priceG}}

								{{^price1}}---{{/price1}}
							{{/price}}
						</td>
						{{^other}}
						<td class="materials" title="click to toggle full list">
							{{#upgrade}}
								{{>material}}
							{{/upgrade}}


							{{^upgrade}}
								<span class="mh1">
									{{#upgrade1}}
										{{>material}}
									{{/upgrade1}}
								</span>
								<span class="mhg">
									{{#upgradeG}}
										{{>material}}
									{{/upgradeG}}
								</span>

								{{^upgrade1}}-{{/upgrade1}}
							{{/upgrade}}
						</td>
						{{/other}}
						<td class="materials" title="click to toggle full list">
							{{#forge}}
								{{>material}}
							{{/forge}}

							{{^forge}}
								<span class="mh1">
									{{#forge1}}
										{{>material}}
									{{/forge1}}
								</span>
								<span class="mhg">
									{{#forgeG}}
										{{>material}}
									{{/forgeG}}
								</span>

								{{^acquire}}
									{{^forge1}}-{{/forge1}}
								{{/acquire}}
							{{/forge}}

							{{{acquire}}}
						</td>
					</tr>
					{{/dbLink}}
				{{/weapons}}
			</tbody>
		{{/tbody}}
	</table>
</details>
