"{{{name}}}-{{version}}": {
	"name":"{{{name}}}",
	{{#rarity}}"rare":{{{rarity}}},{{/rarity}}
	{{#dmg}}"damage":"{{{dmg}}}",{{/dmg}}
	"normal":[
		"{{#normal.0}}{{{normal.0}}}{{/normal.0}}{{^normal.0}}0{{/normal.0}}",
		"{{#normal.1}}{{{normal.1}}}{{/normal.1}}{{^normal.1}}0{{/normal.1}}",
		"{{#normal.2}}{{{normal.2}}}{{/normal.2}}{{^normal.2}}0{{/normal.2}}"
	],
	"pierce":[
		"{{#pierce.0}}{{{pierce.0}}}{{/pierce.0}}{{^pierce.0}}0{{/pierce.0}}",
		"{{#pierce.1}}{{{pierce.1}}}{{/pierce.1}}{{^pierce.1}}0{{/pierce.1}}",
		"{{#pierce.2}}{{{pierce.2}}}{{/pierce.2}}{{^pierce.2}}0{{/pierce.2}}"
	],
	"pellet":[
		"{{#pellet.0}}{{{pellet.0}}}{{/pellet.0}}{{^pellet.0}}0{{/pellet.0}}",
		"{{#pellet.1}}{{{pellet.1}}}{{/pellet.1}}{{^pellet.1}}0{{/pellet.1}}",
		"{{#pellet.2}}{{{pellet.2}}}{{/pellet.2}}{{^pellet.2}}0{{/pellet.2}}"
	],
	"crag":[
		"{{#crag.0}}{{{crag.0}}}{{/crag.0}}{{^crag.0}}0{{/crag.0}}",
		"{{#crag.1}}{{{crag.1}}}{{/crag.1}}{{^crag.1}}0{{/crag.1}}",
		"{{#crag.2}}{{{crag.2}}}{{/crag.2}}{{^crag.2}}0{{/crag.2}}"
	],
	"clust":[
		"{{#clust.0}}{{{clust.0}}}{{/clust.0}}{{^clust.0}}0{{/clust.0}}",
		"{{#clust.1}}{{{clust.1}}}{{/clust.1}}{{^clust.1}}0{{/clust.1}}",
		"{{#clust.2}}{{{clust.2}}}{{/clust.2}}{{^clust.2}}0{{/clust.2}}"
	],
	{{#disc}}"disc":{{disc}},{{/disc}}
	{{#flame}}"flame":{{flame}},{{/flame}}
	{{#water}}"water":{{water}},{{/water}}
	{{#thunder}}"thunder":{{thunder}},{{/thunder}}
	{{#dragon}}"dragon":{{dragon}},{{/dragon}}
	"recover":[
		"{{#recover.0}}{{recover.0}}{{/recover.0}}{{^recover.0}}0{{/recover.0}}",
		"{{#recover.1}}{{recover.1}}{{/recover.1}}{{^recover.1}}0{{/recover.1}}"
	],
	"poison":[
		"{{#poison.0}}{{poison.0}}{{/poison.0}}{{^poison.0}}0{{/poison.0}}",
		"{{#poison.1}}{{poison.1}}{{/poison.1}}{{^poison.1}}0{{/poison.1}}"
	],
	"stun":[
		"{{#stun.0}}{{stun.0}}{{/stun.0}}{{^stun.0}}0{{/stun.0}}",
		"{{#stun.1}}{{stun.1}}{{/stun.1}}{{^stun.1}}0{{/stun.1}}"
	],
	"sleep":[
		"{{#sleep.0}}{{sleep.0}}{{/sleep.0}}{{^sleep.0}}0{{/sleep.0}}",
		"{{#sleep.1}}{{sleep.1}}{{/sleep.1}}{{^sleep.1}}0{{/sleep.1}}"
	],
	"tranq":{{#tranq}}{{tranq}}{{/tranq}}{{^tranq}}0{{/tranq}},
	"paint":{{#paint}}{{paint}}{{/paint}}{{^paint}}0{{/paint}},
	"antidote":{{#antidote}}{{antidote}}{{/antidote}}{{^antidote}}0{{/antidote}},
	"demon":{{#demon}}{{demon}}{{/demon}}{{^demon}}0{{/demon}},
	"armor":{{#armor}}{{armor}}{{/armor}}{{^armor}}0{{/armor}},
	"dragon":{{#dragon}}{{dragon}}{{/dragon}}{{^dragon}}0{{/dragon}},
	"dung":{{#dung}}{{dung}}{{/dung}}{{^dung}}0{{/dung}},
},
