		<footer>
			{{#gToggle}}
			<div>
				<input id="g-toggle" type="checkbox" checked/>
				<label for="g-toggle" class="g-toggle-label">
					<span>MH1</span>
					<span class="switch-button">
						<span class="button-tab"></span>
					</span>
					<span>MHG</span>
				</label>
			</div>
			{{/gToggle}}
			<p>
				version 0.3.5
			</p>
		</footer>
	</body>
</html>
