		<footer id="footer">
			<div>
				{{#gToggle}}
				<input id="g-toggle" type="checkbox" checked/>
				<label for="g-toggle" class="switch-label">
					<span>MH1</span>
					<span class="switch-button">
						<span class="button-tab"></span>
					</span>
					<span>MHG</span>
				</label>
				{{/gToggle}}
				{{#matsToggle}}
				<span class="hide-mobile">|</span>
				<input id="cells-toggle" type="checkbox"/>
				<label for="cells-toggle" class="switch-label">
					<span>Shrink Cells</span>
					<span class="switch-button">
						<span class="button-tab"></span>
					</span>
					<span>Expand Cells</span>
				</label>
				{{/matsToggle}}
			</div>
			<p>
				version 1.1.0
			</p>
		</footer>
	</body>
</html>
