<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width initial-scale=1 charset=utf-8"/>
		<title>{{ title }} | Monster Hunter G</title>
		<meta name="description" content="{{ description }}"/>

		<!-- Open Graph -->
		<meta property="og:title" content="{{ title }} | Monster Hunter G"/>
		<meta property="og:description" content="{{ description }}"/>
		<meta property="og:image" content="images/meta.jpg"/>
		<meta property="og:url" content="https://mh1g-wiki.herokuapp.com/"/>
		<meta property="og:type" content="website"/>

		<!-- Twitter -->
		<meta property="twitter:title" value="Weapon Trees | Monster Hunter G"/>
		<meta property="twitter:card" value="Easily view and navigate the complex weapon trees of Monster Hunter G."/>
		<meta property="twitter:image" value="images/meta.jpg"/>
		<meta property="twitter:creator" value="@platypete"/>

		<!-- Google Fonts start -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
		<!-- Google Fonts end -->

		<link rel="stylesheet" href="css/normalize.css"/>
		<link rel="stylesheet" href="css/styles.css"/>

		<script type="text/javascript" src="js/ready.js"></script>
		<script type="text/javascript" src="js/common.js"></script>

		{{{ head }}}
	</head>
	<body class="show-g sunday-start">
		<header>
			<img class="mhg" src="images/logo.gif" alt="Monster Hunter G"/>
			<img class="mh1" src="images/logo_1.gif" alt="Monster Hunter"/>

			<aside>
				<h1>{{ title }}</h1>
				<p>
					Sourced from <a href="http://infoseek_rip.g.ribbon.to/mmpotato.hp.infoseek.co.jp/codes/MHG/">mmpotato's MHG wiki</a>.
				</p>
				{{{ subtitle }}}
			</aside>
		</header>

		<nav>
			{{#onHome}}<div class="link">Home</div>{{/onHome}}
			{{^onHome}}<a href="/" class="link">Home</a>{{/onHome}}

			{{#onWeapons}}<div class="link">Weapon<span class="show-mobile">s</span><span class="hide-mobile"> Trees</span></div>{{/onWeapons}}
			{{^onWeapons}}<a href="/weapons" class="link">Weapon<span class="show-mobile">s</span><span class="hide-mobile"> Trees</span></a>{{/onWeapons}}

			{{#onArmor}}<div class="link">Armor</div>{{/onArmor}}
			{{^onArmor}}<a href="/armor" class="link">Armor</a>{{/onArmor}}

			{{#onArmorSkills}}<div class="link">Skills</div>{{/onArmorSkills}}
			{{^onArmorSkills}}<a href="/armor-skills" class="link">Skills</a>{{/onArmorSkills}}

			{{#onItems}}<div class="link">Items</div>{{/onItems}}
			{{^onItems}}<a href="/items" class="link">Items</a>{{/onItems}}

			{{#onBestiary}}<div class="link">Bestiary</div>{{/onBestiary}}
			{{^onBestiary}}<a href="/bestiary" class="link">Bestiary</a>{{/onBestiary}}

			{{#onQuests}}<div class="link">Quests</div>{{/onQuests}}
			{{^onQuests}}<a href="/quests" class="link">Quests</a>{{/onQuests}}

			{{#onMaps}}<div class="link">Maps</div>{{/onMaps}}
			{{^onMaps}}<a href="/maps" class="link">Maps</a>{{/onMaps}}
		</nav>
