<details class="monster-details{{#unknown}} unknown{{/unknown}}{{#gOnly}} g-only{{/gOnly}}">
	<summary>
		<div class="monster-row">
			<div class="monster-icon">
				<img src="images/monsters/{{ icon }}.png"/>
			</div>
			<div class="monster-description">
				<h3>{{ name }} <span class="katakana" title="{{ kata }} ({{ rome }})">{{ kata }}</span></h3>
				<p>{{ &description }}</p>
			</div>
		</div>
	</summary>

	<section class="monster-container">
		<div class="monster-image">
			<img src="images/monsters/{{ image }}.png" alt="{{ name }}" title="{{ name }}"/>
		</div>

		<aside class="monster-data">
			<ul>
				{{#notes}}
					<li>{{&.}}</li>
				{{/notes}}
				{{#mhgNotes}}
					<li class="mhg-only">{{&.}}</li>
				{{/mhgNotes}}
			</ul>
		</aside>
	</section>
</details>
