<tr{{#mh1}} class="mh1"{{/mh1}}{{#mhg}} class="mhg"{{/mhg}}>
	<td>{{name}}</td>
	<td>{{#inputs}}<span class="comma-separated">{{.}}</span>{{/inputs}}</td>
	<td class="mv-column">
		<span{{^parts}} class="hide"{{/parts}}>
			<span>(</span>
			<span>{{#parts}}<span class="sum-component">{{.}}</span>{{/parts}}</span>
			<span>) </span>
		</span>

		<span>{{motion}}</span>
		{{#motion1}}<span class="mh1">{{motion1}}</span>{{/motion1}}
		{{#motionG}}<span class="mhg">{{motionG}}</span>{{/motionG}}
	</td>
	<td id="{{id}}-raw" class="attack-raw"{{#value}} data-value="{{value}}"{{/value}}{{#value1}} data-value-1="{{value1}}"{{/value1}}{{#valueG}} data-value-g="{{valueG}}{{/valueG}}"></td>
</tr>
