<tr class="rarity-{{rarity}}{{#mh1}} mh1{{/mh1}}{{#mhg}} mhg{{/mhg}}{{#gender}} armor-gender-{{gender.0}}{{/gender}} armor-class-{{#class}}{{class.0}}{{/class}}{{^class}}E{{/class}} {{rank}}-rank">
	<td><label>
		<input class="waist-radio" type="radio" name="waist"/>
		<div class="radio-icon"></div> <span>{{name}}</span>
		{{#suffA}}<span class="suffix-a">{{suffA}}</span>{{/suffA}}
		{{#suffB}}<span class="suffix-b">{{suffB}}</span>{{/suffB}}
		{{#dev}}<sup title="Dev Only">Dev</sup>{{/dev}}
	</label></td>
	<td class="ta-c">{{rarity}}</td>
	<td>{{gender}}</td>
	<td>{{class}}</td>
	<td class="ta-r">{{def}}</td>
	<td>
		<img class="attribute-icon" src="images/attributes/fire.png" alt="Fire"/>
		<span class="res-value">{{res.0}}</span>
	</td>
	<td>
		<img class="attribute-icon" src="images/attributes/water.png" alt="Water"/>
		<span class="res-value">{{res.1}}</span>
	</td>
	<td>
		<img class="attribute-icon" src="images/attributes/thunder.png" alt="Thunder"/>
		<span class="res-value">{{res.2}}</span>
	</td>
	<td>
		<img class="attribute-icon" src="images/attributes/dragon.png" alt="Dragon"/>
		<span class="res-value">{{res.3}}</span>
	</td>
	<td class="mhg materials" title="click to toggle full list">
		{{#skills}}
			<span class="comma-separated"> {{k}} {{q}}</span>
		{{/skills}}
	</td>
	<td class="ta-r">{{#buy}}({{buy}}z) {{/buy}}{{forge}}z</td>
	<td class="materials" title="click to toggle full list">
		{{#mats}}
			<span class="comma-separated"> {{q}} {{&m}}</span>
		{{/mats}}
	</td>
</tr>
