{{! Sharpness as the weapon's ID }}
"{{{sharpness}}}{{#version}}-{{version}}{{/version}}": {
	"name":"{{name}}",
	{{#rare}}"rare":{{{rare}}},{{/rare}}
	{{#rare1}}"rare1":{{{rare1}}},{{/rare1}}
	{{#rareG}}"rareG":{{{rareG}}},{{/rareG}}
	{{#damage}}"damage":"{{{damage}}}",{{/damage}}
	{{#baseDamage}}"baseDamage":"{{{baseDamage}}}",{{/baseDamage}}
	{{#gDamage}}"gDamage":"{{{gDamage}}}",{{/gDamage}}
	{{#attribute}}"attribute":"{{attribute}}",{{/attribute}}
	{{#attributeAlt}}"attributeAlt":"{{attributeAlt}}",{{/attributeAlt}}
	{{#attributeValue}}"attributeValue":{{attributeValue}},{{/attributeValue}}
	{{#baseAttribute}}"baseAttribute":{{baseAttribute}},{{/baseAttribute}}
	{{#gAttribute}}"gAttribute":{{gAttribute}},{{/gAttribute}}
	"sharpness":"{{{sharpness}}}"
},
