		<footer id="footer">
			<div>
				{{#expandToggle}}
				<input id="cells-toggle" type="checkbox"/>
				<label for="cells-toggle" class="switch-label">
					<span>Shrink Cells</span>
					<span class="switch-button">
						<span class="button-tab"></span>
					</span>
					<span>Expand Cells</span>
				</label>
				{{/expandToggle}}
			</div>
			<p>
				version {{versionString}}
			</p>
		</footer>
	</body>
</html>
