<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width initial-scale=1 charset=utf-8"/>
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}"/>

		<!-- Open Graph -->
		<meta property="og:title" content="{{ title }}"/>
		<meta property="og:description" content="{{ description }}"/>
		<meta property="og:image" content="images/meta.jpg"/>
		<meta property="og:url" content="https://mh1g-wiki.herokuapp.com/"/>
		<meta property="og:type" content="website"/>

		<!-- Twitter -->
		<meta property="twitter:title" value="Weapon Trees | Monster Hunter G"/>
		<meta property="twitter:card" value="Easily view and navigate the complex weapon trees of Monster Hunter G."/>
		<meta property="twitter:image" value="images/meta.jpg"/>
		<meta property="twitter:creator" value="@platypete"/>

		<!-- Google Fonts start -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
		<!-- Google Fonts end -->

		<link rel="stylesheet" href="../css/normalize.css"/>
		<link rel="stylesheet" href="../css/styles.css"/>
		<link rel="stylesheet" href="../mh2/css/styles.css"/>

		<script type="text/javascript" src="../js/ready.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>

		{{{ head }}}
	</head>
	<body class="sunday-start">
		<header>
			<img src="/mh2/images/logo.png" alt="Monster Hunter 2 DOS"/>

			<aside>
				<div class="header-title-container">
					<h1>{{ title }}</h1>
					<span class="title-separator">|</span>
					<a href="/" class="version-link mh1">Monster Hunter 1/G</a>
				</div>
				<p>
					Sourced from <a href="http://mh2kaiseki.web.fc2.com/index.html">mmpotato's MH2 wiki</a>.
				</p>
				{{{ subtitle }}}
			</aside>
		</header>

		<nav>
			{{#onHome}}<div class="link">Home</div>{{/onHome}}
			{{^onHome}}<a href="/mh2" class="link">Home</a>{{/onHome}}

			{{#onWeapons}}<div class="link">Weapon<span class="show-mobile">s</span><span class="hide-mobile"> Trees</span></div>{{/onWeapons}}
			{{^onWeapons}}<a href="/mh2/weapons" class="link">Weapon<span class="show-mobile">s</span><span class="hide-mobile"> Trees</span></a>{{/onWeapons}}

			{{#onArmor}}<div class="link">Armor</div>{{/onArmor}}
			{{^onArmor}}<a href="/mh2/armor" class="link">Armor</a>{{/onArmor}}

			{{#onArmorSkills}}<div class="link">Skills</div>{{/onArmorSkills}}
			{{^onArmorSkills}}<a href="/mh2/armor-skills" class="link">Skills</a>{{/onArmorSkills}}

			{{#onQuests}}<div class="link">Quests</div>{{/onQuests}}
			{{^onQuests}}<a href="/mh2/quests" class="link">Quests</a>{{/onQuests}}
		</nav>
